[2021-11-17 21:40] sharlagelfand commented on #114
great, thanks @giorgi-ghviniashvili!

[2021-11-17 21:43] sharlagelfand commented on #115
here is the raw spec @giorgi-ghviniashvili:

[code]

[2021-11-17 21:43] sharlagelfand commented on #107
great, thanks!

[2021-11-18 14:12] giorgi-ghviniashvili commented on #115
hi @sharlagelfand , `encoding.x.scale.domain` was missing in faked axis spec. Making sure that it is set always.

![image](https://user-images.githubusercontent.com/6615532/142431366-f4eff33b-ecd6-42e4-a692-ad1f08234bed.png)

Also set titleOpacity to 0, to hide overlapping axis titles.

[2021-11-18 14:13] #114 closed

[2021-11-18 14:23] sharlagelfand commented on #107
The behaviour of vega lite when a facet has no values (filtered out via `filter.transform`) is to remove the facet all together - just want to confirm that this is behaviour we like the look of (otherwise I can investigate if there is a way to explicitly set the domain of a facet so the facets are retained):

[code]

https://user-images.githubusercontent.com/15895337/142433243-6f014ed1-d931-47ce-9

[2021-11-18 14:51] jhofman commented on #105
Small note here that if we go to a group_by with a skewed number of points in one group, it can get hard to see the points in that large group.

Example here:

https://github.com/microsoft/datamations/issues/114#issuecomment-971887510

[2021-11-18 14:57] jhofman commented on #105
@giorgi-ghviniashvili, can you think a bit about heuristics for min and max distance between points in a group, and how that could affect row/column layouts?

[2021-11-18 15:10] jhofman commented on #7
It looks like there are some old specs that no longer work, e.g. here:

https://github.com/microsoft/datamations/blob/main/inst/htmlwidgets/test/index.html

Let's get rid of them to avoid confusion going forward.

[2021-11-18 15:39] jhofman commented on #109
One idea here is to simply treat count as "syntatic sugar" and always map it to a group_by + summarize.

For instance, `df %>% count(vaccination_status, outcome)` becomes `df %>% group_by(vaccination_status, outcome) %>% summarize(n = n())`.

This raises the separate issue of having a summarize operation that doesn't use a variable explicitly because the `n()` function is called without an argumen

[2021-11-18 15:40] jhofman commented on #107
Sounds like we're not sure what to do here. On one hand if there are two groups and you filter on one, seems okay to leave the other facet there but empty. On the other hand, if you had many groups and limited to just one, you'd probably want to drop the others.

Seems related to the idea of whether you keep around unused levels of a factor when plotting. Perhaps we can take inspiration from ggplo

[2021-11-18 15:46] jhofman commented on #104
@chisingh got a first cut of running @giorgi-ghviniashvili's app inside of jupyter working during our call!

next steps are to:

1. get python to generate a spec that gets rendered in a notebook instead of using an existing spec
2. roll the boilerplate html/javscript generation for inline datamations into the datamation object itself
3. maintain unique ids (perhaps by cell) for different datamatio

[2021-11-18 15:47] jhofman opened #117 "Render Datamations in Rmarkdown?"
@sharlagelfand, let's see if it "just works" to render a datamation in an html Rmarkdown document?

[2021-11-18 15:50] sharlagelfand commented on #107
@jhofman I think your point about looking to the actual data state (in the context of `count`, but applies here) might be a good way to direct us - e.g. filtering after the summarise results in a single row df

[code]

so maybe the empty x-axis value should get dropped, too, e.g. leaning more into the "empty value is dropped" that's present with the faceting.

[2021-11-18 15:56] sharlagelfand commented on #104
For testing out the notebook (and also testing the python spec generation), here are the specs for this chunk of code:

[code]

[code]

[raw spec (the spec that the R code produces - for testing that the python generates specs that are consistent with what R does)](https://github.com/microsoft/datamations/blob/main/sandbox/specs_for_python/raw_spec.json)

[product spec (the spec that the JS code r

[2021-11-18 19:41] sharlagelfand commented on #117
Yes, just works! 🎉  all good in [an Rmd with html_document](https://github.com/microsoft/datamations/blob/test-rmd/sandbox/test_rmd.Rmd) output (as we would expect to use, since it's HTML based).

The [HTML file](https://github.com/microsoft/datamations/blob/test-rmd/sandbox/test_rmd.html) renders fine locally for me, but for some reason not in a [github preview of the file](https://htmlpreview.gi

[2021-11-18 19:57] giorgi-ghviniashvili commented on #117
Hi @sharlagelfand , bunch of errors in the console, I don't know why:

![image](https://user-images.githubusercontent.com/6615532/142487508-72902ec5-5388-4f43-9b8e-a3af5afc67b7.png)

Here d3 is missing and has problems with in operation, possible need polyfill?

![image](https://user-images.githubusercontent.com/6615532/142487572-cda08b77-6b05-47c4-82b9-b99645eaa4d0.png)

[2021-11-18 20:37] sharlagelfand commented on #115
@giorgi-ghviniashvili what have you set for `encoding.x.scale.domain` there - just ["not_fully_vaccinated", "fully_vaccinated"]? I have only set the domain in the summarize step before, so not sure how it needs to be translated to an info grid spec

[2021-11-18 21:02] sharlagelfand commented on #7
I've cleaned out the [sandbox](https://github.com/microsoft/datamations/tree/main/sandbox) folder so it only has working specs.

[2021-11-18 21:05] sharlagelfand commented on #7
Re: testing, there are a bunch of [tests here](https://github.com/microsoft/datamations/tree/main/tests/testthat) that check the format / fields of the json on the R end. Definitely not 100% test coverage because of all the shiny, legacy code, etc, but a decent start on the core functionality:

<img width="955" alt="Screen Shot 2021-11-18 at 4 04 47 PM" src="https://user-images.githubusercontent.c

[2021-11-18 21:38] jhofman commented on #117
Amazing that it "just works"!

Seems like the github preview is a problem w/ htmlpreview.github.io.

I tried rawcdn.githack.com, an alternative, and it's working fine there. Hooray!

https://rawcdn.githack.com/microsoft/datamations/c33abbdd8654df1d3d6ccaaf84bdd444188068f6/sandbox/test_rmd.html

[2021-11-22 16:01] sharlagelfand commented on #117
oh perfect! Crisis averted. I'll close this now, feel free to reopen if there's anything else!

[2021-11-22 16:01] #117 closed

[2021-11-23 11:27] giorgi-ghviniashvili commented on #115
Hi @sharlagelfand, `scale.domain` is numeric, it will be for example, [0.5, 3.5] if we have three columns: [1, 2, 3].

[2021-11-23 11:50] giorgi-ghviniashvili commented on #105
@jhofman here is how I calculate rows now:

* first find square root of max group
* then if it is greater than the `distance`, then compute rows based on distance.

[code]

[2021-11-23 14:27] sharlagelfand commented on #115
Ah right, so in this case the _real_ x that the domain applies to is what _looks like_ column facets, right? so in the example above there are 8 column facets, so would go from 0.5 to 8.5?

[2021-11-23 14:41] jhofman opened #119 "Allow visual "options" at each step in the pipeline?"
At some point it might be nice to let people control various visual options at each point in the analysis pipeline, for instance:

* Rescale an axis to zoom to what's left, e.g. if a facet is dropped from filtering (or not)
* Showing error bars on summarizes (or not)

Probably a good to go with "what would happen if you ggplot-ed only this frame" as a default? (Sometimes vegalite and ggplot2 will

[2021-11-23 14:42] jhofman commented on #107
agreed, we'll drop facets that get filtered out and we'll mirror this for x axis values that get dropped as well.

see #119 for an enhancement some day where this behavior could be overridden with "visual options".

[2021-11-23 14:49] jhofman commented on #7
sounds like a good idea on writing python json specs out to files and testing them w/ the R testthat framework.

@chisingh, let's work on this once python is up and running.

[2021-11-23 14:53] jhofman commented on #115
we agreed that @giorgi-ghviniashvili will handle the domain on the javascript side so that this is transparent to the base language.

[2021-11-23 14:54] jhofman commented on #105
@giorgi-ghviniashvili: can you re-render the test cases at the top of this issue using this new heuristic and see how it looks?

[2021-11-23 15:09] jhofman commented on #109
@giorgi-ghviniashvili, let's play with the custom aggregation animation above for count to see how it goes?

[2021-11-23 19:32] sharlagelfand commented on #107
@giorgi-ghviniashvili I think there needs to be some additions on the JS side to properly support this "drop the x-axis / facet value" feature in filtering in info grids, since I am not controlling the values.

If the first x-axis value is filtered out, the spec seems pretty mis-aligned:

[code]

Raw spec:
<details>

[code]

</details>

<img width="771" alt="Screen Shot 2021-11-23 at 2 22 13 PM" s

[2021-11-29 13:20] giorgi-ghviniashvili commented on #105
Here is how 20 groups look like. Better than top example:

https://user-images.githubusercontent.com/6615532/143875212-83fefdce-d129-4658-82b2-28665e11166c.mov

We can also apply max number of rows if you want, to avoid 3 columns. But for me this is ok, without max number of rows.

[2021-11-29 13:23] giorgi-ghviniashvili commented on #105
52/48 is odd for me:

https://user-images.githubusercontent.com/6615532/143875696-08010128-8571-4c5b-975e-fa0ad2b60250.mov

[2021-11-29 13:27] giorgi-ghviniashvili commented on #105
50/50 is same as 48. Odd. Maybe we can apply some threshold and if number of circles are greater than this threshold, say 200 or 300, then calculate row number based on min distance in order to avoid overlapping, otherwise, just use square root way. What do you think? @jhofman . If there are few points in total: 100 or less, it makes the viz very narrow and vertical. Don't like it.

[2021-11-29 20:54] chisingh commented on #7
I have added unit tests using _pytest_ framework that can also be enabled to run after every commit once issue #104 is closed. Some of these tests use the raw json files provided by @sharlagelfand to verify that both the outputs match.

[2021-11-30 07:36] giorgi-ghviniashvili commented on #106
@sharlagelfand can you make some test specs for this?

[2021-11-30 08:25] giorgi-ghviniashvili commented on #62
I made an example of car MPG to liters per 100KM, very common calculation for car owners.. The calculation is very simple, divide ~235 by mpg. Here is the gif. We note that they have inverse dependence.

![gemini](https://user-images.githubusercontent.com/6615532/144010953-dc3ee7fe-930a-4dd7-b798-cb1710466ce8.gif)

[2021-11-30 08:46] giorgi-ghviniashvili commented on #62
ADDITION:

x1 = ax + b, where a = 1; b = 4; [vega](https://vega.github.io/editor/#/url/vega-lite/N4IgJAzgxgFgpgWwIYgFwhgF0wBwqgegIDc4BzJAOjIEtMYBXAI0poHsDp5kTykBaADZ04JAKyUAVhDYA7EABoQAEzjQATjRyZ289AGUYbAO4QABPThn1cQUh1yIMLWaZxMxuHFlmj6iHA4JnDqZkiyyhbwZrIMCEykoWwAZmZQAJ7CESHmDBA0smRmQQWYZsjqANbmxnQw1uHKbAhmKckBZQAUknSYIQVkAJSUiir2KKigxEiCDGpoANqgAB4AjGirACxKyxsADErpaABMewC+CivrqACcO2hihyerF1cbjyC7

[2021-11-30 09:50] giorgi-ghviniashvili commented on #109
@sharlagelfand , can you provide simple spec for count operation?

[2021-11-30 10:59] giorgi-ghviniashvili commented on #109
I did custom count animation, using gemini2-editor:

![c0a7e79d-cb59-4805-bd4e-888bc1d85b42](https://user-images.githubusercontent.com/6615532/144034695-bb72a961-ea34-446d-9ebe-6051c96789a6.gif)

Next phase is to implement them as keyframes, within a single datamation step.

[2021-11-30 14:44] jhofman commented on #105
agreed that the newer version gets a little weird and might not generalize well.

seems like we may want to go with something more like [this](https://github.com/microsoft/datamations/issues/105#issuecomment-962980965) but try to adjust the gap between points in subsequent frames.

@giorgi-ghviniashvili will look at this for the next mtg.

[2021-11-30 14:59] jhofman commented on #7
@chisingh will output json specs from python and @sharlagelfand will read that in and test w/ testthat in R

[2021-11-30 15:10] jhofman commented on #106
sounds like we need manual visual inspection of renderings w/ the R-generated point ids instead of automatic tests of json specs.

@sharlagelfand will use a local version of the shiny app on the as of now unmerged branch to visually check this.

one grouping is worked out and visual checks are good we can merge.

[2021-11-30 20:45] sharlagelfand commented on #106
Can confirm on the visual checks, the R generated IDs look good and the same as when the IDs are generated on the JS side! 🎉

[2021-12-01 21:35] #104 closed

[2021-12-02 11:00] giorgi-ghviniashvili commented on #107
Hey @sharlagelfand and @jhofman

* seems like the misalignment is fixed in the new PR:
![image](https://user-images.githubusercontent.com/6615532/144401088-8976737e-2f1e-4c3f-9c83-da0373a49bec.png)

* yes, after filtering colors disappears, to keep them, we need to explicitly set `scale.domain`:
[code]

* when there is empty filter, everything was messed up, was having an error in the console and

[2021-12-02 11:28] giorgi-ghviniashvili commented on #109
Managed to play animation using [animateSequence](https://github.com/uwdata/gemini#animateSequence) function.

https://user-images.githubusercontent.com/6615532/144413622-d9f59b3a-2e5e-4891-b1c8-cff9d42c6058.mov

@sharlagelfand please provide an example that involves count operation. I would to integrate this into the App and need a spec for that.

[2021-12-02 14:25] sharlagelfand commented on #109
Here is an example of what a `count()` operation looks like:

[code]

https://user-images.githubusercontent.com/15895337/144440663-50c86b17-4fd4-4e65-b46d-ed87f6036584.mov

If we want a custom animation on it, maybe we can add something to `meta` that describes what the operation is so the JS side knows?

and the raw specs:

<details>

[code]

</details>

[2021-12-02 14:50] giorgi-ghviniashvili commented on #107
Seems like only `scale.domain` works, without color range.

[code]

[2021-12-02 15:08] jhofman opened #121 "Two-variable grouping in Python"
Python handles one-variable grouping at the moment.

Let's extend that to two variables and then write a test case for it, as in the second example in the main README.

@sharlagelfand, can you show @chisingh how to get the specs out of that example?

[2021-12-02 15:08] jhofman commented on #105
this will be top priority for @giorgi-ghviniashvili.

once done, @sharlagelfand will merge in ALL THE THINGS.

[2021-12-02 15:09] jhofman commented on #18
@sharlagelfand will explore doing a custom animation for mean, which requires parsing the summarize function a bit more closely, then @giorgi-ghviniashvili can prototype it.

[2021-12-02 15:12] sharlagelfand commented on #121
Here's how you can get the specs:

[code]

[2021-12-02 16:39] sharlagelfand commented on #115
This looks good in the `dev` branch now, so will close this issue once #118 is merged

[2021-12-02 16:41] sharlagelfand commented on #106
Will close when #118 is merged

[2021-12-02 17:13] sharlagelfand commented on #7
Just working on testing those specs @chisingh and it looks like there are some discrepancies in ordering of things - in the R specs, `meta` comes before `data`, but in the python specs `data` comes first.

Similarly in the `data.values`, the order of fields do not match, e.g. in R:

[code]

versus in python:

[code]

The order of `datamations_y_raw` and `datamations_y_tooltip` are flipped here.

O

[2021-12-02 19:37] sharlagelfand commented on #109
@giorgi-ghviniashvili can you remind me what to add to meta please? `meta.custom_animation = "count"`?

[2021-12-02 20:36] giorgi-ghviniashvili commented on #109
@sharlagelfand  yes, please

[2021-12-02 21:45] giorgi-ghviniashvili commented on #105
So the original issue why we started to consider `gap` for `rows` calculating was the overlapping circles:

![image](https://user-images.githubusercontent.com/6615532/144507385-1fb1d31c-e31f-4144-9533-e7a1b5d6f0b4.png)

We could increase rows and have less columns to avoid overlapping.

For this have in mind, here is my solution:

* if width (within a group / facet) divided by columns is very smal

[2021-12-03 14:38] chisingh commented on #7
That's great! I will reorder those fields.

[2021-12-06 10:59] giorgi-ghviniashvili commented on #109
I was testing [recommendKeyframes](https://github.com/uwdata/gemini#recommendKeyframes) and [recommendWithPath](https://github.com/uwdata/gemini#recommendWithPath) with hope to get the custom animation sub-specs for each aggregation type, but looks like it does not work properly, just returns original start and end specification and nothing more, no middle specs.

![image](https://user-images.gith

[2021-12-06 11:25] giorgi-ghviniashvili commented on #109
I tried [graphscape recommender](https://github.com/uwdata/graphscape#sequence-recommender-web-application) (which is used internally by gemini), and get same response. Very interesting how it works..

![image](https://user-images.githubusercontent.com/6615532/144837945-1a290fff-4db5-4b51-afa9-178fe7060310.png)

[2021-12-07 12:55] giorgi-ghviniashvili commented on #99
@jhofman managed to export gif using [gifshot](https://github.com/yahoo/gifshot).

https://user-images.githubusercontent.com/6615532/145032703-daeffdd0-0ec4-4181-b858-15982b319781.mov

[2021-12-07 15:03] jhofman commented on #99
Is there a way to render and save the GIF within an R script by "hiding" the viewer window or something like that?

[2021-12-07 17:57] #106 closed

[2021-12-07 17:57] #115 closed

[2021-12-07 18:14] sharlagelfand commented on #105
Closed by #118

[2021-12-07 18:14] #105 closed

[2021-12-07 18:16] #107 closed

[2021-12-07 18:45] sharlagelfand commented on #18
I've updated the summary function parsing so that if the summary function is mean or median, the _first_ spec produced by `prep_spec_summarize` will contain `meta.custom_animation = "mean"` (or median).

 fyi @chisingh this is something that should be added on the python side as well, to ensure consistency between the specs

[2021-12-07 18:48] sharlagelfand opened #124 "Add `gemini_ids` to python infogrid specs"
As part of #106, we added a `gemini_ids` field to the info grid specs that gives the IDs of the records in each group, so that the IDs are consistent and tracked across all frames.

This was recent so wasn't in the specs given for recreating in python, but should be added there too if we want to be consistent re: tracking across frames. @giorgi-ghviniashvili's code creates the IDs as a fallback if

[2021-12-09 11:34] giorgi-ghviniashvili commented on #109
Wrote a function that generates intermediate specs for `count` and integrated in `App`.

https://user-images.githubusercontent.com/6615532/145388460-39f7e49a-a1a3-4cd3-b11d-c43ae831be97.mov

Some concerns:

* If we have too much circles, then stacking them into a single column is not visually correct (the circles will overlap), so we need to have actual grid.

* But if we have a grid, then how sho

[2021-12-09 14:42] jhofman commented on #109
This looks good overall. We decided to add a key frame after stacking where everything "pulls up" into the top point, keeping the y axis in the same range, and after that things zoom so the y-axis is on the range of the resulting counts.

[2021-12-09 14:48] jhofman commented on #99
this might be trickier than we thought.

@giorgi-ghviniashvili will check if there's a way to generate the gif from a node command line script or equivalent (could require a headless browser, which would be complicated.)

if it's really tricky we put this on the back burner.

[2021-12-09 15:16] jhofman opened #129 "Port shiny app to jake's account"

[2021-12-09 15:19] jhofman opened #130 "Take a pass on documentation and tidying things up"
Let's check on documentation for users of the package and documentation for developers as @sharlagelfand is wrapping things up.

[2021-12-09 15:21] jhofman commented on #62
Let's try the bmi example.

You're given weight in lbs, height in feet, and want to compute body mass index, which is (mass in kg)/(height in m)^2.

So need to convert `mass = weight / 2.2`, `meters = feet / 3`, and then do the funky formula above.

@giorgi-ghviniashvili will prototype visually to see what this might look like. presumably it starts with a scatter plot of weight and height and fini

[2021-12-10 01:53] #121 closed

[2021-12-13 17:18] sharlagelfand commented on #124
Closed by #127, checked in #131

[2021-12-13 17:18] #124 closed

[2021-12-14 09:36] giorgi-ghviniashvili commented on #62
Hi, done the bmi example.

[source spec: scatter](https://vega.github.io/editor/#/url/vega-lite/N4IgJAzgxgFgpgWwIYgFwhgF0wBwqgegIDc4BzJAOjIEtMYBXAI0poHsDp5kTykBaADZ04JAKyUAVhDYA7EABoQAEySYUqUMSSCGcCGgDaoAO5waZLGgCMYgAxL4Fq6jEB2ACxKzzzAH0AazI0ADYADko7ACY3KOs7MLCPAGYxZM9Hc0t-BBtPSgBODxCSqJDosJCPApClJgQaNDtI6Ki2kLFrZPTysSiCgoBfBVMsl2tyzN80MTCHEB9swODUWMoxEKjUsJiSlIGppdzUazcQyjc3NLdukNO3Aa8QesbUZrto5L

[2021-12-14 14:38] jhofman commented on #109
Let's show the y axis as soon as the stacking happens, and eliminate the shift on the x-axis.

Let's also zoom in on the y axis at the end so that the min and max on the axis are defined by the min and max counts.

[2021-12-14 14:45] jhofman opened #132 "Three-variable grouping in Python"
@chisingh will work on a three-variable grouping example.

@sharlagelfand, can you add the spec from the shiny app example here?

[2021-12-14 14:46] jhofman commented on #130
Would be nice to have a section that explains our conventions, e.g., one-variable grouping is x-axis, two-variable is x-axis + row facet, etc.

This could go in the readme or in a vignette.

[2021-12-14 15:12] jhofman commented on #130
@sharlagelfand, can you add some about the automated tests / integration and also documentation generation

[2021-12-14 15:27] jhofman commented on #62
Let's add some steps here:

1. First we'll see the rescalings of each variable: lbs goes to kg, ft goes to meters.
2. Then we'll see id on the y axis and bmi on the x axis as points.
3. Then they'll get binned and stacked, similar to a [quantile dot plot](https://vega.github.io/vega/examples/quantile-dot-plot/).
4. Finally we'll switch to bars instead of stacked points (although maybe we just omit

[2021-12-14 17:31] sharlagelfand commented on #132
@chisingh [Here](https://github.com/microsoft/datamations/blob/main/sandbox/penguins_three_groups.json) is an example spec grouping the penguin data by three grouping variables and getting the mean bill_length_mm.

It uses the [palmerpenguins](https://github.com/allisonhorst/palmerpenguins) dataset, looks like there's also a [python version of the package](https://github.com/mcnakhaee/palmerpengui

[2021-12-14 17:32] sharlagelfand commented on #132
Just a thought for testing, it would be good to generate the groups in a different order (e.g. species, island, sex vs island, sex, species) and also test generating the mean of different columns (there's bill length, bill depth, etc).

[2021-12-16 09:36] giorgi-ghviniashvili commented on #109
Hi @jhofman, showing y axis, but there is the shift still, because x axis labels for stacked spec is a bit closer, than grid x labels.

https://user-images.githubusercontent.com/6615532/146345964-8030e0f1-3129-4894-a1c9-fb00dc213e76.mov

@sharlagelfand , to zoom in on the y axis, please set y axis domain properly, I set it to 28 manually (and also removed `title: []`):

![image](https://user-image

[2021-12-16 12:36] giorgi-ghviniashvili commented on #62
Here it is:

https://user-images.githubusercontent.com/6615532/146373213-51b36c2c-dedd-43c2-ba28-d1848837fe96.mov

[2021-12-16 13:59] jhofman commented on #130
reminder: let's discuss how the handoff of updates from the rendering side get incorporated into the R package / shiny app. wasn't obvious to me from the documentation.

[2021-12-16 14:12] jhofman commented on #130
what's up w/ the `R/dmta_*` functions? looks like those are for tibble-style but not sanddance style, maybe?

[2021-12-16 14:17] jhofman commented on #129
Looks like I'm having an renv issue running the shiny app. Here's the output from clicking "Run App: in `app.R`:

[code]

[2021-12-16 14:23] sharlagelfand commented on #130
@giorgi-ghviniashvili is editing the JS files directly in the `htmlwidgets` folder so any JS changes are picked up automatically, and the package is built any time someone installs / updates it - nothing needs to be done on the actions end because the package isn't built on GitHub, just when it's installed.

All the `R/dmta_*` functions are leftover from the tibble-style, yup! Do we want to go ahe

[2021-12-16 14:23] sharlagelfand commented on #129
Sounds like you need to run the `renv` setup first to catch up your package library - `renv::restore()`

[2021-12-16 14:24] sharlagelfand opened #133 "Can't have multiple datamations widgets on the same page"
Looks like the way datamations widgets are created / controlled is not actually independent, making it not possible right now to properly have multiple on one page (e.g. to show multiple examples). Will demo in our meeting.

[2021-12-16 14:58] sharlagelfand commented on #129
@giorgi-ghviniashvili here is the shiny app URL for debugging: https://sharlagelfand.shinyapps.io/datamations/

[2021-12-16 15:15] jhofman commented on #109
this is a great update. is there a way to deal w/ the ghost-shift that happens on the x axis in the final two seconds?

[2021-12-16 15:33] jhofman commented on #62
@giorgi-ghviniashvili: let's see what options there are in terms of rescaling the axes before translating the points.

i'm also curious to compare this to something where we show side-by-side plots, original on the left and transformed on the right. we can discuss more about that next time.

[2021-12-16 18:12] sharlagelfand commented on #133
@giorgi-ghviniashvili [here](https://raw.githubusercontent.com/microsoft/datamations/documentation/docs/articles/Examples.html) is the HTML file with multiple widgets for debugging - thank you!

[2021-12-17 08:03] giorgi-ghviniashvili commented on #133
hi @sharlagelfand , that's definitely because `window.app` is used everywhere:

![image](https://user-images.githubusercontent.com/6615532/146510347-092ec16d-76e0-4ac1-a5cc-71a90b29d6ce.png)

Instead, it should be either window.app1, window.app2 or list of apps: [app1, app2, app3] and then access it as `window.apps[index]`.. Can you make that list?

[2021-12-17 08:19] giorgi-ghviniashvili commented on #129
Hi @sharlagelfand , I see that this function is not called at all when I click Go:

![image](https://user-images.githubusercontent.com/6615532/146512344-0256a818-88e5-4da1-b87c-71ed5df8eeb6.png)

No breakpoints are hit and nothing is printed in console. Can you make sure that this function is fired and app is really initialized?

Also would be great to save app in window using window.app, but firs

[2021-12-17 13:15] sharlagelfand commented on #129
thanks @giorgi-ghviniashvili  - that's the issue I was seeing, that the JS code is not called at all in the deployed version. It works fine locally but somehow the function is never called when deployed. Thanks for confirming! Will see if I can debug any more today, or at least roll back to a version where it was working.

[2021-12-17 13:17] sharlagelfand commented on #133
@giorgi-ghviniashvili each app is created independently [here](https://github.com/microsoft/datamations/blob/main/inst/htmlwidgets/datamationSandDance.js#L10) so I'm not able to make a list of apps - I will try to used the element ID to make each app unique though (e.g. `window.htmlwidget-5a23eaf6aa3b92eb698b` or something). Thanks!

[2021-12-17 13:57] sharlagelfand commented on #129
Not having any luck deploying earlier versions either, unfortunately (cc @jhofman) - even versions from the summer! Wondering if something is up with shinyapps.io

[2021-12-17 14:35] sharlagelfand commented on #133
Solved by making each app name unique with the ID (e.g. `window.apphtmlwidget5a23eaf6aa3b92eb698b`) - all good!

[2021-12-17 14:35] #133 closed

[2021-12-17 18:49] jhofman commented on #129
That's super strange!

I can confirm that it works fine locally for me as well.

Do you think it's worth trying to get a simple reprex of this that we could post on the [Shinyapps support form](https://community.rstudio.com/tag/shinyappsio)?

[2021-12-17 20:07] sharlagelfand commented on #129
I have a [repo here](https://github.com/sharlagelfand/datamationstest) with a minimal example that I can't get deployed at all - curious if you can @jhofman, or if not could be a good candidate for debugging the deployment, then using as a minimal example for posting.

[2021-12-17 20:40] #130 closed

[2021-12-17 20:47] sharlagelfand commented on #130
@jhofman here's the details on package dev / testing / renv etc: https://github.com/microsoft/datamations/tree/main/R#package-development

Individual functions are still documented there, just lower down.

Conventions (re grouping etc) are here: https://microsoft.github.io/datamations/articles/details.html with lots of examples here: https://microsoft.github.io/datamations/articles/Examples.html S

[2021-12-21 16:23] giorgi-ghviniashvili commented on #109
@jhofman alright, I simply set `scale.domain` to [0, 3] instead of [0.5, 2.5]. That should be set from R or Python. [0, 3] because for count middle frames, we have this domain and they should be consistent.

https://user-images.githubusercontent.com/6615532/146963785-a876ffea-2d91-4403-abde-a85b3895ddd6.mov

[2022-01-11 15:16] jhofman commented on #129
interestingly it now looks like https://sharlagelfand.shinyapps.io/datamations/ is mostly working, but it generates a NULL legend for the default datamation that shouldn't be there. (unclear to me which version of datamations is actually pushed to sharla's shiny app account.)

this legend issue might be fixed in the gemini2 branch, but there's something else broken in the shiny app on that branch.

[2022-01-11 15:24] jhofman commented on #18
@giorgi-ghviniashvili will implement custom versions of the first mean and median animations listed here: https://giorgi-ghviniashvili.github.io/aggregate-animation-data/designs/

[2022-01-12 09:59] giorgi-ghviniashvili commented on #129
@jhofman managed to run the app, but now getting this error. Do you have any idea what error it is?

"Invalid First Argument"

![image](https://user-images.githubusercontent.com/6615532/149118286-d7a07819-0863-41e8-af17-634d3d2dc340.png)

[2022-01-12 12:34] giorgi-ghviniashvili commented on #99
@jhofman managed to export gif from command line using headless chrome. Thanks to [puppeteer](https://github.com/puppeteer/puppeteer).

From R, we need to first run Shiny app, set the url or even pass url to the node.js script and then run this node.js script that is in the video.

https://user-images.githubusercontent.com/6615532/149141092-484238a4-c5b5-4ed1-8f6e-f1492cbe062a.mov

[2022-01-13 14:47] jhofman commented on #99
it's great that this is working.

now we have to decide the interface to exporting a GIF. it relies on having a running page somewhere that puppeteer connects to and runs the `exportGif()` function. this okay but would be nice to streamline.

it seems there are two basic use cases. one where you're in R or Python and want to save what you're doing, and another where you're at the command line, pot

[2022-01-17 18:17] giorgi-ghviniashvili commented on #18
@jhofman median animation is there 🔥

https://user-images.githubusercontent.com/6615532/149820520-83319a4b-7e52-4b3a-8658-5a7fbdb5f382.mov

P.S. there is a difference between count and median: median needs to have some initial `y` values to be sorted by, while `count` does not need that and can be calculated from grid spec. I added an intermediate frame with randomized data after grid.

[2022-01-18 12:05] giorgi-ghviniashvili commented on #18
@jhofman mean animation is there 🔥

https://user-images.githubusercontent.com/6615532/149934277-3f57e451-a348-4b47-8abc-f01d69d4802d.mov

[2022-01-18 14:43] jhofman commented on #18
the mean animation looks great!

two small tweaks:

1. plot the actual values on the y axis right after the grid
2. make a smooth transition from the vertically stacked y values to the diagonal sorted y values

[2022-01-18 14:56] jhofman opened #137 "Implement custom parsing for quantile custom animation"
now that @giorgi-ghviniashvili has implemented custom animations as per #18, we can extend the median animation to be for any quantile you want to compute, for instance the bottom 10% of the distribution, which is done by `quantile(x, 0.10)` in R.

@giorgi-ghviniashvili can implement this on the javascript side, he will expect a custom animation argument that gives the function and the quantile to

[2022-01-18 15:03] jhofman commented on #18
after that, min and max would be the next obvious custom animations to implement.

[2022-01-18 19:41] jhofman commented on #129
i'm able to run the shiny app on both the main branch (commit 06aa36) and the gemini2 branch (commit 76d6b05).

@giorgi-ghviniashvili: can you try to debug and see what `fittings[[1]]` is set to when that breaks?

[2022-01-20 08:28] giorgi-ghviniashvili commented on #129
@jhofman fittings[[1]] = small_salary

![image](https://user-images.githubusercontent.com/6615532/150301025-111d4cc0-03ad-4d1e-a31f-ddd2884d2313.png)

But when I do `get(fittings[[1]])`, it has an error:

![image](https://user-images.githubusercontent.com/6615532/150301220-4fa88eca-247f-4ea6-88d8-65aee2397826.png)

My understanding is that maybe `get` function comes from a different version of R p

[2022-01-20 10:03] giorgi-ghviniashvili commented on #18
updated median animation:

https://user-images.githubusercontent.com/6615532/150313094-e17f0faf-0ef2-4fea-b293-2b1985df7a4a.mov

updated mean animation:

https://user-images.githubusercontent.com/6615532/150316905-eb0fa5d6-5ab1-419f-adc3-e358b6346640.mov

[2022-01-20 11:03] giorgi-ghviniashvili commented on #18
Min:

https://user-images.githubusercontent.com/6615532/150326462-0570f8cb-6abb-4646-ba87-2cce74772927.mov

Max:

https://user-images.githubusercontent.com/6615532/150326497-f8ab0163-1883-4096-8d52-2d6f48980c00.mov

[2022-01-20 11:20] giorgi-ghviniashvili commented on #137
@jhofman as I said quantile was very easy to do. btw, `d3.median` is an alias to quantile(0.5). [see here](https://github.com/d3/d3-array/blob/main/src/median.js)

https://user-images.githubusercontent.com/6615532/150329137-4f97fd28-d292-4924-9ed2-47cb3cd0df24.mov

[2022-01-20 15:16] jhofman commented on #18
great!

a few tweaks we discussed:

  * quantile isn't starting the black lines from the top and bottom of the data range for non-median quantiles
  * let's change min and max to fadeout the other points instead of slideup the other points

also, let's check that jitter is working fine when these specs are generated from R code and see how it looks. @giorgi-ghviniashvili, can you create a video of

[2022-01-24 17:50] msftbozo opened #138 "Add a binary variable dataset of existing Datamations demo"
Since we completed the visualization of binary variables, it would be great to add a dataset to the existing (pinguins/salaries) dataset that has binary variables and datamate those.

[2022-01-27 14:54] giorgi-ghviniashvili commented on #137
Quantile animation fixed.

https://user-images.githubusercontent.com/6615532/151383367-30d65fc0-b679-4676-8963-09312b8c0bf5.mov

[2022-01-27 16:11] giorgi-ghviniashvili commented on #18
Min and max fades out.

https://user-images.githubusercontent.com/6615532/151397802-e38b5d84-9bc8-4690-8196-faea4453834c.mov

[2022-01-27 20:28] jhofman commented on #18
Nice on the fade out.

It looks like some of the points move before fading out, such as on the lower left between the 2 and 3 second mark. Any idea what's up there?

[2022-01-28 10:16] giorgi-ghviniashvili commented on #18
@jhofman I noticed it and fixed. It was missing `gemini_id` in `change.data`. Gemini recommend was not setting it by itself.

![image](https://user-images.githubusercontent.com/6615532/151528988-5d08b647-5ae2-4c60-b0c2-63509ee2b363.png)

Min:
https://user-images.githubusercontent.com/6615532/151529100-4cf3493c-0578-4e40-a232-2336feddbbdf.mov

Max:
https://user-images.githubusercontent.com/6615532/

[2022-01-28 10:56] giorgi-ghviniashvili commented on #18
Jitter works. Couple of comments though.

* we need to update R code jitter generation to start gemini_id from 1 instead of 0.
* x.scale.domain should be [0, 3] , not [0.5, 2.5].

Here is median and quantile with jitter:
https://user-images.githubusercontent.com/6615532/151532891-63aec884-1f6e-4969-8260-8dc8ff527bfa.mov

Mean + jitter:
https://user-images.githubusercontent.com/6615532/151534558-e5

[2022-01-28 14:47] jhofman commented on #18
@willdebras next step on this is related to #137, which is to parse and pass more custom functions in the vegalite spec.

For instance, right now we definitely have `meta.custom_animation = "count"` and possibly have `meta.custom_animation = "mean"` being added to vegalite specs for different steps, but most likely we don't have `min`, `max`, `median`, or `quantile`.

It would be nice to have a ge

[2022-01-28 14:53] jhofman commented on #18
p.s. @willdebras, see this comment for one thought on how to debug things, happy to know if there's a better way (i imagine there is):

https://github.com/microsoft/datamations/issues/18#issuecomment-1017611841

[2022-01-28 15:11] jhofman commented on #138
Let's see if we can use what's in #98 to make a nice example here using the baseball data.

If it looks good we can add it to the docs or a vignette or something.

[2022-01-28 15:14] jhofman commented on #18
@giorgi-ghviniashvili, can you test the custom animations with facets to make sure everything works?

[2022-01-28 15:16] jhofman commented on #99
@giorgi-ghviniashvili, let's try this: a command line node tool that has the following interface:

* Takes in three arguments: the name of a data file, a (quoted) string of R code, output file name for the gif
* Produces a file on disk with the saved gif

then we can call this from the R side with a `system()` command

[2022-02-01 03:51] willdebras commented on #18
Right now in `prep_specs_summarize.R` the meta.custom_animation is passed straight from the mappings and description:

[code]

It will be pretty straightforward to update the meta specs here to just include more summary functions from the summary_function mapping.

For the generic function parsing, I have a good sense of implementing here. The fittings object toward the beginning of `datamations_s

[2022-02-01 03:56] willdebras commented on #18
The fittings object though does not return the name of the arg if the name isn't explicitly provided, e.g. mean(x, 0.2) v mean(x, trim = 0.2). I think we can parse the result of calling `base::args() or base::formals()` on the summary function, e.g. args(mean) (which returns $x, $trim, etc.) to fill these in and provide to the vegalite specs.

[2022-02-01 04:12] willdebras commented on #137
This is a pretty straightforward update I can commit tomorrow, specifically passing the meta.custom_animation the function and the `probs` value, e.g. quantile(0.1) as a string, but interested to know if instead we want this meta spec to have the listed results of a generic parsing function, like mentioned here:

https://github.com/microsoft/datamations/issues/18#issuecomment-1026451888

[2022-02-01 04:14] willdebras commented on #137
Adding `spec[["meta"]][["custom_animation"]] <- tidy_function_args[["summarize"]][[2]]` to `prep_specs_summarize.R` generates a meta spec string like this.

[2022-02-01 11:45] giorgi-ghviniashvili commented on #18
@jhofman tested and it does not work with facets unfortunately. We will need some more time on this to make it work in facets. I am not sure if it will work with gemini or we will need some more "hacks".

In addition to that, I fixed some of the faceted view issues:
When using [these specs](https://github.com/microsoft/datamations/blob/main/sandbox/penguins_three_groups.json), we need to remove `f

[2022-02-01 15:00] jhofman commented on #18
For now let's keep the `custom_animation` field as a simple string (instead of a more generic dictionary or something like that), because we don't have a correspondence between more complicated sets of functions or function arguments and visual states that need to be rendered. If/when that changes we can revisit.

So for now we'll do:

[code]

@willdebras can put some example specs that use `quant

[2022-02-01 15:06] willdebras commented on #138
I will have this prototyped to show Thursday.

[2022-02-01 15:17] msftbozo commented on #138
that's fantastic thanks @willdebras

[2022-02-01 16:55] willdebras commented on #18
Awesome, thanks @giorgi-ghviniashvili. These make sense to me. I will add R generated specs in there for comparison tonight (tomorrow for you).

[2022-02-02 04:08] willdebras commented on #18
I added count, min, max, median, and mean example specs.

I believe these count specs are what youa re expecting, i.e. data.values gives a key value pair of n and a count, but let me know if I am off base.

Quantile is a bit tricky and will need some updates to prep_specs_summarize.R. datamations_sanddance() actually breaks with quantile passed as a summary function. `across` has a hard time apply

[2022-02-03 14:45] willdebras commented on #138
Had to make some minor bugfixes to get binary variables working. Previously across environments (in the renv environment, containered 4.1 with fresh installs, and 4.0.5 with fresh installs), datamations_sanddance() was erroring for binaries due to a util call that generates tooltip specs. This call was expecting gemini IDs despite being passed already aggregated data. The function removed columns

[2022-02-03 14:56] willdebras commented on #137
Have done some more debugging on this and have a good solution coming. Currently `datamation_sanddance()` fails to evaluate a data state for an expression like quantile(x, 0.1) because we aren't passing that `probs` value (0.1) in the prep_specs_summarize.R when we generate this data state.

Code like this:

[code]
Errors with something like this:

[code]

Specifically erroring on this line:
https

[2022-02-04 19:14] jhofman commented on #137
got it, thanks for the update @willdebras!

[2022-02-04 19:15] jhofman commented on #138
@willdebras: did you record with the native screencapture tool? that usually works pretty well for me, but @giorgi-ghviniashvili may have some other tricks up his sleeve!

[2022-02-05 08:39] giorgi-ghviniashvili commented on #138
@willdebras on mac, I was using QuickTime player which records as .mov file. But lately github had issue of embedding a player for .mov. Don't know if they resolved that issue yet or not.

[2022-02-05 09:47] giorgi-ghviniashvili commented on #18
@willdebras `scale.domain` must be `[0, 3]`, for 0.5 and 2.5 it has alignment issues.. This is true for all jsons.

<img width="1212" alt="image" src="https://user-images.githubusercontent.com/6615532/152635141-26546c44-359c-42ae-b17e-466697ebc26c.png">

Title should not be an array: [], either string or should not be present at all.

<img width="391" alt="image" src="https://user-images.githubuse

[2022-02-08 04:22] willdebras commented on #18
Sounds good.

Updates [here](https://github.com/microsoft/datamations/tree/custom_animations/sandbox/custom_animations).

- Domain scale goes from 0-3 now.
- Title is no longer present in tooltip and encoding specs. Array was misgenerated in the specs generation function if a character length 0 value is passed to it. These should be removed entirely now.
- No color created when no color mapping is

[2022-02-09 03:14] willdebras commented on #138
A couple examples of the simpsons paradox with the baseball example for review tomorrow, additionally showcasing passing ggplot2 code to datamation_sanddance

[code]

![datamation_jeter_1](https://user-images.githubusercontent.com/37971596/153114401-8fd4d2ab-a55a-48ca-ad04-cc1ca3dbe0aa.gif)

[code]

![datamation_jeter_2](https://user-images.githubusercontent.com/37971596/153114783-533d70be-75eb-41

[2022-02-09 13:18] giorgi-ghviniashvili commented on #18
@jhofman custom animations with facets are now possible. Did an example for `mean`:

https://user-images.githubusercontent.com/6615532/153208782-49a4235d-1e0e-44bd-93c9-86e294a1ed11.mov

But there is a issue when next spec is with error bars.. Will further debug and find out how to solve it.

@willdebras yes, please just remove summarized specs for now and let's test. (comment it out, we may need

[2022-02-09 14:41] jhofman commented on #18
Looks like between 14 seconds and 19 seconds in there's a shift of all points to the left.

Next steps will be to get the error bars and zoom steps working.

[2022-02-09 14:53] jhofman commented on #137
sounds like we will pass the unparsed summarize expression so it can get eval-ed exactly as given, and then have custom routines to pull out parameters that are relevant to animation (e.g., the 0.1 in `quantile(Salary, 0.1)`).

this will have to get propagated from `parse_functions` down through to `generate_specs`

[2022-02-09 14:58] willdebras commented on #138
https://user-images.githubusercontent.com/37971596/153227351-1f6703c0-8ce6-4d03-ab43-effe5861d5d4.mp4

[2022-02-09 15:08] jhofman commented on #138
@willdebras: looks better without the ggplot code at the end. we should probably modify things at some point so the ggplot-ed version looks better, but let's focus on this default version for now.

[code]

@giorgi-ghviniashvili for some reason we're seeing the points reshuffle between 11 seconds and 14 seconds. would be great to eliminate that and just have the points go from all solid to only the

[2022-02-11 14:11] willdebras commented on #137
This is working now, with a new custom parameters syntax. We should be able to genericize it. Currently generating a new mapping that is a list of all parameters passed to the summary function and applying them when calling that summary_function in generating the data states.

https://github.com/microsoft/datamations/commit/c747cfec025bb4b8d593db60b91deb06bdf905e1

For @giorgi-ghviniashvili, I now

[2022-02-11 14:24] willdebras commented on #137
The way these summary_parameters are handled is pretty nice. They can be named or unnamed in the original expression. The nature of this lets R do the work of interpreting what argument corresponds with what name.

[code]
  and
[code]

both return the following datamation.

https://user-images.githubusercontent.com/37971596/153608484-5939cf2f-1cba-49a2-9cd7-4037afb3cdaa.mp4

[2022-02-11 14:52] jhofman commented on #137
awesome.

@giorgi-ghviniashvili, can you look at the new json spec that @willdebras generated and adjust your parsing so that you pick up the quantile parameter from the new custom_animation field?

[2022-02-11 14:55] jhofman commented on #137
@willdebras, looks like the final frame specs might have the points reversed?

[2022-02-11 14:56] jhofman opened #139 "Fix for long axis label text wrap"
Sometimes we end up with long auto-generated y-axis labels, for instance `mean(total_bill_length_mm)`.

When this exceeds the length of the side of a hacked facet we get weird overlaps and repetitions.

Let's think about how to solve this. SVG text wrapping isn't particularly easy, but there are solutions. We may need to rewrite the axis label with some whitespace, though. Otherwise we'll either g

[2022-02-11 15:08] jhofman commented on #18
@giorgi-ghviniashvili made some good progress on this, the shifting to the left is fixed but there are still some details to work out in the final frames of the custom animation.

also, there's an interesting thing that happens when we have overlapping values on the quantile (or median) custom animations---it becomes difficult to see the overlap and then it sort of visually looks like you're cutti

[2022-02-11 15:10] jhofman commented on #129
@willdebras, can you check that this is working for you on shinyapps.io?

[2022-02-11 15:13] jhofman commented on #138
@willdebras, can you continue to work on this and also play with the two different sortings mentioned in the above comment?

[2022-02-13 09:29] giorgi-ghviniashvili commented on #18
**Updates on faceted custom animations:**

mean:

https://user-images.githubusercontent.com/6615532/153747020-05a42f36-7f9b-4dcb-b658-e37a2dd890ac.mov

Max:

https://user-images.githubusercontent.com/6615532/153746461-43fee5d1-d86f-4de8-a2a5-51388a4b1387.mov

Min:

https://user-images.githubusercontent.com/6615532/153746517-492111f4-5f0f-44fa-80f5-36aaa7e3ff99.mov

Median and quantile: for some re

[2022-02-16 02:20] willdebras commented on #139
Couple potential options:

1. We add a character cutoff with overflow handling i.e. `mean(total_bill_length_mm)` could end up rendered as `mean(total_bill ...`
2. We use `foreignObject` or just split the text across multiple `tspan` elements.

Either way we could have some synergistic handling here, where we process these strings on the R side.

 I could build it into the R backend to split labels

[2022-02-16 02:50] willdebras commented on #129
FYI, the app itself runs fine for me, but I have been running into deployment errors:

Error: Unhandled Exception: Child Task 1101457254 failed: Error parsing manifest: GithubUsername must be specified for GitHub package source
Execution halted

I can't quite isolate if there are issues with my renv environment. I've tried fresh restore of `renv`, updating and snapshotting of renv after updating `

[2022-02-16 02:53] willdebras commented on #129
Weirdly `rsconnect::writeManifest` does not write a json object for the datamations package. I'm not certain this is expected?

[2022-02-16 03:24] willdebras commented on #138
I've merged a PR adding the baseball dataset, the fixes to the binary variables, and some added documentation.

Working through the sorting methods mentioned.

[2022-02-16 03:51] willdebras commented on #138
It looks like sorting here works for a single groupby, but not the two. This is definitely something to fix on the R side. It seems when plotting summarize calls with multiple groups for binary variables, we miss the appending of gemini IDs somewhere, so they get rearranged.

From the baseball example, you can see the values field should have a `gemini_id` field with an array of ids, but doesn't:

[2022-02-16 04:19] willdebras commented on #138
After some debugging, I have updated the R end to ensure gemini IDs are in every summarize step, but they look correctly sorted in the specs I send along based on gemini ID. We can take a look on call tomorrow, but this might need more diving into the frontend to figure out if the plotting of this step is in the correct order.

https://github.com/microsoft/datamations/blob/custom_animations/sandbo

[2022-02-16 14:55] jhofman commented on #138
this is great. let's change the group by on the second example to be `group_by(year, player)` so that it's easier to see the simpson's paradox bit pop up.

@willdebras pointed out that there's still some funny re-grouping going on. for instance, look at jeter in 1995---it goes from two columns to one column for some reason. it should stay fixed in one column.

@giorgi-ghviniashvili, can you take a

[2022-02-16 14:55] willdebras commented on #138
Here are the screenshots of the funky regrouping. We can see that despite the sort on gemini ids in both steps now, we still get a rearrange. Only happens for two groupbys.

![image](https://user-images.githubusercontent.com/37971596/154290819-af75c008-83ae-4969-80ac-775c7692f7f8.png)

![image](https://user-images.githubusercontent.com/37971596/154290879-c445b885-d8c6-4504-8e86-b1bfab675c5f.png)

[2022-02-16 15:02] jhofman commented on #62
@willdebras, can you start to look into creating parsing for mutate as well as parsing a mutate or a summarize to figure out which variables are present and if there are 1, 2, 3, or more than 3 such variables.

from there we can start with an animation for 1 variable that does the simple transformations giorgi shows here:

https://github.com/microsoft/datamations/issues/62#issuecomment-982411233
h

[2022-02-16 15:05] willdebras opened #142 "Expand functionality datamations demo application"
With recent updates to the application, we can expand the demo app to include:

- Baseball data with binary variables
- New passable summary functions: quantile, n_distinct, other non-param functions that might just work out of the box?
- An updated version of the app with custom animations

[2022-02-22 08:24] giorgi-ghviniashvili commented on #138
@willdebras can you send json specs for this funky groupings?

[2022-02-22 13:28] willdebras commented on #138
Sure thing, these are saved here, @giorgi-ghviniashvili:

https://github.com/microsoft/datamations/blob/custom_animations/sandbox/custom_animations/custom-animations-binary-R.json

You can see these now have been updated to have gemini ID in all steps and have appropriate sorting. Still get the funky grouping though.

[2022-02-22 14:36] giorgi-ghviniashvili commented on #138
@jhofman @willdebras checked it and funky groupings happen because of different number of rows in third (rows = 35) and fourth (rows = 50) frames. We did this on purpose to avoid overlaps:

<img width="785" alt="image" src="https://user-images.githubusercontent.com/6615532/155153597-95faba0d-67dc-41e9-89cf-c9120c340a1c.png">

If we comment this code, all specs will have same number of rows and no

[2022-02-22 14:55] giorgi-ghviniashvili commented on #139
@willdebras when it comes to wrapping `foreignObject` always better idea than `tspan`. We can try `foreignObject` first. Hopefully gemini will successfully animate that, but if not then we need to use `tspan`s.  For next step, let's drop an example with bigger labels and then I will try to implement `foreignObject`. We don't need an array of texts for `foreignObject`, but we will probably need it

[2022-02-23 00:11] willdebras commented on #139
Makes sense. Here is an example of specs with labeling cutoffs:

https://github.com/microsoft/datamations/blob/custom_animations/sandbox/labeling/long-label-specs-R.json

[2022-02-24 07:51] giorgi-ghviniashvili commented on #139
@willdebras @jhofman good news, we don't need to do any special logic to wrap things, nor using foreignObject. Vega-lite itself handles that. If you need multiple lines, we should pass title as an array in the vega spec:

<img width="716" alt="image" src="https://user-images.githubusercontent.com/6615532/155481032-02660c18-2235-4ab9-a1aa-55d629ecc8ff.png">

<img width="623" alt="image" src="https:

[2022-02-24 13:40] willdebras commented on #139
This is great! I'll build in the handling and send some test specs later today for arrayed titles for your testing tomorrow.

[2022-02-24 18:59] willdebras commented on #139
https://github.com/microsoft/datamations/blob/title-arrays/sandbox/labeling/long-label-specs-split-R.json

Here is a set of specs with the y title passed as an array in that summarize step:

[code]

I'll implement it in the groupby as well shortly, but should let you test this out.

[2022-02-25 07:37] giorgi-ghviniashvili commented on #139
@willdebras it looks like this:

<img width="724" alt="image" src="https://user-images.githubusercontent.com/6615532/155674332-27cd29b6-c7f2-4b37-bbc9-31607373e6c7.png">

I think it is better to combine "of" and "long" and other small words together.

[2022-02-25 09:10] giorgi-ghviniashvili commented on #18
@willdebras can you replace `custom-animations-median-facet.json` with R generated spec in `custom_animations` branch? I would like to test median spec. Manually generated spec does not work, don't know why

[2022-02-25 10:47] giorgi-ghviniashvili commented on #18
Update: made faceted custom animations work with median and quantile. (I needed to make some tricks!)

https://user-images.githubusercontent.com/6615532/155701952-3acc9c7c-d377-42b3-a826-5c5980215023.mov

In summary, I think we are good with custom animations, let's invest some time to test all custom animations using R generated specs and then merge it 🤞🤞

[2022-02-25 13:15] willdebras commented on #139
Ah I see. It wraps on every item or the array. Okay, I will adjust the approach today so these shorter terms are combined into single strings.

[2022-02-25 13:54] willdebras commented on #18
Awesome!!

R generated specs here for custom animations if you still need them:
https://github.com/microsoft/datamations/blob/custom_animations/sandbox/custom_animations/custom-animations-median-faceted-R.json

Sounds good on testing then merge!

[2022-02-28 03:36] willdebras commented on #62
Working on producing specs for mutation and have some decent progress. I have uploaded a set of specs that includes one vega state for a mutation step.

They are saved here:
https://github.com/microsoft/datamations/tree/specs_mutate/sandbox/mutations

They work pretty seamlessly in our current codebase and I have it set up to account for the ordering of groupings, i.e. plotting differently if the

[2022-03-03 14:46] jhofman commented on #62
this is awesome!

for the groupby-mutate-summarize, let's add in a spec that shows salary before the log transform and let's remove the redundant spec that shows log salary as a scatter twice in row.

for the mutate-groupby-summarize, let's add in a spec that shows salary before the log transform and let's remove the spec that shows the second info grid of points being grouped, and instead jump st

[2022-03-03 14:59] jhofman commented on #18
this looks terrific.

now that we have colors to denote groups, it's a bit jarring to see the green and yellow come in on the median step in [this video](https://github.com/microsoft/datamations/issues/18#issuecomment-1050744147).

let's simplify things and just keep the group colors and forget the gray/green/yellow. so in this case, female points stay all orange, male points stay red, and NA stay

[2022-03-04 11:47] giorgi-ghviniashvili commented on #18
@willdebras I tested all the specs and they work great, except the `custom-animations-binary-R.json` which has mean animation. The problem is that we have `mean` animation directly after the grid, can custom animation spec be after jittered spec?

[2022-03-04 14:04] willdebras commented on #18
So right now it is usually in the set of specs directly after the jitter spec, right?

https://github.com/microsoft/datamations/blob/custom_animations/sandbox/custom_animations/custom-animations-median-faceted-R.json#L3544

The jitter spec is generated in the group_by state. Currently the custom animation is always getting applied in the first summarize spec. This binary file doesn't produce any j

[2022-03-04 15:43] giorgi-ghviniashvili commented on #18
Ah yes, you are right. So to make mean work after grid spec, we need to sort it first and then translate. Will try to fix that on my side.

[2022-03-07 01:09] willdebras commented on #62
This has been updated now, so that the following occurs:

1. All mutate calls create two sets of specs, a detected "basis" variable (or expression) from which the new variable is created, so that we can see the transformation into the new variable
2. Mutates occuring directly before a groupby cause the exclusion of the group_by infogrid, so it just transitions the plotted variable into group facet

[2022-03-08 12:04] giorgi-ghviniashvili commented on #18
@willdebras all custom animations (except count) should always be after a spec where each datapoint has y value. That's needed because first step is to animate points to slash shape (/):

<img width="702" alt="image" src="https://user-images.githubusercontent.com/6615532/157231989-82f0181a-06a2-4dcf-99d5-e0907b3b7d06.png">

--- then draw bars with mean lines and then collapse.

In case of binary v

[2022-03-08 15:06] jhofman commented on #18
i agree, i don't think custom animations for binary variables make sense, at least not for mean.

@giorgi-ghviniashvili can you work on the color issues above for next meeting?

[2022-03-08 15:12] jhofman commented on #138
sounds like we should apply this rule to all specs, find the one with the most number of rows, and use that throughout to avoid this. @giorgi-ghviniashvili, can you give it a try?

[2022-03-08 15:14] giorgi-ghviniashvili commented on #62
@jhofman here is the video. Moved bmi to y axis and jittered.

https://user-images.githubusercontent.com/6615532/157266897-3789a606-52fb-4b68-bca7-61d8446b1592.mov

[2022-03-09 16:28] giorgi-ghviniashvili commented on #18
@jhofman fixed color issue:

https://user-images.githubusercontent.com/6615532/157484711-a7be79b9-9d74-49ef-99a5-b20b3e29d42e.mov

https://user-images.githubusercontent.com/6615532/157484741-622af92b-d5b9-4543-b213-a87c0cd939e1.mov

https://user-images.githubusercontent.com/6615532/157485191-812c96a7-4cc9-4d10-9efe-a369ebdabfe9.mov

[2022-03-09 17:40] giorgi-ghviniashvili commented on #138
@jhofman fixed the funky animation as per your suggestion.

https://user-images.githubusercontent.com/6615532/157499215-6d0b24f5-b917-46a6-a041-ae212df297c0.mov

[2022-03-10 02:52] willdebras commented on #18
@giorgi-ghviniashvili The binary specs have been updated to remove custom animations meta spec. All binary specs now exclude this meta spec:

https://github.com/microsoft/datamations/blob/custom_animations/sandbox/custom_animations/custom-animations-binary-R.json

[2022-03-10 04:41] willdebras commented on #62
Checking in on this issue:

It looks like this actually occurs currently in our normal summarize specs as well, but it also looks like the domain is correct for these. They scale from 0 to 3 for both states. For example, this call:

[code]

We get two states that look like this:

![image](https://user-images.githubusercontent.com/37971596/157590429-a6d3345e-6c0f-4523-8240-157ac5fd7482.png)

![imag

[2022-03-10 09:55] giorgi-ghviniashvili commented on #62
@willdebras I see what the issue is. Main branch is a bit old. Lots of changes made in the other branch which was not merged into main yet. The latest changes are in the `custom_animations_hack_before` branch and if I test the code in that branch, it works correctly:

https://user-images.githubusercontent.com/6615532/157636862-74e486b0-fe56-41d8-b21d-742939f258cf.mov

So I think it will be automat

[2022-03-10 14:48] jhofman opened #143 "fix x label jitter between group-by grid and next frame for unequal sized groups"
sometimes when we have uneven sized groups and we go from infogrid to scatter plot, we see the x axis label jitter a bit. here's an example from 7 seconds to 10 seconds:

https://github.com/microsoft/datamations/issues/62#issuecomment-1063869253

let's try some alternatives for giving each group equal amounts of the x axis so that it lines up with the next frame.

[2022-03-10 14:56] jhofman commented on #62
this looks good but we still need to fix the x axis labels from 7 seconds to 10 seconds, added issue #143 to track this separately.

there's also something off about the final means---the bars look right (at 90ish and 88ish), but the points are off (82 and 84). maybe the summary values are being computed incorrectly? and after that the point at 84 goes up to 94 (instead of zooming).

looks like th

[2022-03-10 15:02] jhofman commented on #138
looks good! small thing: from 11 to 13 seconds the stroke width looks like it's changing. @giorgi-ghviniashvili can you track down where and @willdebras can you update on the R side?

let's change our default so that the initial circles are empty (indicating zeros) w/ strokewidth and then once we split into groups and introduce the outcome (hit or no hit), we color in the "1"s (hit). @willdebras,

[2022-03-10 15:06] jhofman commented on #18
the mean animation looks great.

the median animation has a jump after the medians are calculated from 7 to 8 seconds. maybe this is just a problem w/ the spec?

the max animation looks good until the very end when some ghost points appear below the correct points.

[2022-03-10 15:13] jhofman commented on #129
we still have the issue of @giorgi-ghviniashvili not being able to run the R code as per this earlier comment: https://github.com/microsoft/datamations/issues/129#issuecomment-1010864669

@giorgi-ghviniashvili, can you re-pull main and try to re-install the library?

steps for @giorgi-ghviniashvili:

1. Re-run `devtools::install_github("microsoft/datamations")` or clone the repo and run `R CMD bui

[2022-03-10 15:15] jhofman commented on #137
@willdebras can you re-generate to check that this is all fine and then we can close the issue?

if good, then @giorgi-ghviniashvili can you send a pull request for custom animations so we can merge to main and test things out?

[2022-03-11 01:41] willdebras commented on #137
@giorgi-ghviniashvili I confirmed these specs are up to date with specs generated by the main branch:

https://github.com/microsoft/datamations/blob/custom_animations/sandbox/custom_animations/custom-animations-quantile-R.json

If these run fine, I believe all custom animations should be good to merge. Once those are merged, I will make updates to the demo and documentation.

[2022-03-11 02:23] willdebras commented on #138
@giorgi-ghviniashvili, do you know if there are unpushed (to main) changes related to the binary variables on your end? I'm wondering because in the recording above, at ~13s, we get the plotting of the dots fully filled, then it transitions to make these hollow at ~15s.

This staggered transition isn't in place in the main repo or in the example in the docs (auto generated from main):

https://mic

[2022-03-14 02:42] willdebras commented on #62
Confirmed in our check-in that the above were bad hand coded specs.

I have also added some specs where a log scale is defined here for the second frame of the mutation:

https://github.com/microsoft/datamations/blob/scales-transform/sandbox/mutations/mutate-scale-R.json#L1327

I also have appropriate code added that detects the mutation basis function (i.e. explicit function call like log, numeri

[2022-03-14 10:22] giorgi-ghviniashvili commented on #18
@jhofman median fixed:

https://user-images.githubusercontent.com/6615532/158152236-a0f70883-ffda-4aae-8946-46f4ca9ffbb3.mov

https://user-images.githubusercontent.com/6615532/158152263-d1490e9b-df53-4128-9603-ff83909d478a.mov

About the max animation, the issue is with the faceted spec, which is not R generated. Here is max using r generated without facets:

https://user-images.githubusercontent.

[2022-03-14 10:24] giorgi-ghviniashvili commented on #137
This is quantile:

https://user-images.githubusercontent.com/6615532/158153502-80d19674-917a-4ec3-8f11-e79a9c5370a2.mov

[2022-03-14 11:19] giorgi-ghviniashvili commented on #138
@willdebras main branch is up to date regarding to the binary variables. This is the issue in this [example](https://microsoft.github.io/datamations/articles/Examples.html#binary-variables) as well, the circles size increases because of stroke property in "is_hit" spec, but it is not a visual issue in this example because there are few circles.

In general, issue is that previous spec, does not ha

[2022-03-14 13:28] giorgi-ghviniashvili commented on #62
@willdebras tested this spec.

For the log scales, when having very small domain, it looks like it is not logarithmic.

This is original spec, where y.scale.domain is very small:

<img width="1091" alt="image" src="https://user-images.githubusercontent.com/6615532/158181215-fe713d0d-97b9-465a-8fa6-ff4ae5ba5623.png">

If we remove the domain:

<img width="1019" alt="image" src="https://user-images.

[2022-03-14 16:01] jhofman opened #145 "Submit R package to CRAN?"
Let's discuss when we think this would be appropriate and what's required.

[2022-03-15 14:10] jhofman commented on #99
@giorgi-ghviniashvili, once the big PR is done, can you see if you can get the "export gif" button into the web version?

[2022-03-16 12:13] giorgi-ghviniashvili commented on #99
@jhofman I made this work. PR is not merged yet, and I think I will have this as part of PR as well.

This animation.gif is exported.

![animation](https://user-images.githubusercontent.com/6615532/158587338-e9019549-4a2e-4243-8d76-51054295e0c2.gif)

[2022-03-17 00:51] willdebras commented on #62
I'm realizing now I'm not sure the log scale on the chart will have an effect on the logged values.

Take this outlier example:

[code]

Outlier here:

![image](https://user-images.githubusercontent.com/37971596/158714149-d00aa2e1-c57d-41fd-9488-a2bbe276d0ac.png)

Logged scale and logged values:

![image](https://user-images.githubusercontent.com/37971596/158714654-d73af9df-9147-490f-89a1-ddcea04c

[2022-03-17 13:47] jhofman commented on #129
@giorgi-ghviniashvili, can you post the error message you're getting from R here?

[2022-03-17 14:00] jhofman opened #147 "Update interaction around replay, download GIF, and sliders"
Related to PR #146, let's clamp down the way you can interact with the buttons and slider when a datamation is playing.

First, let's rename "GIF" to something that clearly indicates a "download". To save space maybe we use an icon like this one? https://fontawesome.com/icons/download?s=solid

Also let's move it to the right of the slider bar.

Whenever a datamation is playing, the replay button s

[2022-03-17 14:08] jhofman commented on #143
okay @giorgi-ghviniashvili, i think this is step in the right direction so let's see how it goes with bigger groups.

also, a note to update the fake data you're using there to have the correct number of points for phd in the first frame. (right now it's a copy of the masters data, mistakenly).

[2022-03-17 14:18] jhofman commented on #109
domains are updated and merged, closing!

[2022-03-17 14:18] #109 closed

[2022-03-17 14:24] jhofman commented on #137
complete and merged as of PR #144

[2022-03-18 15:00] giorgi-ghviniashvili commented on #147
@jhofman

I tried to implement the "scrub the slider when animation is running". Since [gemini animate](https://github.com/uwdata/gemini#output-1) does not have `.stop()` function, we can't stop the animation immediately. If the animation object is played it must finish it. So this means that if we leave the slider enabled while animation is running, then we will get a little jump. So to avoid thi

[2022-03-18 15:37] jhofman commented on #147
this looks great overall. only thing i'd say is that waiting for the
animation to play all the way on the example you sent takes a while, so i'd
actually say leave the slider active (as it was before we talked yesterday)
and we just tolerate the jump if it happens.

is that easy to revert?

On Fri, Mar 18, 2022 at 11:00 AM Giorgi Ghviniashvili <
***@***.***> wrote:

[2022-03-18 17:20] giorgi-ghviniashvili commented on #147
Ok reverted it and enabled the slider if animation running.
Also updated `datamationSandDance_html`, but seems like that it has problem loading font awesome webfonts. @willdebras can you see why it can't load fonts from `webfonts` folder?

[2022-03-18 17:26] willdebras commented on #147
Sure thing! I'll take a look. We might not even need to load it because I believe a package this app is dependent on {shiny} has access to FA library, i.e. calling `icon()`. I can get this working today either with the webfonts folder or with native {shiny}

[2022-03-19 02:54] willdebras commented on #147
Pushed an update to the export branch that properly loads the fa icon:

![image](https://user-images.githubusercontent.com/37971596/159104043-7eb0ba1f-d794-4209-bac5-29c7edf2f719.png)

[2022-03-21 14:01] giorgi-ghviniashvili commented on #147
Thanks @willdebras, works great

[2022-03-21 15:39] giorgi-ghviniashvili commented on #143
@jhofman no jump at all:

https://user-images.githubusercontent.com/6615532/159290996-e140588a-7619-4464-ade3-8fc99d0defaf.mov

[2022-03-21 17:35] jhofman opened #149 "Gracefully handle unsupported operations"
Related to #31, let's figure out how to handle unsupported or plot-based no-op verbs like arrange and select

[2022-03-22 03:43] #137 closed

[2022-03-22 13:36] jhofman commented on #143
closes #148

[2022-03-22 13:36] #143 closed

[2022-03-22 13:51] #18 closed

[2022-03-22 13:52] jhofman commented on #18
@willdebras can you merge the doc updates for custom animations?

[2022-03-22 13:53] #147 closed

[2022-03-22 13:54] jhofman commented on #99
done as of #146

[2022-03-22 13:54] #99 closed

[2022-03-22 13:54] jhofman commented on #139
@willdebras can you merge this as well?

[2022-03-22 13:57] jhofman opened #150 "Update Javascript documentation"
@giorgi-ghviniashvili will update documentation on the javascript side and generate rendered markdown versions.

@chisingh, once that's done, can you take a look to review?

[2022-03-22 14:04] jhofman commented on #145
@willdebras, can you run through checks to see how this is looking

we may need to clean up some dangling files in sandbox, etc.

[2022-03-22 14:12] jhofman opened #151 "Get python to parity with R updates"
@chisingh, once @willdebras merges documentation, can you take a look to see what's new in R?

some of the custom animation stuff (mean, median) should come "for free" without any or much spec update. other stuff like quantile will require some pipeline parsing on the python side. (@willdebras or @giorgi-ghviniashvili, can you link an example spec for quantile here?)

let's capture a list of what

[2022-03-22 14:13] jhofman commented on #149
Right now we throw an error and say that you've used an unsupported function.

Next time let's talk about whether we could support "no-op" verbs in some consistent way.

[2022-03-22 14:34] jhofman commented on #62
@giorgi-ghviniashvili, can you try the example at the very top [here](https://github.com/microsoft/datamations/issues/62#issue-901210884) to see how this all works with multiple facets?

can you try both the summarize and mutate versions of that? for the summarize it should look like sharla's final frame [here](https://github.com/microsoft/datamations/issues/62#issuecomment-848912684).

[code]

fo

[2022-03-24 03:59] willdebras commented on #151
@chisingh, apologies for the delay on this. These quantile specs are fully updated:

https://github.com/microsoft/datamations/blob/main/sandbox/custom_animations/custom-animations-quantile-R.json

The generation on the R side has been updated to do the following:

- Parses specific summary expressions instead of just calculating the summary verb (i.e. capturing and creating data for the parameter

[2022-03-24 04:40] willdebras commented on #62
I added a base vignette with some examples above. Here is a quick link to view it, so you don't have to pull -> checkout branch -> knit:

https://rpubs.com/willdebras/datamations_mutations

In short,

- log normal data looks good
- Other mathematical functions, sqrt ^2
- mathematical functions using multiple variables in the data works fine
- Specifying the creation of multiple _new_ variables in

[2022-03-24 09:46] giorgi-ghviniashvili commented on #150
Send PR #153 with the new docs. Did not get how to add the link in `inst/`, let's do it together over the call.

[2022-03-24 10:42] giorgi-ghviniashvili commented on #62
@willdebras is it possible to generate specs for these from datamations instead doing it manually?

[2022-03-24 13:48] jhofman commented on #150
the markdown documentation looks great, let's also add a high-level summary similar to what sharla did for R [here](https://github.com/microsoft/datamations/tree/main/R) that explains main structure of how to use the app and what goes on at a high-level behind the scenes.

@chisingh, can you take a look once that's done to see how it reads to you and how much you can follow?

[2022-03-24 14:11] jhofman commented on #62
seems like the summarize with two variables is breaking the baseball example for @giorgi-ghviniashvili . we can change to a mutate for the two variables, and then possibly a summarize afterwards with just one variable. that should do the trick?

also, @giorgi-ghviniashvili can you take a look at the multivariate examples that @willdebras created [here](https://rpubs.com/willdebras/datamations_muta

[2022-03-24 19:12] willdebras commented on #62
Working on updating specs today for @giorgi-ghviniashvili with multiple variable values on that first transformation frame.

For now, I have merged in changes from main and updated the examples vignette here:

https://rpubs.com/willdebras/datamations_mutations

[2022-03-26 00:58] willdebras commented on #62
@jhofman, @giorgi-ghviniashvili, here is an example of the multiple variables:

https://user-images.githubusercontent.com/37971596/160218250-3c15f526-8faf-40e6-9a13-3c6596177a6e.mp4

[code]

It has some funky transitions, but I think is a good start. I output the specs, @giorgi-ghviniashvili if you have any suggestions of edits needed for smooth transitions:

https://github.com/microsoft/datamatio

[2022-03-28 20:22] giorgi-ghviniashvili commented on #62
@willdebras , probably we can hide the grid lines. Transition from 3 sec to 5 sec in the video makes sense if x and y values change is correct.

[2022-03-29 09:24] giorgi-ghviniashvili commented on #62
@willdebras I am on the main branch and this error shows. Still not merged?

<img width="1434" alt="image" src="https://user-images.githubusercontent.com/6615532/160579614-f75522ff-73da-4f15-ac62-32489ac028a9.png">

[2022-03-29 14:07] #139 closed, assigned to giorgi-ghviniashvili, willdebras

[2022-03-29 14:15] jhofman commented on #129
@willdebras has redesigned the shiny app, will send instructions to @jhofman on how to run locally and on shinyapps.io

[2022-03-29 14:19] jhofman commented on #145
@willdebras will document things to prep for CRAN submission

[2022-03-30 09:09] giorgi-ghviniashvili commented on #62
@willdebras , I fixed the jittered spec. Updated d3-force simulation parameters to spread out circles more. Merged to main.

[2022-03-30 13:39] willdebras commented on #62
This file has been updated with all we talked about regarding spacing adjustments, additional tweaks to the title that @jhofman mentions above, and the mentioned warning on multiple new variables defined:

https://rpubs.com/willdebras/mutations

[2022-03-30 14:01] willdebras commented on #149
I have updated this handling to be a bit more graceful. Instead of erroring on all non supported verbs, we just warn and skip on no-ops:

[code]

This pipeline results in console warnings like this:

Warning messages:
1: In .f(.x[[i]], ...) :
  Pipeline step for select discarded as a non-visualized function.
2: In .f(.x[[i]], ...) :
  Pipeline step for arrange discarded as a non-visualized functio

[2022-03-30 14:11] giorgi-ghviniashvili opened #158 "JS code as npm package and write unit tests"
It is a good practice to have JS codebase as npm package:

* easily make it as a single bundle (build)
* write unit tests
* make whole JS codebase as a es6 module

[2022-03-31 13:28] jhofman opened #161 "Clean up final error bars on zoom"
@giorgi-ghviniashvili: can we clean up the final error bar zooming from seconds 16 to 18 in this recording?

https://user-images.githubusercontent.com/79563/161065544-d9525ab5-59af-46ab-9c34-a34b62038d6c.mov

would it be possible to just have the existing error bars and points zoom in instead of removing and redrawing them? they also show up slightly misaligned (off to the right)

[2022-03-31 13:34] jhofman opened #163 "Penguins example looks funny"
Here's another one that looks strange, the bars are misaligned, there are missing grid panels, and the points go beyond the y-axis range

https://user-images.githubusercontent.com/79563/161067367-6c36d774-51fa-4916-aa93-78989acf16a8.mov

Any idea what's up and how to fix this?

[2022-03-31 13:39] jhofman opened #164 "Update package version to resolve dependabot security warning"
See here: https://github.com/microsoft/datamations/security/dependabot/1

[2022-03-31 13:48] jhofman commented on #163
this might have to do with facet sorting in the spec?

[2022-03-31 13:53] jhofman opened #165 "Penguins example breaks with 2 or 3 variables in shiny app"
No datamation is shown when grouping on more than just species

[code]
![Screen Shot 2022-03-31 at 10 35 22 AM](https://user-images.githubusercontent.com/79563/161080900-e1ff3d4b-4c37-4363-a66b-38a0d486ef26.png)

[2022-03-31 14:21] jhofman commented on #149
looks good.

let's double check that the pipeline runs as intended (e.g., if the `mean(Salary)` was a `first(Salary)` we'd get a different result with and without and arrange).

[2022-03-31 14:22] jhofman opened #166 "Find a spot for the updated shiny app"
Perhaps a sub-folder?

Also let's add @willdebras's tips on how to debug shiny apps for our future selves

[2022-03-31 14:27] giorgi-ghviniashvili commented on #163
@willdebras can you remove facet.sort array on R side? That causes the issue.

<img width="471" alt="image" src="https://user-images.githubusercontent.com/6615532/161078911-b9271f12-c7e6-4712-979d-0cc37ad84ecd.png">

[2022-03-31 14:29] jhofman commented on #145
strange about the 94mb package and the large docs folder. only shows as 6.6mb installed on my machine.

@willdebras, can you poke around with `.libPaths()` and see if you can track down why this happens?

[2022-03-31 21:09] willdebras commented on #163
https://user-images.githubusercontent.com/37971596/161149578-45794e2f-9c5a-4ba9-9017-cfda00f9036b.mp4

Removing these sort calls fixes this. It looks like it doesn't introduce issues in other places, so I am going to just commit this to main.

[2022-04-01 01:48] willdebras commented on #166
https://github.com/microsoft/datamations/tree/main/demo-app

New demo application with binary examples + custom animations (e.g. quantile) is housed here:

https://github.com/microsoft/datamations/tree/main/demo-app

I added `^demo-app$` to `.Rbuildignore` so it gets excluded in the build.

I also added the in progress work for adding filter and mutation steps to a new branch:

https://github.com/

[2022-04-01 01:53] willdebras commented on #165
I cannot reproduce issues here with the penguins specifically, but I do believe something odd is happening with this modules based app called from `datamations::run_app()`. It seems sometimes when a datamation has been rendered, re-pressing `Go` will not render a new datamation. This might be related to what you are running into. This seems to not be a problem with the demo application at all, so

[2022-04-01 02:17] willdebras commented on #62
Done. Errors for expressions in summary functions:

Unable to parse the summary function.
              \n Error is likely due to passing a mutation in the summary function.
              \n Consider adding a mutate step above and then calling the summary function on the output.

Also errors instead of warns for multiple mutations:

Datamations currently only supports a single mutation call for vi

[2022-04-01 08:12] giorgi-ghviniashvili commented on #163
@willdebras that's great. Could you please also make sure that the y axis titles are not bigger than the facet height? Instead of `mean(bill_length_mm)`, use `["mean", "bill_length_mm"]` and it will be fully fixed.

[2022-04-01 12:04] giorgi-ghviniashvili commented on #161
@jhofman I could not specify min-width for the axis. It translates the whole chart to the right anyway when axis labels have decimals.

Instead I fixed the error bars like this: it waits the points to be transformed and then the error bars appear. Will that work?

https://user-images.githubusercontent.com/6615532/161259702-9020d2ad-1915-4b92-9d6a-162fb2b0d0aa.mov

[2022-04-01 13:13] willdebras commented on #163
Yep :) It's like this in main now after merge from yesterday, returning ["mean of", "variablename"]. Just hadn't pulled those changes yet.

[2022-04-01 13:43] jhofman commented on #163
almost there---sorting of the rows changes part way through, see here:

https://user-images.githubusercontent.com/79563/161275525-85d3d67c-c734-48fa-a51d-1fb76bf8665d.mov

[2022-04-01 13:45] #166 closed

[2022-04-01 13:49] #62 closed

[2022-04-01 13:52] #161 closed

[2022-04-01 13:52] willdebras commented on #163
Might need to revert this, as it keeps the sorting consistent with group_by and mutate frames https://github.com/microsoft/datamations/commit/1ac1cf50f8ffd673a29e93dd7c88ac0dbad3f88c

[2022-04-01 13:52] jhofman commented on #165
Seems okay with me, #166 takes care of penguins working!

[2022-04-01 13:52] #165 closed

[2022-04-01 13:58] willdebras commented on #149
Confirmed the pipeline runs as intended with arrange, just doesn't visualize it.

[2022-04-01 14:58] jhofman opened #170 "R-CMD-check workflow failing"
@willdebras, any idea what's up here?

https://github.com/microsoft/datamations/actions/runs/2077687777

i received two of these in a row after our meeting

[2022-04-01 15:00] #149 closed

[2022-04-01 15:23] giorgi-ghviniashvili commented on #163
@willdebras alright, right now, I brought back the sorting and trying to fix the other way around.

[2022-04-01 15:54] giorgi-ghviniashvili commented on #163
@jhofman @willdebras I found out that vega-lite facet sort does not work at all and that's why it has this issues.

The issue: https://github.com/vega/vega-lite/issues/5937

The image:
<img width="1245" alt="Screen Shot 2022-04-01 at 19 51 07" src="https://user-images.githubusercontent.com/6615532/161298970-88455cd8-c6ad-4ea0-b838-7b767d1fffef.png">

[2022-04-01 20:15] willdebras commented on #170
I'm not certain what is going on with this actions script. You received these because they got triggered on the PR merges, but this specific issue has been around for a while. Despite the package building fine and R CMD Check running fine locally (for all our environments), we get these specific issues from renv:

[code]

[2022-04-01 20:20] willdebras commented on #163
What's your recommendation as far as specs, @giorgi-ghviniashvili? Should I remove all sorting? Removing the facet sorting from summarize spec generation de-syncs it from the group_by(). It seems if we sort all, we get the weird grid. If we unsort in this step, we get the weird shifts from the group_by().

[2022-04-01 21:45] giorgi-ghviniashvili commented on #163
@willdebras this pr #169 removes sorting from generateGrid (group_by()), so I think it worths testing and if that works, then we are good to go. Since the facet sorting does not work in vega-lite at all, we don't need them. Please test that PR and let me know if that syncs up with the other steps.

[2022-04-02 03:15] willdebras commented on #163
Thanks! I will test in the morning my time and confirm all is good.

[2022-04-04 03:43] chisingh commented on #132
Closed by #162

[2022-04-04 03:43] #132 closed

[2022-04-04 03:44] #164 closed

[2022-04-04 21:47] jhofman commented on #163
hi all—just wanted to see where this landed?

On Fri, Apr 1, 2022 at 11:15 PM Will Bonnell ***@***.***>
wrote:

[2022-04-04 22:02] willdebras commented on #163
@giorgi-ghviniashvili's PR looks like it works fine from my testing, but I want to spend another 30-45 minutes today or tomorrow testing that it doesn't cause issues with the new mutate stuff, i.e. that we don't accidentally trigger a rearrange with the grouped mutations. going into a faceted summarize. I can confirm tomorrow that that is good to merge and then we are all set!

[2022-04-04 22:30] willdebras commented on #163
I've tested this a bit more and it looks good to go to merge Giorgi's PR. This should be fixed now!

[2022-05-18 22:04] microsoft-github-policy-service[bot] opened #173 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-31 21:32] chisingh opened #174 "ESLint workflow failing"
ESLint workflow is enabled and currently failing:

https://github.com/microsoft/datamations/actions/runs/2417776735

[2022-05-31 21:33] chisingh opened #175 "Pylint workflow failing"
Pylint workflow is enabled and currently failing:

https://github.com/microsoft/datamations/actions/runs/2417776739

[2022-06-10 14:33] #175 closed

[2022-06-13 02:22] #174 closed

[2022-06-13 02:23] #170 closed

[2022-06-13 14:12] chisingh opened #180 "Implementation of Min and Max aggregation functions in JavaScript"
Please refer to the following example from R:
https://microsoft.github.io/datamations/articles/summarizing.html#min-and-max-of-a-variable

[2022-06-13 14:19] chisingh opened #181 "Implementation of Sum and Product aggregation functions in JavaScript"
This is similar to #180 but takes the sum and product of the input items instead.

[2022-06-13 14:24] chisingh opened #182 "Implementation of Count and Count Numbers aggregation functions in JavaScript"
The two ways of counting are as follows:

1. Count all the input items including numbers.
2. Count all the input items containing numbers.

[2022-06-15 15:55] chisingh commented on #181
Use the following specs for unit testing:

https://github.com/microsoft/datamations/blob/main/inst/specs/sum_specs.json

[2022-06-24 14:27] #182 closed

[2022-06-24 14:29] #180 closed

[2022-06-24 14:29] #181 closed

[2022-07-11 14:29] chisingh opened #190 "Implement Count and Quantile in Python"

[2022-07-11 14:30] chisingh opened #191 "Implement Min and Max in Python"

[2022-07-11 14:30] chisingh opened #192 "Implement Sum and Product in Python"

[2022-07-12 09:07] PaoloFer commented on #192
Hi can i try to solve this issue or only the contributors can?

[2022-07-12 16:04] PaoloFer commented on #191
### Question to try to solve the issue:

- When you write min and max, means that from one method it has to return this two value or the two value should returned from two different method; and what does this method takes as parameter, an array?

[2022-11-29 15:19] jhofman opened #202 "Respect factor orderings"
Right now it looks like all sortings (e.g., on the x axis) are alphanumeric. Let's update this to respect factors that might have other sortings (e.g., sort the months as Jan/Feb/Mar instead of Apr/Aug/Dec when the month is encoded as a factor).

[2022-11-29 15:20] jhofman commented on #202
Nevermind, looks like this might be working

[2022-11-29 15:20] #202 closed