[2021-04-05 17:17] jhofman opened #1 "Get current version of R package working"
Test on @giorgi-ghviniashvili and @jhofman's machines.

[2021-04-05 17:18] jhofman opened #2 "Figure out where d3.js files can go in current repo"
Make sure this is a spot that doesn't create conflicts with the current R package structure.

[2021-04-05 17:23] jhofman opened #3 "Identify integration points for d3.js in current code"
Right now the code uses [ggplot2](https://ggplot2.tidyverse.org), [gganimate](https://gganimate.com), and its lower-level cousin [tweenr](https://github.com/thomasp85/tweenr) to render animations.

We'll need to figure out the right place to hand off rendering to d3.js. We can do this narrowly, but we want to strike a good balance of ease of use and modularity with flexibility.

[2021-04-05 17:32] jhofman opened #4 "Where should released repo(s) be hosted?"
This depends on two factors.

First, whether this is hosted by Microsoft or on a personal account (say @jhofman's).

Second, how do we structure things around the fact that we'd like to support other languages some day, for instance Python. In that case it probably wouldn't make sense for it to be one huge repo, but instead to have a repo for each base language (R, Python, etc.) and a repo for the

[2021-04-05 18:05] #1 closed

[2021-04-05 18:07] jhofman opened #5 "Get a basic d3.js example working with r2d3"
This package, [r2d3](https://github.com/rstudio/r2d3), should allow you to execute d3.js files in R.

[2021-04-05 18:11] jhofman commented on #5
This looks like it's sandboxed in its own svg. @giorgi-ghviniashvili, is this flexible enough for what we want to do?

[2021-04-05 18:12] jhofman commented on #5
More documentation: https://rstudio.github.io/r2d3/

[2021-04-05 18:25] jhofman commented on #5
See if you can pass a full dataframe from R to d3 using `r2d3` and render a simple x-y scatter plot with the following data.

[code]

If that works, try using the actual data in [data-raw](../tree/main/data-raw) to create a plot where the x axis is degree (masters or phd), the y axis is salary, and points are colored by degree. (Jitter on the x axis is optional for now.)

![Screen Shot 2021-04-05

[2021-04-05 18:32] jhofman commented on #5
The [R for Data Science](https://r4ds.had.co.nz/data-import.html?q=read_tsv#exercises-21) book is a good resource.

[2021-04-05 20:14] jhofman opened #6 "Clone repo and run R examples"
See the README and feel free to update if anything is broken / needs explaining.

[2021-04-05 20:20] jhofman opened #7 "Create some unit tests"
This will require some careful thought because the output are visualizations, not numerical results.

Maybe comparing to a snapshot or checksum or something?

[2021-04-06 09:07] giorgi-ghviniashvili commented on #5
Hi @jhofman .

I have done the scatterplot with csv data frame (`read_csv`).

Here is the video:

https://user-images.githubusercontent.com/6615532/113686906-d379a880-96d8-11eb-9df3-0c1d3005a16a.mov

Jitter done using `d3.forceCollide`.

Setup an interval method which just toggles between average or full view.

[2021-04-06 09:07] #5 closed

[2021-04-06 14:55] jhofman commented on #2
@sharlagelfand: can you suggest a directory that @giorgi-ghviniashvili can use to put d3 experiments (.js files and corresponding .R or .Rmd files that call them)?

I'd like to make sure this doesn't conflict with the structure of the R package.

[2021-04-06 14:56] jhofman commented on #5
Great.

After we resolve #2, let's get this code in a branch and then pull request if it's useful to keep it around.

[2021-04-06 15:04] sharlagelfand commented on #2
@jhofman @giorgi-ghviniashvili Maybe somewhere like a `sandbox/` subdirectory in the main directory? If we add the subdirectory to the `.Rbuildignore` file then it won't be picked up by the package development process.

Would involve adding a line like this:

`^sandbox$`

to the `.Rbuildignore` file

[2021-04-06 15:49] jhofman opened #10 "Replicate a version of plot_degree.gif in d3 using r2d3"
Create a version of the full animation [here](https://osf.io/n86cf/) for `small_salary` data of 100 points in d3 using r2d3.

This should load the data:

[code]

For now, let's go for the following key frames:

1. Ungrouped data, in a grid all grey.
2. Grouped data, in a grid blue and red.
3. Scatter plot (x = degree, y = salary, color = degree), as you have from #5.
4. Collapsed points for averag

[2021-04-06 16:36] jhofman commented on #3
We discussed this a bit further today on our call with @giorgi-ghviniashvili. Adding a few notes.

Imagine someone writes something like this in R and wants to "datamate" it:

[code]

In order to datamate this, we can break things down into three high-level steps.

1. The first step to datamating is to translate each line in the code into some type of visual state *conceptually*. Let's call these

[2021-04-06 16:37] jhofman commented on #2
@sharlagelfand this seems reasonable to me.

@giorgi-ghviniashvili, can you try this strategy in a branch when you work on #10?

[2021-04-06 19:23] #6 closed

[2021-04-06 19:38] jhofman opened #11 "Step through README examples and comment code to clarify"
Presumably there's a lot of coordinate hacking to get animations to line up. Would be good to know how much of this is happening and where.

[2021-04-06 19:41] jhofman commented on #2
Sounds like `sandbox/` is a good place to put exploratory / throw-away scripts.

When we get to the point that we have `.js` files we'd like to be part of the package, we can put those in `inst/` as per this: https://r-pkgs.org/inst.html

[2021-04-07 09:54] giorgi-ghviniashvili commented on #4
I would lean on multiple repos: a repo per language. And also for rendering we can have not only one repo, but multiple options: d3.js, vega, plotly..

[2021-04-07 10:03] giorgi-ghviniashvili commented on #2
Reasonable for me as well. Created a branch called [gio/d3](https://github.com/jhofman/datamations/tree/gio/d3), added sandbox directory and `^sandbox$` to .Rbuildignore.

[2021-04-07 10:03] #2 closed

[2021-04-07 12:01] giorgi-ghviniashvili commented on #10
Hi @jhofman.

Here is the video:
https://user-images.githubusercontent.com/6615532/113862991-27a88980-97ba-11eb-9ad3-b8725506e63d.mov

I separated coordinate calculation and drawing logic into their own functions. The calculation and drawing initialization happens in `main()`.

[code]

Frames are scenically animated.

[2021-04-07 12:07] giorgi-ghviniashvili commented on #3
I got the point.

If we lean towards Option B and make d3 completely unaware of coordinate calculations, then we will loose the chart responsiveness for different width and height, but if that's not a big deal and charts will just be static size always, Option B will work.

Vega is really a great library, I will play with it and see how it works.

Seems like that coordinate calculation should eith

[2021-04-07 13:02] jhofman commented on #10
@giorgi-ghviniashvili, quick question on the scatter portion of this ("step 3"), do the y coordinates correspond to actual salary amounts?

if not, can you update things so that's the case?

[2021-04-07 13:06] giorgi-ghviniashvili commented on #10
@jhofman  yes they use salary amounts, but then collision detection is applied which spreads the nodes a bit.

[2021-04-07 13:07] giorgi-ghviniashvili commented on #10
If I set exact y coords, I am getting this:
![image](https://user-images.githubusercontent.com/6615532/113871280-ca193a80-97c3-11eb-96d1-c9042b27f2d1.png)

[2021-04-07 13:09] jhofman commented on #10
ah okay. is there a way to keep the y coords exact but jitter on the x coords only to avoid collisions?

[2021-04-07 13:29] giorgi-ghviniashvili commented on #10
Ok, done it:
![image](https://user-images.githubusercontent.com/6615532/113874408-d2bf4000-97c6-11eb-9a7d-d5cc57d9db4e.png)

[2021-04-07 15:28] jhofman opened #12 "Try to render two key frames with vega(lite?) and animate between them"
It looks like Vega (or Vega-lite) might be a good "exchange format" for passing plot specifications between a base language (like R) and a rendering language (like d3).

For now, let's try to just make plots of two key frames from the salary datamation using it and see if we can link them with a transition. Specifically:

Frame 1: Scatter plot of x = degree, y = salary, color = degree
Frame 2: Plo

[2021-04-07 15:28] jhofman commented on #12
If this is successful in "vanilla" Vega, then let's see if we can generate the same from [Vegalite](https://github.com/hrbrmstr/vegalite) in R as a next step.

[2021-04-07 15:30] sharlagelfand opened #13 "Package license"
We should include a license for the package - R CMD check warns if there isn't one, and just generally good practice to have something listed :) Not sure if there's an existing preference at MSFT, but some more info specifically for R package licensing here: https://r-pkgs.org/license.html

[2021-04-07 15:38] jhofman opened #14 "Abstract away column names in frame generation functions"
Right now the specific "salary" and "degree" column names are used inside of the frame generation functions in d3. If we end up going with our own d3 code for generating frames we'll need to abstract this away to "x" and "y" and have some way to pass which column names map to which variables when calling r2d3.

Let's put this on hold until we figure out #12.

[2021-04-07 17:30] jhofman opened #15 "Resolve warnings that happen from README demo code"
Running this:

[code]

gives the following error messages:

[code]

[2021-04-07 19:59] sharlagelfand opened #17 "Pipeline cases that don't work"
Just keeping track of some examples of pipelines that don't work, for fixing/testing with later:

### more than 1 value summarised

`small_salary %>% group_by(Degree) %>% summarize(mean = mean(Salary), median = median(Salary))`

(the second one is just ignored, gif includes mean only)

[2021-04-07 20:55] jhofman opened #18 "Add custom aggregation animations"
Right now `mean` shows points collapsing. Here are suggestions for how other aggregation operations can be animated: https://idl.cs.washington.edu/files/2019-AnimatedAggregates-EuroVis.pdf

[2021-04-07 21:04] sharlagelfand commented on #11
I've put a bunch of comments in the `examples-step` branch, especially looking at the different stages in the summarise animation step.

Here are some super rough notes, but a bit more concrete looking frame by frame - we can review next call and I'll explain :)
<img width="1965" alt="Screen Shot 2021-04-07 at 5 03 34 PM" src="https://user-images.githubusercontent.com/15895337/113933975-36476e80-9

[2021-04-08 09:16] giorgi-ghviniashvili commented on #12
Hi @jhofman ,

I managed to draw the two frames using vega-lite.

And also updating between these two frames. Here is the video:

https://user-images.githubusercontent.com/6615532/114000075-b3c6b980-986b-11eb-8542-3db75eaaa1e4.mov

My thoughts about vega,

* it does not support animation.
* vega lite is a lighter version of vega. In vega, we would need to write too much, and vega light just helps

[2021-04-08 13:56] sharlagelfand commented on #12
Reading around a bit about animation with Vega (seems like a [popular request](https://github.com/vega/vega/issues/641)!) (side note - someone linked [SandDance](https://microsoft.github.io/SandDance/) which I didn't know about, so now I "get" the `datamation_sanddance()` name 😄)

One thing that was linked is [gemini](https://github.com/uwdata/gemini), which is a grammar for animating between vega

[2021-04-08 15:28] jhofman commented on #12
@sharlagelfand, excellent sleuthing, and sorry to have not explained the sanddance connection before! sounds good on exploring vegawidget. would also be curious to know if ggvis outputs vega(lite) specs.

turns out we got the same lead on gemini from talk to a friend yesterday afternoon. and the same authors have a nice paper on creating animations to show different types of animations (mean, max,

[2021-04-08 16:03] jhofman commented on #11
awesome notes, looking forward to hearing more!

[2021-04-08 16:11] jhofman commented on #12
It's also possible that [Altair](https://altair-viz.github.io) is worth looking at.

There is an R package for Altair that is called [altair](https://github.com/altair-viz/altair) (with a lowercase A, somewhat confusingly). But it seems like this might actually call out to Python just to generate vegalite?

[2021-04-08 18:31] sharlagelfand commented on #12
Some initial exploration of vegawidget: https://github.com/jhofman/datamations/blob/vegawidget-exploration/sandbox/vegawidget/vegawidget_exploration.R, looking at how to create a spec in R (+ how to visualize it in R or export it to JSON) and where the spec could come in based on existing coordinates data that is calculated by datamations already

[2021-04-09 11:08] giorgi-ghviniashvili commented on #12
Hi @jhofman.

I managed to animate with gemini.

Uploading gemini-1.mov…

[2021-04-09 12:43] giorgi-ghviniashvili commented on #18
@jhofman Have read the papers.

Just forked [this repo](https://github.com/uwdata/aggregate-animation-data) and created a [demo](https://giorgi-ghviniashvili.github.io/aggregate-animation-data/designs/) of `designs` folder.

These examples of transitions are great. With this kind of transitions, it really makes more sense than just linear interpolation from point A to B.

I don't think that `gemin

[2021-04-09 12:45] giorgi-ghviniashvili commented on #18
Take a look at this one as well: [demo](https://giorgi-ghviniashvili.github.io/aggregate-animation-data/designs/apps)

[2021-04-12 15:03] jhofman opened #20 "Export vega specs for all frames from R to json using vegawidget"
@sharlagelfand, can you add each of the frames in [vegawidget_exploration.R](../blob/vegawidget-exploration/sandbox/vegawidget/vegawidget_exploration.R) to a json file in that same directory for @giorgi-ghviniashvili to use, and number them sequentially?

Note, #21 depends on this.

[2021-04-12 15:04] jhofman opened #21 "Use gemini to animate all frames exported from R"
Commit json and/or html to generate visualizations in `sandbox/[subdir]`

[2021-04-12 15:06] jhofman opened #22 "Figure out how to view vega/gemini renderings in R browser"
At some point we need to load the appropriate javascript libraries and pass data from R to html.

Can do so with files, but is there a better way (akin to r2d3)?

[2021-04-12 15:19] jhofman opened #23 "Decide where calculation of infogrid and jitter coordinates happens"
Should this be on the side of the "base language" (R) or the "rendering language" (javascript)?

If we can push this to the rendering language we'd save duplicated effort when porting to new base languages (like Python), but it doesn't seem like there's a natural way to do this vega, so we'd have to roll our own?

[2021-04-12 15:20] giorgi-ghviniashvili commented on #21
@jhofman [here](https://github.com/jhofman/datamations/tree/gio/d3/sandbox/vega-gemini/json-specs/count) are the json specs for vega and gemini.

[2021-04-12 15:25] sharlagelfand opened #24 "Group by two variables consistently when using group_by"
Right now e.g. group_by(work, degree) only visualizes the second grouping variable if summarise() is also used afterwards - should show the grouping by both variables just from group_by(work, degree)

`datamation_sanddance("small_salary %>% group_by(Work, Degree) %>%
                     summarise(mean = mean(Salary))", output = "summarise.gif", nframes = 5)`

vs

`datamation_sanddance("small_sala

[2021-04-12 15:29] jhofman opened #25 "What should multi-variable grouping look like in the general case?"
We currently have something that looks good for degree and work in the salary example.

* Should we put limits on the number of grouping variables and number of levels for each grouping variable? Can we handle 3 binary grouping variables, for instance?
* Do we want the behavior that we currently have (spatial break vs. underlining)?
* Should the order in which the grouping variables are specified

[2021-04-12 15:41] jhofman commented on #25
Maybe we can use ggplot2's faceting + other encodings to prototype this cheaply and figure out the limits of what we would(n't) want to show people.

For instance, would the following mapping work for the grouped grid frame: Grouping variable 1 = row,  Grouping variable 2 = column, Grouping variable 3 = color+symbol ?

[2021-04-12 15:43] jhofman commented on #25
Alternatively, as per @dggoldst's suggestion, when there are more grouping variables than we can handle, maybe animate only a subset of the resulting plot as an exemplar of the overall results (e.g., animate only one panel of a huge facetted plot)?

[2021-04-12 15:45] jhofman opened #26 "Collect examples of code we'd want to datamate"
Drop snippets of tidyverse pipelines here!

[2021-04-12 15:51] jhofman commented on #26
Possible sources:

* Examples from the [R for Data Science book](https://r4ds.had.co.nz/transform.html)
* Some teaching examples (e.g., [this](https://github.com/msr-ds3/coursework/blob/master/week1/visualization_with_ggplot2.ipynb))
* Examples from papers that we've generated where data are easily available

[2021-04-12 16:14] sharlagelfand commented on #20
@jhofman @giorgi-ghviniashvili The specs are in that directory now: [01-initial](https://github.com/jhofman/datamations/blob/vegawidget-exploration/sandbox/vegawidget/01-initial.json), [02-intermediate](https://github.com/jhofman/datamations/blob/vegawidget-exploration/sandbox/vegawidget/01-initial.json), [03-final](https://github.com/jhofman/datamations/blob/vegawidget-exploration/sandbox/vegawid

[2021-04-12 17:38] jhofman commented on #18
@giorgi-ghviniashvili: these are great. you commented that gemini won't support these. do you think we can do them with d3 on top of vegalite plots, or do the plots themselves have to be entirely done in d3?

@dggoldst, take a look at these two demos for different ways to visualize different types of aggregation functions used to summarize data:

  https://giorgi-ghviniashvili.github.io/aggregate-

[2021-04-13 07:33] giorgi-ghviniashvili commented on #18
These demos are done with d3 because it is more flexible (low level access of transitions, scales, drawing part) than vega.

But after a bit playing with vega, I think we can do the same with vega, but we will need multiple vega specs: a single one for each simple step.

For example, for arithmetic mean, we have multiple steps and each step introduces new elements or instructions: an area or lines

[2021-04-13 08:09] giorgi-ghviniashvili commented on #21
@jhofman  Specs generated by Sharla. 01-initial, 02-intermediate, 03-final.

https://user-images.githubusercontent.com/6615532/114518975-f6fca000-9c50-11eb-90ba-7d93797affe8.mov

[2021-04-13 08:19] giorgi-ghviniashvili commented on #21
@jhofman @sharlagelfand

I modified Sharla's specs and this is what I got:

https://user-images.githubusercontent.com/6615532/114520234-498a8c00-9c52-11eb-9392-5640f04f60a1.mov

* added width and height
* added `scale.domain` for some padding around grid
* hid axes

Works better, doesn't it?

[2021-04-13 08:26] giorgi-ghviniashvili commented on #18
After playing with Sharla's specs and drawing grid, I think it is easy to customize each frame as we want: hide axes, change domain, scale, axis types..

[2021-04-13 08:27] #10 closed

[2021-04-13 08:27] #12 closed

[2021-04-13 19:58] jhofman commented on #21
this looks great @giorgi-ghviniashvili!

next step is the transition between the grouped dot plot and the scatter plot. does that seem feasible?

[2021-04-13 20:03] jhofman commented on #18
Got it. So seems like going with gemini and vega wouldn't make it impossible to implement these transitions down the line if we wanted to later, but it might be a lot of work.

Do you think it's worth trying this approach for just one aggregation operation like count or median to see how it goes?

[2021-04-13 20:06] jhofman commented on #11
@sharlagelfand: just taking a pass through issues to clean things up. should we close this?

[2021-04-13 20:07] jhofman commented on #14
@giorgi-ghviniashvili seems like this will be solved if we go with vegalite + gemini.

assuming so, let's close this out?

[2021-04-13 20:17] sharlagelfand commented on #11
@jhofman good to close for me - I have my notes in a branch and am using + integrating them as I go through / refactor but I don't think any need to merge the branch specifically

[2021-04-13 20:21] jhofman commented on #20
thanks @sharlagelfand, closing!

[2021-04-13 20:24] #11 closed

[2021-04-13 20:29] jhofman commented on #23
I poked around and found some examples of [information grids](https://vega.github.io/editor/#/examples/vega-lite/isotype_bar_chart) and [dot plots](https://vega.github.io/editor/#/examples/vega-lite/circle_wilkinson_dotplot) in vegalite. The information grid version could be promising, with simpler shapes for each point (e.g., dots instead of animal shapes!).

It looks like vega supports [beeswarm

[2021-04-14 11:36] giorgi-ghviniashvili commented on #18
Yes it is not impossible, but lots of work. Agree.

Yes, I think it worths trying.

[2021-04-14 11:38] giorgi-ghviniashvili commented on #21
@jhofman yes, it is feasible, I will just need a vega specification for scatter plot. We already have scatter plot with vega, but circles are stacked on each other. I think Sharla should calculate X values in such a way that they are spread out and not colliding.

[2021-04-14 13:06] jhofman commented on #21
Should be possible to view this live using [raw.githack.com](https://raw.githack.com): https://rawcdn.githack.com/jhofman/datamations/gio/d3/sandbox/vega-gemini/gemini-sharla-specs.html

[2021-04-14 13:12] jhofman commented on #20
@sharlagelfand can you add the scatter plot stuff that follows for the rest of the animation for @giorgi-ghviniashvili, so he can complete #21?

[2021-04-14 13:40] jhofman commented on #20
Btw, @sharlagelfand, just curious how you solved the stringification of json from R issue to get rid of the `["` ... `]"`?

[2021-04-14 13:54] jhofman commented on #21
@giorgi-ghviniashvili, in the meantime can you work on getting a transition to work between the last infogrid plot that doesn't have an axis and the first scatter plot which does. seems like a naive version of this breaks in gemini because the axis object is null in the initial frame.

maybe the style or domainOpacity/tickOpacity/labelOpacity attributes listed [here](https://vega.github.io/vega-li

[2021-04-14 14:02] jhofman commented on #20
@giorgi-ghviniashvili, sounds like you modified some parts of the specs. can you list the modifications here and we can see if it makes sense for @sharlagelfand to do those on the R side instead?

[2021-04-14 14:03] giorgi-ghviniashvili commented on #20
@jhofman modifications:

* added width and height
* added scale.domain for some padding around grid
* hid axes

[2021-04-14 14:06] jhofman commented on #20
seems like width and height might be specific to the device that things are rendered on (e.g., large desktop browser vs. small mobile browser), so maybe that shouldn't be set by the base language but instead should be dynamically done in the rendering languge?

[2021-04-14 14:10] sharlagelfand commented on #20
@jhofman @giorgi-ghviniashvili just because I finished them before this conversation popped up - here are the specs for the summarise operation (jitter plot and final point plot): [04-jitter_coords](https://github.com/jhofman/datamations/blob/vegawidget-exploration/sandbox/vegawidget/04-jitter_coords.json), [05-final_mean_coords](https://github.com/jhofman/datamations/blob/vegawidget-exploration/s

[2021-04-14 14:11] jhofman commented on #23
@giorgi-ghviniashvili discovered that there's a `transform` field in vega specifications that seems to work in the gemini editor. maybe we can use this on the salary data for a beeswarm plot?

[2021-04-14 14:32] jhofman commented on #20
great, thanks @sharlagelfand. it looks like there's some hope of jitter happening on the vegalite end, see #23.

[2021-04-14 14:33] sharlagelfand commented on #20
All of the coords [here](https://github.com/jhofman/datamations/tree/vegawidget-exploration/sandbox/vegawidget) now have the scales' domain set and axis hid in the infogrid cases - I haven't set the width/height yet but hope this is closer to what you had, @giorgi-ghviniashvili!

[2021-04-14 14:50] giorgi-ghviniashvili commented on #23
@jhofman the transform field works in vega, but not in vega-lite. Here is [discussion](https://github.com/vega/vega-lite/issues/4839). And [here](https://github.com/vega/vega-lite/issues/1872)

Since @sharlagelfand generates vega-lite specs, gemini needs to convert vega-lite to vega specs.

So to use the `transform` field for force layout, we should have vega already compiled and gemini's [name fi

[2021-04-14 15:22] giorgi-ghviniashvili opened #27 "Create datamation-editor"
Create a web based tool called `datamation-editor` (name suggestions are welcome).

With this tool, we can add json spec (either vega-lite or vega) or directly import from raw github.

Add multiple of them and adjust sequence as we want and with play button it will start animation and transitions any valid spec pairs.

Also add an input to paste or import `gemini specs`.

[2021-04-14 15:24] giorgi-ghviniashvili commented on #27
@jhofman I think instead of writing an html over and over again and have same animation functionality, let's create a tool for it. What do you think? It will be fairly easy, just couple of input fields and a slider for animation.

[2021-04-14 15:28] jhofman commented on #20
thanks @sharlagelfand, i think you don't need to worry about width and height, we can push that to the rendering end since it might depend on the device, etc.

[2021-04-14 15:28] giorgi-ghviniashvili commented on #27
@jhofman I think I should start working on this right away and then use @sharlagelfand's json specs to test.

[2021-04-15 00:19] jhofman commented on #27
This is a neat idea, but let’s discuss a bit further before you dig in.

Specifically, would be nice if the inputs were data operations instead of
vega specs?

On Wed, Apr 14, 2021 at 11:43 AM Giorgi Ghviniashvili <
***@***.***> wrote:

[2021-04-15 08:15] giorgi-ghviniashvili commented on #27
What kind of data operations do you mean? @jhofman

[2021-04-15 09:35] giorgi-ghviniashvili commented on #21
@jhofman see [demo](https://rawcdn.githack.com/jhofman/datamations/gio/d3/sandbox/vega-gemini/gemini-sharla-specs.html?version=0.1).

* width = container and height = container, did not really worked for animations, so just used constants.
* refactored files to json files into a folder. (I know I could just load from Sharla's branch, but I needed to make adjustments myself).

Check it.

[2021-04-15 14:44] jhofman commented on #21
@giorgi-ghviniashvili very nice.

it looks like the points just "drop in" from the top between 03-final and 04-jitter-coords. can you instead make it so that the points in the grid in 03-final move to their positions in the 04-jitter-coords along some continuous path (like a line?)

is that feasible w/ gemini?

[2021-04-15 14:50] jhofman commented on #27
It would be really nice if you could just upload data and lines of code, then see the vegalite and gemini specs that get generated, and then see the animations.

So for instance you upload: a csv w/ the salary data + a string that specifies the R code "salary_data %>% group_by(degree) %>% summarize(mean(salary))". The only problem is that this would require running R in the browser at the moment.

[2021-04-15 16:16] giorgi-ghviniashvili commented on #21
@jhofman  the line should be like a tail effect like [this](https://giorgi-ghviniashvili.github.io/mario-force-canvas/) one?  Tick Tail effect to see it. Or it should be a straight line from source to target?

I will take a look at line generating with vega.

[2021-04-15 17:33] jhofman commented on #21
a straight line for now seems good, although the tail effect is kind of
neat :)

On Thu, Apr 15, 2021 at 12:17 PM Giorgi Ghviniashvili <
***@***.***> wrote:

[2021-04-15 17:52] sharlagelfand commented on #25
@jhofman @dggoldst I have a brain dump of notes [here](https://github.com/jhofman/datamations/blob/groups/sandbox/grouping/grouping_variables_exploration.md), exploring how many groups it's possible to handle in ggplot2 versus how many we might actually be able to handle differentiating and how to do that, the hierarchy of grouping, etc

[2021-04-15 18:05] sharlagelfand commented on #27
@jhofman @giorgi-ghviniashvili Definitely possible with Shiny! I know the data upload -> specify R code -> output vegalite specs aspects, less confident on the actual rendering of the javascript animations side in Shiny but something I could dig into for sure.

This kind of thing is starting to remind me of [TidyBlocks](https://tidyblocks.tech/en/index.html) too

[2021-04-15 19:05] jhofman commented on #25
this is great, looking forward to discussing tomorrow.

[2021-04-15 19:58] sharlagelfand commented on #17
These cases are solved in the `refactor-test` branch (original comment updated only to include cases that still don't work). Some of these animations are a bit hectic, but focus is on handling the logic properly and frames for each stage, rather than on the tweening itself

### summarise without grouping

[code]

![summarize_without_group](https://user-images.githubusercontent.com/15895337/1149291

[2021-04-15 20:24] dggoldst commented on #25
Looks interesting! Can't wait to hear more.

On Thu, Apr 15, 2021 at 3:05 PM Jake Hofman ***@***.***>
wrote:

[2021-04-16 07:27] giorgi-ghviniashvili commented on #27
I just thought of building a tool for visualization part, completely agnostic to R and data generations, because data generations already happening in R on @sharlagelfand's  side, but I am happy to discuss this further.

[2021-04-16 07:39] giorgi-ghviniashvili commented on #21
@jhofman I fixed "drop in" effect. The reason of it was that `id` fields were missing in last two specs. I just added them. @sharlagelfand please always make sure to include ids. If no ids are provided, it just deletes old points and then draws, but with ids, it just updates (translates).

https://user-images.githubusercontent.com/6615532/114989297-599ba900-9ea8-11eb-91eb-1a16e00d1b18.mov

[2021-04-16 09:08] giorgi-ghviniashvili commented on #21
@jhofman Instead of customising gemini specs ourselves, we should use [gemini's recommendations](https://github.com/uwdata/gemini#recommend), which generates gemini specs itself and produces better animations, with no errors!

https://user-images.githubusercontent.com/6615532/115001506-c026c400-9eb4-11eb-8d81-2cc6f6ecaba6.mov

[2021-04-16 09:09] giorgi-ghviniashvili commented on #21
@jhofman Instead of customising gemini specs ourselves, we should use [gemini's recommendations](https://github.com/uwdata/gemini#recommend), which generates gemini specs itself and produces better animations, with no errors!

https://user-images.githubusercontent.com/6615532/115001506-c026c400-9eb4-11eb-8d81-2cc6f6ecaba6.mov

[2021-04-16 09:23] giorgi-ghviniashvili commented on #21
@jhofman I don't understand why should we draw 100 lines, it will be a mess. But let's keep this for our live session.

[2021-04-16 17:28] jhofman commented on #25
we decided we'd try to adjust the group-by representation to be in "clumps" that mirror facets (first variable is row, second is column, third is possibly "nested" as in this figure).

![IMG_2871](https://user-images.githubusercontent.com/79563/115039152-323fde80-9e9e-11eb-8bf0-fafbf29a215d.JPG)

[2021-04-16 17:31] jhofman commented on #20
@sharlagelfand can you repeat what you did for the animation that had `group_by(degree)` only for the `group_by(degree, work)` one pictured [here](https://osf.io/t5vna/)?

@giorgi-ghviniashvili is going to check that his current code can animation that in a plug-and-play type fashion.

i suspect we'll have some questions about how the annotations / lines / etc should be exported in json. let's do

[2021-04-16 17:52] jhofman commented on #21
@giorgi-ghviniashvili, as per #20, next step is to animate the four group version of the plot [here](https://osf.io/t5vna/).

[2021-04-16 18:55] sharlagelfand commented on #20
@jhofman @giorgi-ghviniashvili specs for the `group_by(degree, work)` case are [here](https://github.com/jhofman/datamations/tree/vegawidget-exploration/sandbox/vegawidget/work_degree/specs)

I didn't include the lines/annotations and the x axes show numbers for the distributions/means rather than the underlying groups, but hopefully good enough to check that the animation works.

Giorgi let me kn

[2021-04-19 08:56] giorgi-ghviniashvili commented on #21
@jhofman I just plugged in the specs that @sharlagelfand provided, and it looks like this:

https://user-images.githubusercontent.com/6615532/115209366-92d55280-a10e-11eb-95f3-40924aa21ab6.mov

Using gemini recommendations. I have not changed anything in specs, only setting width and height, because `container` option does not work for animation.

[2021-04-19 09:52] giorgi-ghviniashvili commented on #21
About the console error, it is thrown on mouse move on chart area, so I fixed it with `pointer-events: none`.

Also @sharlagelfand please use `https://vega.github.io/schema/vega-lite/v5.json` instead of v4.json.

[2021-04-19 09:53] giorgi-ghviniashvili commented on #21
I also upgrade vega-lite version to latest v5.

[2021-04-19 09:55] giorgi-ghviniashvili commented on #21
[Here] (https://raw.githubusercontent.com/jhofman/datamations/gio/d3/sandbox/vega-gemini/work-degree/index.html) is the html file.

[2021-04-19 14:05] sharlagelfand commented on #21
@giorgi-ghviniashvili unfortunately `vegawidget` doesn't support vega-lite 5 yet. there's an issue in the repo to develop it, and I'll drop in there and ask about progress, but for now is it a major issue to continue using v4?

I also noticed from the animation above (which looks great!) that there must be an issue with some of the IDs I exported - between the 3rd and 4th frame the points should j

[2021-04-19 14:11] giorgi-ghviniashvili commented on #21
I don't think there is an issue with continuing with vega v4. I just wanted
it to be the latest.

On Mon, Apr 19, 2021 at 6:06 PM Sharla Gelfand ***@***.***>
wrote:

--
*Giorgi Ghviniashvili*
Data Visualization Engineer

ghviniashvili.com

[2021-04-19 15:05] sharlagelfand commented on #21
Updated coordinates are [here](https://github.com/jhofman/datamations/tree/vegawidget-exploration/sandbox/vegawidget/work_degree/specs) @giorgi-ghviniashvili  - only 4-6 have been updated so that the ID tracks consistently with the data. thanks!

[2021-04-19 16:46] jhofman commented on #21
This looks great overall, and very encouraging that it "just worked" to drop in the new specs.

Curious if anyone has opinions on the group by operation being shown in two parts (degree first, then degree + workplace). I kind of like it, but understand it could be confusing to people. Perhaps  it's not a problem if there are enough words or labels in the animation (as in the version we used in our

[2021-04-19 16:46] giorgi-ghviniashvili commented on #21
@sharlagelfand I directly accessing the json files from `raw.githubusercontent.com`, so once you update them, they will just work. Here is [demo](https://rawcdn.githack.com/jhofman/datamations/gio/d3/sandbox/vega-gemini/work-degree/index.html).

[2021-04-19 16:49] jhofman commented on #21
Looks like we're now faced with an instance of #25 here for the group-by step, because as is it's impossible to know what the second grouping variable is until you get to the final frame.

let's brainstorm more at next meeting.

[2021-04-19 21:29] sharlagelfand commented on #25
It would seem that the "faceted and grouped dot plot" infrastructure is pretty underdeveloped in R! Took a bit, but here are a couple of proof of concepts of the grouping, with much better spacing and clarity I think! We can discuss tomorrow :)

1. [Grouping in facets and subplots](https://github.com/jhofman/datamations/blob/groups/sandbox/grouping/facet_and_subplot_grouping.md) (like the example

[2021-04-20 13:29] jhofman opened #28 "Investigate faceting in vegalite and gemini"
For #25, we're looking at possibly using faceting to break up multi-variable groupings into rows / columns / subplots.

If we go this route, we'll need to know how well faceting works in vegalite and if we can animate between facets in gemini.

To investigate this:

1. Try converting the existing `group_by(degree, workplace)` dot plot into a faceted plot where the degree is the row, workplace is t

[2021-04-20 13:43] jhofman commented on #25
Next step is to see how creation and exporting of these new group by plots translate to vegalite specs.

As mentioned in #28, vegalite supports [faceting](https://vega.github.io/vega-lite/docs/facet.html), so hopefully vegawidget does as well.

Let's try two different ways to export?

1. Just facets: the equivalent of `facet_grid(island ~ species)` for the penguins data
2. Patchwork subplots: `isl

[2021-04-20 14:01] jhofman opened #29 "Investigate vegalite in a Shiny app"
Related to #27, how feasible is it to render a vegalite plot inside of a Shiny app?

To check this out, let's try a simple Shiny app with a dropdown that lets you choose between a [bar chart](https://vega.github.io/editor/#/examples/vega-lite/bar) and a [colored bar chart](https://vega.github.io/editor/#/examples/vega-lite/bar_color_disabled_scale).

The JSON can be hard-coded in. If successful ho

[2021-04-20 16:43] jhofman opened #30 "Show tables and plots side-by-side?"
@dggoldst and I realized that there are some data operations that make sense in table-based datamations but not in plot-based ones and vice-versa.

For instance, consider the "select" operation where only certain columns are retained. It's not clear how this would be represented in a plot, but in a table you'd simply drop the columns.

Maybe one way out of this is that we show table and plots side

[2021-04-20 17:19] jhofman opened #31 "List out all verbs we'd like to datamate"
Let's discuss what different verbs should look like. Taking them from [the Tidyverse cheat sheet](https://www.rstudio.com/wp-content/uploads/2015/02/data-wrangling-cheatsheet.pdf).

| verb | plot-based animation | table-based animation |
|-----|-----------------------|------------------------|
| mutate | | |
| group_by | | |
| summarize | | |
| arrange | | |
| filter | | |
| select | | |
| distinc

[2021-04-20 19:50] sharlagelfand commented on #29
Here's a super basic app that lets you choose between the bar and colored bar charts: https://sharlagelfand.shinyapps.io/vegalite/ (and the [code](https://github.com/jhofman/datamations/blob/vegalite-shiny/sandbox/vegalite-shiny-app/))

Everything is pretty hard coded, but I imagine as we go forward (in general, not just with Shiny) will need to make this into an [html widget](https://github.com/r

[2021-04-20 20:16] jhofman commented on #29
Awesome!

Can you point @giorgi-ghviniashvili to your favorite "intro to Shiny apps" resource(s)?

[2021-04-20 20:32] sharlagelfand commented on #29
Definitely! @giorgi-ghviniashvili, the [Mastering Shiny](https://mastering-shiny.org/) book is really awesome for foundational information, especially on how much (all?) of Shiny is just HTML, CSS, and javascript under the hood :) For tutorial-style, I like RStudio's materials starting [here](https://shiny.rstudio.com/tutorial/written-tutorial/lesson1/)

[2021-04-20 21:33] sharlagelfand commented on #25
Here are the specs for 1 (just facets): https://github.com/jhofman/datamations/tree/groups/sandbox/grouping/facet_color_specs

Working on the subplots specs - looks like [repeating views](https://vega.github.io/vega-lite/docs/repeat.html) is a good start for this, but I'm not sure whether we can combine repeated views with facets - will continue to dig into it.

[2021-04-21 10:21] giorgi-ghviniashvili commented on #28
Could not animate faceted vegalite spec. Seems like it is not supported now.

![image](https://user-images.githubusercontent.com/6615532/115538292-c948d400-a2ac-11eb-86f4-15e83ad9a494.png)

[2021-04-21 10:22] giorgi-ghviniashvili commented on #28
![image](https://user-images.githubusercontent.com/6615532/115538453-f4cbbe80-a2ac-11eb-93ec-0cfcaa65dc4d.png)

[2021-04-21 10:24] giorgi-ghviniashvili commented on #28
Just drawing with vega:
![image](https://user-images.githubusercontent.com/6615532/115538686-3492a600-a2ad-11eb-88ed-a532daf5dcab.png)

[2021-04-21 14:11] jhofman commented on #28
cc @sharlagelfand

[2021-04-21 14:35] jhofman commented on #28
Too bad about no faceted animations with gemini.

Does drawing with vega (instead of vega lite) buy us any additional functionality?

[2021-04-21 15:31] giorgi-ghviniashvili commented on #28
@jhofman There is no difference if you use vega or vega lite -- gemini does not support this kind of animation.

[2021-04-21 19:40] sharlagelfand commented on #25
Good idea on using the underlying facet data to "fake" the facets, @jhofman! Much easier than actually trying to offset ourselves, I think. There's a rendered example of what grouping looks like with real facets, "fake" facets, and the fake facets translated into vegalite [here](https://raw.githack.com/jhofman/datamations/groups/sandbox/grouping/diy_facets/facet_and_colour_grouping_diy_facet.html)

[2021-04-21 19:53] jhofman commented on #25
wow, that looks great @sharlagelfand, and glad it's easier than the do-it-yourself solution.

how hard do you think it would be to add facet labels in the faked version on rows and columns, to make it easier to see what the groups are?

[2021-04-21 19:59] jhofman commented on #28
got it.

so we need to decide if we solve the problem of determining coordinates for group_by frames on the base language (e.g., R) or rendering language (e.g., javascript) side.

here's another question on this, which is related to [this comment](https://github.com/jhofman/datamations/issues/25#issuecomment-824308992) from @sharlagelfand on #25: even though gemini doesn't support faceting, could

[2021-04-21 20:04] jhofman commented on #29
@sharlagelfand, just making some notes from our chat.

next up here is to try changing to an html widget so we can see how passing data goes. for instance, making the drop-down be a selection between one of two different datasets, and then doing a simple plot based on the dataset that's selected.

also, you mentioned that the [javascript for r](https://javascript-for-r.com) book might be useful.

[2021-04-21 20:37] jhofman commented on #25
the second: copying over what's on the ggplot2 version to vegalite.

[2021-04-21 20:43] sharlagelfand commented on #25
oooh yes, that's what I meant by "i haven't quite figured out the custom axes in vegalite" - let me dig into it! just wanted to make sure this was a good direction to head first.

for context, what's happening in the ggplot2 case is that e.g. for the x-axis, the values are still e.g. 1, 2, ..., 59 (however many points there are), but the labels are "Biscoe", "Dream", and "Torgersen", strategically

[2021-04-21 20:46] jhofman commented on #25
great, thanks and sorry to have missed the comment about "custom axes in
vegalite".

On Wed, Apr 21, 2021 at 4:43 PM Sharla Gelfand ***@***.***>
wrote:

[2021-04-21 22:03] sharlagelfand commented on #29
I have a working prototype! 🎉 Will see if I can figure out deploying easily (a bit complicated with the structure required by htmlwidgets / having an app embedded in the package) but otherwise will demo quickly on our call tomorrow.

[2021-04-22 17:19] giorgi-ghviniashvili opened #32 "Hack faceted vega specs to build fake faceted view in a single plot"

[2021-04-22 17:19] giorgi-ghviniashvili commented on #32
@jhofman that's the new issue we talked about

[2021-04-22 17:27] jhofman commented on #28
closing this in favor of the new #32 to hack faceting in a gemini-compatible way.

[2021-04-22 17:27] #28 closed

[2021-04-22 17:30] jhofman commented on #32
Ideally this could take as input a vegalite spec with a facet specification, then convert it on the javascript side to a vegalite spec with only one set of axes that fakes the facets. this could be done by reading off pixel locations from the original spec that never gets shown to the user, just gets used to read off pixel coordinates and create new x/y data for the gemini-compatible spec.

There'

[2021-04-22 17:33] jhofman commented on #29
prototype looked great. can you commit and post a link?

next step we discussed was to add a text box that takes tidyverse analysis code as input and produces vegalist specs as json for each step somewhere else on the page. (could simply print them all out for now.) then if we can render those specs in the page after that we'd have a nice working version of what could become the datamation editor

[2021-04-22 17:35] giorgi-ghviniashvili commented on #32
@jhofman I think @sharlagelfand done it on R side to fake the facets, can we ask him to either show the code or describe what exact was done?

[2021-04-22 17:38] jhofman commented on #32
sure, although i think the way this is done in R is very R-specific, by reading off of a ggplot object.

i imagine this would be different in vegalite. my best guess would be this, unless there's a cleaner way: create an invisible div, use vegalite to render the faceted spec there. then select that div and pull out the x/y coordinates of all of the points that were rendered. make a new dataset out

[2021-04-22 17:42] giorgi-ghviniashvili commented on #32
Yes, that makes sense.

Couple of thinkings:
* div thing is irrelevant here, because everything is drawn either on svg (parsable) or canvas (non-parsable)
* new version of vega-lite draws everything on <canvas> rather than on <svg> ( might be some field to force to render on svg, otherwise need to switch to old version )
* parsing svg will involve to parse path and g elements properties, so I am f

[2021-04-22 17:50] giorgi-ghviniashvili commented on #32
`vegaEmbed("#vis", spec, {renderer: "svg"})` - draws on svg.

[2021-04-22 17:53] giorgi-ghviniashvili commented on #32
`https://github.com/vega/vega-view#view_data` - interesting method

[2021-04-22 17:58] giorgi-ghviniashvili commented on #32
Accessing internal scale:
![image](https://user-images.githubusercontent.com/6615532/115763781-e0271d80-a3b5-11eb-9b3c-fff45d29582b.png)

[2021-04-22 20:45] sharlagelfand commented on #29
Super rough draft, but updated [here](https://sharlagelfand.shinyapps.io/datamations/) is a Shiny app that lets you select a data set, as well as variables to group by, summary variable, and summary function. Figured it's a little safer right now to force the selection of groups/summary variables rather than parse free text input.

It ended up easier to render the plots rather than output the actu

[2021-04-22 21:15] jhofman commented on #29
this is great, very nice!

@giorgi-ghviniashvili, next step would be to incorporate your code to datamate the different frames. we can discuss the next time we chat.

[2021-04-23 16:19] sharlagelfand commented on #25
Figured out the axes in vegalite, rendered [here](https://raw.githack.com/jhofman/datamations/groups/sandbox/grouping/diy_facets/facet_and_colour_grouping_diy_facet.html) now, and an example:

![visualization](https://user-images.githubusercontent.com/15895337/115900388-e78a0d80-a42d-11eb-9fab-713cea64bf2b.png)

One thing is that the axes are now occupied... so when we want to render axes of the a

[2021-04-23 17:18] jhofman commented on #25
great! related to #32, so ccing @giorgi-ghviniashvili

[2021-04-23 18:06] giorgi-ghviniashvili commented on #32
hey @jhofman , I managed to hack faceted view and create non faceted view.

[Demo](https://rawcdn.githack.com/jhofman/datamations/gio/d3/sandbox/vega-gemini/facets/hack-facets.html)

Some notes:

* I managed to get coordinates from its own internal functions instead of parsing svg
* I needed to traverse coords, so coordinate 0 will become height - 0, otherwise it would be flipped vertically
* I st

[2021-04-23 18:07] giorgi-ghviniashvili commented on #25
@sharlagelfand  could you please point me to the vegalite docs of annotations?

[2021-04-23 18:13] giorgi-ghviniashvili commented on #32
@jhofman  then I applied same code to colored facet and got [this](https://rawcdn.githack.com/jhofman/datamations/gio/d3/sandbox/vega-gemini/facets/hack-facets-colored.html). Pretty impressed. I am going to add annotations and then try to animation it with gemini!

[2021-04-23 18:19] sharlagelfand commented on #25
@giorgi-ghviniashvili I haven't seen much in terms of actual documentation, but maybe these [examples](https://vega.github.io/vega-lite/examples/#layered-plots) of layered plots with labels/annotations will be a good place to start?

If you're curious about the custom axes labels, I did something like [this](https://vega.github.io/editor/#/examples/vega-lite/circle_custom_tick_labels) - the values

[2021-04-24 10:11] giorgi-ghviniashvili commented on #32
Perfect! added labels as well with some extra padding around groups:

![image](https://user-images.githubusercontent.com/6615532/115955307-c0ebd580-a506-11eb-924e-e7b66092f65c.png)

Used same technique from @sharlagelfand 's [comment](https://github.com/jhofman/datamations/issues/25#issuecomment-825837409) in #25 .

[2021-04-24 10:25] giorgi-ghviniashvili commented on #32
Hi @jhofman , here is the original work-degree animation with fake facets: https://rawcdn.githack.com/jhofman/datamations/gio/d3/sandbox/vega-gemini/work-degree/facets.html?version=0.2

[2021-04-24 11:23] giorgi-ghviniashvili commented on #32
Even with gemini recommendations it has some weird errors... Or does not correctly show axis on animation while drawing with vega is ok with axis and stuff.

[2021-04-26 15:38] giorgi-ghviniashvili opened #33 "Fix gemini axes, labels and other component issues"
Even with [gemini recommendations](https://github.com/uwdata/gemini#recommend) it has some errors and does not correctly draws axes, labels, etc. We need to fix this by learning structure of gemini animation specs and building ourselves.

[2021-04-26 15:39] giorgi-ghviniashvili commented on #33
@jhofman  ^

[2021-04-26 15:56] sharlagelfand commented on #22
Moving the htmlwidgets discussion to here @jhofman @giorgi-ghviniashvili so it doesn't get lost in a conversation about Shiny apps.

I overwrote the bar chart shiny app with one that takes datamations frames, but here is how it works in a static R script (with info on how to install/run the app if you want)

[code]

![visualization (1)](https://user-images.githubusercontent.com/15895337/116111036-

[2021-04-26 16:02] giorgi-ghviniashvili commented on #33
Ah I found out that when you want to animate from A to B, we must draw A before animating, I was not doing that and there was an error because of that.

[2021-04-26 16:12] giorgi-ghviniashvili commented on #33
https://user-images.githubusercontent.com/6615532/116115443-749dc280-a6cb-11eb-84f6-2badf56399ed.mov

[2021-04-26 17:28] giorgi-ghviniashvili opened #34 "Some question about R"
Hi @jhofman  and @sharlagelfand , I will ask some questions about R here and if you have some time, please answer.

Some of them might be very dumb , sorry about that ..

[2021-04-26 17:29] giorgi-ghviniashvili commented on #34
* what is %>% ?
* where is the entry point of datamations
* how to run whole R script file into Shiny app without ctrl + enter for each line?

[2021-04-26 17:57] giorgi-ghviniashvili commented on #33
So recommendations only works for any two specs: A and B, but if you have a set of specs, then it is messed up. We need to write a logic to take into consideration full set of specs, not only two of them.

[2021-04-26 18:06] jhofman commented on #22
thanks for the great explanation of how this works @sharlagelfand!

[2021-04-26 18:09] jhofman commented on #34
that is a great question. you can think of it like a unix pipe that passes the output of one command the input of the next. (specifically it passes the output as the first argument of the next command, but you can override that with the dot operator if you like.) more [here](https://r4ds.had.co.nz/transform.html#combining-multiple-operations-with-the-pipe).

i'll leave that one for @sharlagelfand.

[2021-04-26 18:15] jhofman commented on #33
Glad you found the source of the issue, the animation looks quite good now!

Curious to chat more about how this logic for considering the set has to be modified. We can discuss at our next call.

Will this solve the issue for the work-degree datamation losing its x and y axes as well?

[2021-04-26 18:19] jhofman commented on #32
Just linking to #33. Next up is to debug the axis annotations not showing up for the last two frames of the work-degree animation (distribution and mean).

[2021-04-26 18:20] jhofman commented on #32
Also linking this to #23, see there for more.

[2021-04-26 18:28] giorgi-ghviniashvili commented on #33
About the work-degree animation, we have two issues there:

* Gemini issues with drawing axis (fixed by drawing source frame before animation)
* We will end up having two x axes on last two frames, because one of them will be for facet view (but in reality it is just x-axis) and the other will be real x-axis. With gemini we can only handle one axis. This constraint requires to develop a way to use

[2021-04-26 18:29] giorgi-ghviniashvili commented on #33
Other than that, I still don't like how gemini handles animations for axis, for example in the view, you see the jumping axis labels, which is because that gemini does not correctly renders `tickPadding`, and jumping happens because the target frame (which is source for next frame, is drawn without animation).

[2021-04-26 18:31] jhofman commented on #23
reviving this given a conversation with @sharlagelfand earlier today about where the x/y coordinates for infogrids should be calculated---on the base language (e.g., R) side, or on the rendering (e.g., javascript) side.

as per #32, given a set of x/y coordinates for points in each facet, @giorgi-ghviniashvili has a way to fake facets in a vegalite spec that is gemini friendly.

currently @sharlag

[2021-04-26 18:31] jhofman commented on #20
think we're good on this one!

[2021-04-26 18:31] #20 closed

[2021-04-26 18:33] jhofman commented on #21
think we're good on this one as well, specific problems now have their own issues.

[2021-04-26 18:33] #21 closed

[2021-04-26 18:36] jhofman commented on #27
@giorgi-ghviniashvili, given what you've seen from #29, do you think we can do everything you had envisioned in a shiny app, or is there good reason to make a separate datamation editor where you directly multiple json specs?

my guess is we can do it all with the shiny app, in which case we can close this out.

[2021-04-26 18:42] giorgi-ghviniashvili commented on #23
@jhofman Shifting to client side makes sense to me as well. We can write some helper functions per layout and generate x/y coordinates. I think we can run `d3-force` in background before rendering to generate collided x/y coordinates and then plot with vega.

One question about the `n`, does it mean that n = 10, is 10 element grid? A matrix 3 X 4 for example?

[2021-04-26 18:46] sharlagelfand commented on #34
not sure what you mean @giorgi-ghviniashvili, can you clarify?

[2021-04-26 18:46] giorgi-ghviniashvili commented on #34
@jhofman  thanks, just tested 1st and 3rd

![image](https://user-images.githubusercontent.com/6615532/116134637-314e4e80-a6e1-11eb-90b6-417be780cb5e.png)

[2021-04-26 18:47] giorgi-ghviniashvili commented on #34
For example, in js env, we have `package.json` and there is startup script defined in `package.json`, was looking forward something like that where the exported functions of `datamations` reside.

[2021-04-26 18:49] jhofman commented on #23
yes, exactly. that field is meant to specify the number of observations (dots) in each group.

[2021-04-26 18:50] giorgi-ghviniashvili commented on #27
@jhofman yes, we can do this in Shiny for sure, it looks more compatible with this project, easy to integrate R interpreter and javascript as well!

[2021-04-26 18:51] giorgi-ghviniashvili commented on #23
@jhofman I will write this script tomorrow, good idea

[2021-04-26 18:53] giorgi-ghviniashvili commented on #34
@sharlagelfand my intention is to start reading R and know where to start from..

[2021-04-26 18:54] sharlagelfand commented on #34
hmm I think something similar (from what I just read about `package.json`) is the [`DESCRIPTION`](https://github.com/jhofman/datamations/blob/main/DESCRIPTION) file, which contains the title, license, people, dependencies, etc. The [`NAMESPACE`](https://github.com/jhofman/datamations/blob/main/NAMESPACE#L3) file contains the names of all the functions we export, on lines starting with `export`. Th

[2021-04-26 19:13] sharlagelfand commented on #34
@giorgi-ghviniashvili If you want to understand how each of the stages is happening in datamations, I'd look at the code in my [`refactor-test` branch](https://github.com/jhofman/datamations/tree/refactor-test/R) moreso than the main branch, since it has been simplified a fair amount and focuses on generating the coordinates and vegalite specs for each stage, rather than the ggplot2 graphics and G

[2021-04-27 14:14] giorgi-ghviniashvili commented on #23
@jhofman [here](https://observablehq.com/d/30db6e3cb8288127) is the function that calculates grid layout. It also adjusts axis domains to position the grid in the center.

[here](https://rawcdn.githack.com/jhofman/datamations/gio/d3/sandbox/vega-gemini/layouts/index.html) is demo.

[2021-04-27 16:51] giorgi-ghviniashvili commented on #23
@jhofman  I also implemented jitter on js side using `d3-force`:

![image](https://user-images.githubusercontent.com/6615532/116280970-476c1580-a79a-11eb-8f2e-6f520e9c5d89.png)

[2021-04-27 16:52] giorgi-ghviniashvili commented on #23
Downside of d3-force is that it needs to wait for the force layout to compute its coordinates by [collision detection](https://observablehq.com/@d3/collision-detection).

For small datasets, it is quick, but for larger ones it might need some time to compute it.

[2021-04-27 16:53] giorgi-ghviniashvili commented on #23
You can take a look at the [code](https://github.com/jhofman/datamations/blob/8e73636d6a857051ec7c4751a09f8b04f57f8b42/sandbox/vega-gemini/layouts/index.html#L217).

[2021-04-27 17:32] giorgi-ghviniashvili commented on #22
@sharlagelfand I just saw that you integrated my code into the shiny app in `datamations-widget` branch. Could you please help me run that shiny app locally (without `devtools::install_github("jhofman/datamations", ref = "datamations-widget"`)?

[2021-04-27 17:47] sharlagelfand commented on #22
@giorgi-ghviniashvili I'm still working on it, it's not fully functional yet unfortunately! But good spot 😄

This is just a widget that will be viewable in the RStudio viewer pane, not yet in any shiny app.

You can see where it is at so far though by running:

[code]

<img width="1181" alt="Screen Shot 2021-04-27 at 1 42 31 PM" src="https://user-images.githubusercontent.com/15895337/116287948-fdb

[2021-04-27 17:51] giorgi-ghviniashvili commented on #22
Thanks! I just did not know about `devtools::load_all()`, I set working directory to `datamations` and then it worked.
Let me try to fix that widget or at least see how it works.

[2021-04-27 17:53] sharlagelfand commented on #22
Sounds good! If you open the `datamations.Rproj` file, in RStudio it will set the working directory to be datamations by default when you are in that project, rather than having to set it

[2021-04-27 17:55] giorgi-ghviniashvili commented on #22
It says that `play()` function not defined. If you call play() directly after init() datamationSandDance.js it will play it.

[2021-04-28 14:20] sharlagelfand commented on #22
Have figured out getting the `play()` button working in this widget! Updated code is in the [`datamations-widget` branch]() - note that the JS for the [widget](https://github.com/jhofman/datamations/blob/datamations-widget/inst/htmlwidgets/datamationSandDance.js) is quite small, and it mostly calls [external functions](https://github.com/jhofman/datamations/blob/datamations-widget/inst/htmlwidgets

[2021-04-28 14:50] giorgi-ghviniashvili commented on #22
@sharlagelfand this [PR](https://github.com/jhofman/datamations/pull/35) includes the simplified version of js, only play button. Removed slider and dataset name.

[2021-04-28 15:13] jhofman commented on #33
Logging my understanding of this.

Say we have three frames. The proper sequences is to call `gemini.recommend(A,B)`, get B_rendered from this, then call `gemini.recommend(B_rendered, C)`, and so on. (Can't call `gemini.recommend(B,C)` on the original B.)

[2021-04-28 15:13] jhofman commented on #33
We decide to file an issue w/ the Gemini folks on the padding issue using a small reproducible example.

[2021-04-28 15:14] jhofman commented on #33
We also decided to try to label facets using annotations insteadd of axes, so that we can get taxes in future frames.

[2021-04-28 16:52] sharlagelfand commented on #23
Hi @giorgi-ghviniashvili I've started putting together some "fake" specs that could be passed into your infogrid calculation function, they are all [here](https://github.com/jhofman/datamations/tree/refactor-test/sandbox/specs-for-infogrid).

The idea is that the data contains `n`, which tells you how many points are in each group (or overall if there is no grouping), and the spec contains informa

[2021-04-28 17:24] giorgi-ghviniashvili commented on #33
Unfortunately labels and annotations are done through `layer` property which is already multi-view plot and not supported by Gemini. SAD

[2021-04-28 17:50] giorgi-ghviniashvili commented on #33
https://github.com/uwdata/gemini/issues/5

[2021-04-29 18:58] giorgi-ghviniashvili commented on #23
@jhofman @sharlagelfand  I created a generalized version of animation engine:

It detects which specs need to be parsed and which specs needs to fake facets, or both.

We have some conventions:

* `meta: { parse: "grid" | "jitter" }`  added to spec and based on this App detects which parse function to use
* if `facet` and `spec` is available, it creates fake faceted view.

It is very simple to set

[2021-04-29 19:13] sharlagelfand commented on #23
Looks awesome! 🎉 The specs are updated with the conventions @giorgi-ghviniashvili and I discussed, and I'm working on setting up tests within the R code to ensure the specs are created correctly!

Here's an example (close, but still psuedo-code-y) of the conventions:

For the initial infogrid, with no facets. The meta specifies `parse: grid` and there is only one data value, with the `n`. `mark` a

[2021-04-29 19:32] sharlagelfand commented on #22
This widget is [in an app](https://sharlagelfand.shinyapps.io/datamations/) now, you can select which of the specs to animate. This will likely converge with #23 sooner rather than later to use @giorgi-ghviniashvili's generalized animation engine shown [here](https://rawcdn.githack.com/jhofman/datamations/gio/generalization/sandbox/app/index.html), but just an update on where the "gemini in R" bit

[2021-05-04 14:12] sharlagelfand commented on #17
More cases that work now:

###  data contained in first verb rather than piped in

This is now supported. The data is parsed out and moved to the first position. Some [tests](https://github.com/jhofman/datamations/blob/refactor-test/tests/testthat/test-parse_pipeline.R) for this as well.

[code]

### more than 2 grouping variables

This is well supported now with the column facet -> row facet -> c

[2021-05-04 17:53] sharlagelfand commented on #33
We talked today about fine tuning with the facets and how the plots should look. Here is how a faceted plot with jittered points looks in ggplot2:

Note the row facet labels are on the right, and the y-axis on the left contains the name of the variable being shown as well as its range. The x-axis contains `sex` but I think we're good to continue leaving that blank, since the legend shows it. The w

[2021-05-04 17:57] sharlagelfand commented on #23
Next steps for me are to integrate this generalized code into R code so there is a working htmlwidget that takes the pipeline, generates the "fake" specs, then the JS code converts these into real specs, does the animating, and it's all returned in the RStudio viewer!

It looks like the JS code can take the [specs as an array](https://github.com/jhofman/datamations/blob/gio/generalization/sandbox/

[2021-05-04 18:01] sharlagelfand opened #37 "Update README, ensure table code is working"
Once #23 is all closed out and we have a functional widget, will need to update the README illustrating how it works! I don't _think_ you can embed an htmlwidget into a static README so this may have to be in the form as htmlwidget -> movie -> GIF, but will double check on that.

Since we haven't done anything with the table code yet, will take a pass through and ensure it all still works and can

[2021-05-04 18:06] sharlagelfand opened #38 "Shiny app illustrating widget"
Again, once #23 is closed out and the widget is functional, should create a Shiny app that allows you to choose a data set, grouping variables, summary variable + operation, and shows the code and widget/animation, similar to [the app here](https://nshrest.shinyapps.io/datawhats/).

I had a live prototype of this that I wrote over (!) but the code is [here](https://github.com/jhofman/datamations/b

[2021-05-04 19:04] sharlagelfand commented on #23
@giorgi-ghviniashvili just looking at the code [here](https://github.com/jhofman/datamations/tree/gio/generalization/sandbox/app/scripts) and trying to integrate into the htmlwidgets framework, is it possible to defined `play()` globally and have it take an ID, like I changed it to do [here](https://github.com/jhofman/datamations/blob/datamations-widget/inst/htmlwidgets/js/datamationsFunctions.js#

[2021-05-04 21:36] sharlagelfand commented on #38
No datamations in it yet but here's a [skeleton for the app](https://sharlagelfand.shinyapps.io/datamations/) - allows you to select data, grouping variables, summary variable + operation, then shows the pipeline, initial data set, transformed data, and a plot of the final data. May not want/need all these elements but just to include something for now!

cc @jhofman @dggoldst

[2021-05-05 10:07] giorgi-ghviniashvili commented on #23
@sharlagelfand of course it is possible to define it globally, but would not it be possible to just define app globally, and then access subsequent properties on it? Can you take a look at the code how you are trying to integrate?

[2021-05-05 12:40] sharlagelfand commented on #23
@giorgi-ghviniashvili I think it's better to define `play()` globally with an ID and `app` just within the widget - if there is more than one widget on a page, then there would be more than one `app`, right? I think it's safer to use the ID of the div to play

[2021-05-05 12:42] giorgi-ghviniashvili opened #39 "Multiple axis in fake faceted views"
I got an idea to render two vega specs, one for axis and not touched by Gemini and second for fake faceted with animated by Gemini.

[2021-05-05 12:43] giorgi-ghviniashvili commented on #39
@jhofman  Started working on this, but finding it hard to exactly match points:

Upper ones are real ones, below ones are faked.

![image](https://user-images.githubusercontent.com/6615532/117142621-f7580900-adc0-11eb-99a9-dae3d7692bcc.png)

[2021-05-05 12:43] sharlagelfand commented on #23
Also  - I think the framework works, you need to define `app` within the widget because that's how you pass the specs to it. I'm not sure how it would work to define it globally

[2021-05-05 12:54] giorgi-ghviniashvili commented on #23
@sharlagelfand  please take a look at this [commit](https://github.com/jhofman/datamations/commit/908cb84896c35f9f803bbd75d7a50c8296ffec87)

[2021-05-05 13:51] jhofman commented on #22
Closing this since I think the new issues cover what comes next.

[2021-05-05 13:51] #22 closed

[2021-05-05 13:58] jhofman commented on #23
@giorgi-ghviniashvili the updates on the x jitter look great.

for the y jitter, as per @sharlagelfand's ggplot example in #33 (see [here](https://github.com/jhofman/datamations/issues/33#issuecomment-832130149)), wondering if we could use one of these beeswarm plugins for d3 instead of force collide?

* https://martinheinz.dev/blog/27
* https://observablehq.com/@d3/beeswarm
* https://bl.ocks.org/

[2021-05-05 14:03] jhofman commented on #39
@giorgi-ghviniashvili looks like a pretty good start, in fact i'm not sure what looks "off" other than the lower-left panel where the blue points are outside of the axes?

[2021-05-05 14:46] giorgi-ghviniashvili commented on #39
Points are duplicated, one point is from real faceted view, the other one is faked (a bit below). These two needs to match exactly and have only one circle, like this:

![image](https://user-images.githubusercontent.com/6615532/117160504-35a9f400-add2-11eb-93dd-782d1862a387.png)

[2021-05-05 15:13] sharlagelfand commented on #23
thank you @giorgi-ghviniashvili! can you clarify what the change is on that commit? Good to go on passing an `id` to `play()` now? It also looks like you removed the ability to add specs as an array, I was planning on testing that out (otherwise we have to e.g. write them to a temp file)

[2021-05-05 15:41] giorgi-ghviniashvili commented on #23
@sharlagelfand I have ability to pass an array, but instead of passing to `app`, I am passing to `init`. Check app.js file.

[2021-05-05 16:12] sharlagelfand commented on #23
Thanks @giorgi-ghviniashvili! Can confirm that the `play()` button works.

I'm a bit confused about the array because before there were [two arguments for specs](https://github.com/jhofman/datamations/commit/908cb84896c35f9f803bbd75d7a50c8296ffec87#diff-dbabe2dcdc40674a62dc77aece9f0483a0a5117a4d67b541c453e3ae428e68f3L2), `specUrls` and `specs` where I could pass either URLs or an array. Now there

[2021-05-05 17:40] giorgi-ghviniashvili commented on #23
@sharlagelfand updated it to support spec array, like this:

![image](https://user-images.githubusercontent.com/6615532/117184971-64cc5f80-adea-11eb-9bd4-9ef0b340299d.png)

[2021-05-05 18:10] sharlagelfand commented on #23
thanks @giorgi-ghviniashvili!! That's working for me!

[2021-05-05 19:28] sharlagelfand commented on #38
I've updated the app [here](https://sharlagelfand.shinyapps.io/datamations/) to show the datamations! cc @jhofman @dggoldst @giorgi-ghviniashvili

[2021-05-05 19:33] sharlagelfand commented on #37
Need to update the README with the widget fot plotting, but confirming that the table code works and can be left in 👍

[2021-05-06 08:40] giorgi-ghviniashvili commented on #38
@sharlagelfand awesome!

[2021-05-06 11:43] giorgi-ghviniashvili commented on #23
@jhofman

* https://martinheinz.dev/blog/27 - this example just uses forceCollide (same as we do) but the article is named as beeswarm.

* https://observablehq.com/@d3/beeswarm - this just fixes x coordinates and stacks circles along y axis (thus changes y coordinate which we don't need right?

I also reversed it and got this:

![image](https://user-images.githubusercontent.com/6615532/117291222-c

[2021-05-06 12:38] giorgi-ghviniashvili commented on #39
@jhofman  made it work:

Two vega graphs are overlaid.

Inner axes is drawn using "vega spec for axis".

Outer axes done with fake faceted spec. Notice that because we are using fake faceted view we can have facet axis on the right, which would not be possible with real faceted view because it is not supported yet.

![image](https://user-images.githubusercontent.com/6615532/117299079-2b96fc80-ae89

[2021-05-06 14:03] sharlagelfand commented on #39
@giorgi-ghviniashvili this looks great! If I want to pass a title for the y-axis in the jitter/summary frames, does it make sense to just pass that through in the y encoding `title`?

[2021-05-06 15:08] jhofman commented on #23
Quick note from this morning's call: we figured out that regular force collide for jitter looks much better when the y-axis is auto-scaled to cover the min and max range of the data instead of starting from zero. (Not clear if this is the vegalite default or if this was happening from some missing/NA y values in the data.)

Anyway, the plan is that @giorgi-ghviniashvili will have the code auto-sca

[2021-05-06 15:09] jhofman commented on #33
@sharlagelfand @giorgi-ghviniashvili: noticed that in some of the datamations (e.g., penguins with sex on the x axis), we have the variable showing up as an integer instead of a label (e.g., "1" instead of "undefined", "2" instead of "male", 3 instead of "female").

can we change this?

[2021-05-06 15:12] jhofman commented on #32
@giorgi-ghviniashvili: noticed that when we have a nominal or ordinal variable on the x axis with fake facets, the x axis isn't "centered".

so for instance, with the penguins data and sex on the x axis, the x axis goes from 0 to 3, and since the x data goes from 1 to 3, everything looks like it's shifted to the right a bit in the facet instead of centered in the facet.

can you adjust this so tha

[2021-05-06 15:18] jhofman opened #40 "(How) can we parse and handle a ggplot command at the end of a pipeline?"
Right now we're sort of implicitly assuming that grouping variables become faceting variables, which is reasonable and will generalize. But what if someone wants control over this,? More generally, we want to "respect" the final plot that they generate and have the steps leading up to that reflect this.

To illustrate, imagine the same data analysis pipeline, but with three different plotting comm

[2021-05-06 15:44] sharlagelfand opened #41 "Link to js dependencies instead of storing locally"
Need to figure out a way to link out to the dependencies instead of [having them locally](https://github.com/jhofman/datamations/tree/refactor-test/inst/htmlwidgets) - there is [an issue](https://github.com/ramnathv/htmlwidgets/issues/79) indicating this _wasn't_ possible at some point, but I'll keep digging to see if it is now or if we can find some other creative solution.

[2021-05-06 16:14] sharlagelfand commented on #41
It seems that all the libraries we're using allow for redistribution in code as long as the copyright notice is also retained, they all use the BSD 3-Clause License:

* [D3](https://github.com/d3/d3/blob/master/LICENSE)
* [vega](https://github.com/vega/vega/blob/master/LICENSE)
* [vega-lite](https://github.com/vega/vega-lite/blob/master/LICENSE)
* [vega-embed](https://github.com/vega/vega-embed/bl

[2021-05-06 18:09] sharlagelfand commented on #37
👍 plot examples in README work, all good:

[code]

https://user-images.githubusercontent.com/15895337/117343379-3abe8000-ae72-11eb-9ed9-99693850d85d.mov

[code]

https://user-images.githubusercontent.com/15895337/117343541-65a8d400-ae72-11eb-8be0-54d113b6e8a2.mov

Some notes on discrepancies that remain between the originals (in the main branch README) and these versions, + beyond in the case of 3

[2021-05-06 18:13] jhofman commented on #37
awesome, this looks great and thanks for summarizing the needed updates in an easy-to-follow checklist!

[2021-05-07 12:03] giorgi-ghviniashvili commented on #39
@sharlagelfand , yes I think it will work

[2021-05-07 15:35] giorgi-ghviniashvili commented on #37
yes, try to use `filled: true`.

[2021-05-07 15:41] giorgi-ghviniashvili commented on #37
@sharlagelfand  Since this is encoding.x.axis , can you try to set it yourself and just sent it via spec? Use `tickExpr`.

[2021-05-07 15:41] giorgi-ghviniashvili commented on #37
Please try to add 0.5 for padding.

[2021-05-07 18:02] sharlagelfand commented on #37
Sorry, just finally gone through all these now!

Will try that - you don't have the latest version [here](https://raw.githack.com/jhofman/datamations/gio/generalization/sandbox/app/index.html) right? The sizes are still changing there

The specs [here](https://github.com/jhofman/datamations/tree/refactor-test/sandbox/specs-for-infogrid) now all use `filled: true` but it doesn't perpetuate through

[2021-05-07 20:01] sharlagelfand commented on #39
Just to keep track of here, previously the axis appeared as soon as the points moved from infogrid -> jitter

https://user-images.githubusercontent.com/15895337/117502278-4763d680-af4d-11eb-9a72-bcf449f45cd0.mov

But now it looks like they only appear when moving jitter -> summary

https://user-images.githubusercontent.com/15895337/117502298-4f237b00-af4d-11eb-8f00-16d1ef34ed8e.mov

Probably bette

[2021-05-10 14:07] sharlagelfand commented on #40
Just rendered versions to refer to:

## Degree on the x, Work as facets

[code]

![](https://i.imgur.com/ZBKHPiQ.png)

## Degree on the x, Work and Degree as facets

[code]

![](https://i.imgur.com/DpLGqjk.png)

## Degree on the x, Work as (dodged) color, no facet

[code]

![](https://i.imgur.com/1LJj8z4.png)

[2021-05-10 16:23] jhofman commented on #37
@sharlagelfand, @giorgi-ghviniashvili: just checking in on this. is it realistic to try to update the README w/ the new examples today (before tonight's talk)?

it's okay if not, but just want to get a sense.

[2021-05-10 16:30] sharlagelfand commented on #37
@jhofman definitely realistic and my plan to! If @giorgi-ghviniashvili has time to answer some of the questions in my comment above we can make some progress on the more visual aspects of the datamations, but if not will definitely update with how it's looking now. The [app](https://sharlagelfand.shinyapps.io/datamations/) is updated with the latest versions of everything.

Would you be able to me

[2021-05-10 16:31] jhofman commented on #37
great!

btw, just tried out the app and saw some funniness in placement of the points on the last frame:

![Screen Shot 2021-05-10 at 12 30 40 PM](https://user-images.githubusercontent.com/79563/117693008-926b2d00-b18b-11eb-9e84-cfa0bb32d90f.png)

[2021-05-10 17:19] giorgi-ghviniashvili commented on #37
`axis.scale.domain`

- filled: true fixed
- facet titles fixed

[2021-05-10 18:09] giorgi-ghviniashvili commented on #37
@jhofman  Ok, I fixed it. The problem was that distances between facet title and axis and regular axis title and axis are different, which made the top positions different.
Actually generally these kind of things are cons of "hacking facets", we need to have some hardcoded padding / spacing adjustments..

[2021-05-10 18:20] sharlagelfand commented on #37
Thanks @giorgi-ghviniashvili! Filled points and facet title are working now.

[2021-05-10 19:54] sharlagelfand commented on #37
Looks like something is going on here with the scaling of the y-axis - it's scaled just to the domain for the jitter view (which has no axes, as shown in [this comment](https://github.com/jhofman/datamations/issues/39#issuecomment-834738815)) but then scaled 0 -> full domain for the summary view (which has axes).
The consequence is that briefly it shows the axis for the jitter view but with *wrong

[2021-05-11 16:20] sharlagelfand opened #42 "Allow pipeline without quoting"
Would be very slick to allow the pipeline without needing to pass it as a character vector, e.g.

[code]

instead of

[code]

Have been looking into this a bit but writing it down here to track!

[2021-05-11 16:30] sharlagelfand commented on #24
This is all good - just gonna close.

[2021-05-11 16:30] #24 closed

[2021-05-11 21:58] sharlagelfand commented on #37
(Will also close this issue and move outstanding stuff to new issues tomorrow, since the README _is_ updated!)

[2021-05-12 14:09] #38 closed

[2021-05-12 14:36] jhofman commented on #37
thanks @sharlagelfand

@giorgi-ghviniashvili is it possible that there's still a bug in the axis positioning or labeling? seems like the averages in the last frame are in the 90k region, but i remember them being in the high 80s.

[2021-05-12 14:37] jhofman commented on #39
@giorgi-ghviniashvili as discussed yesterday, can you check and confirm that the bounding boxes of the real and fake axes line up?

[2021-05-12 14:40] jhofman commented on #33
from yesterday's call, we agreed that we'd like to keep x axis position for categorical variables consistent between real and faked vegalite specs (e.g., if sex is on the x axis, then the position of male/female/undefined is always consistently encoded as, say 1, 2, and 3, and the x axis is centered on these values, running from 0.5 to 3.5 in this case).

also, we'd like to have the actual labels

[2021-05-12 14:47] jhofman opened #44 "Add error bars to summarized frames"
we discussed adding error bars to the summarized plots.

@giorgi-ghviniashvili: can we do this with just one "layer" in vegalite, or do we have to hack things again? could you play with this in the vegalite editor and then see if gemini can handle it?

if it is possible (🤞), then @sharlagelfand, we'll just need to add to the vegalite spec when exporting.

[2021-05-12 14:52] jhofman commented on #33
Yep, that's the idea!

[2021-05-12 14:53] jhofman opened #45 "Change "play" button to autoplay + slider + replay button"
Can we modify the "play" button in the widget to be a slider that let's you scroll through the different steps in the analysis? And can we also make the animation play by default in the shiny app, with a "replay" button that allows for cycling back through the animation?

In a future version we could get really fancy about this where each notch on the slider lists the portion of the pipeline that

[2021-05-12 14:55] jhofman opened #46 "Add data point information on hover?"
@giorgi-ghviniashvili is it possible to add tooltip hover over to the points on plots in vegalite / gemini?

if so this could be really useful, both for debugging (for instance to know what the summarized values are in the final frame when checking if the axes are right) and for causal users who want to see more about that datapoint.

[2021-05-12 14:58] jhofman commented on #30
@sharlagelfand just reviving this a bit.

do you think there's a simple drop-in thing here where we could use something like [DT](https://rstudio.github.io/DT/) to show dataframes as tables alongside the animations?

for instance, each step in the pipeline could be on a different tab, with the tab showing the results at that point?

if it's easy to play with this for some brainstorming, great. fro

[2021-05-12 15:19] sharlagelfand commented on #30
@jhofman yep definitely! having each of the results in a tab is a great idea. I'll play around with how it could look/work.

[2021-05-12 16:07] giorgi-ghviniashvili commented on #37
@jhofman no, the y values are 90s:
![image](https://user-images.githubusercontent.com/6615532/118007935-ac5c6980-b35d-11eb-9324-237eb19a527c.png)

[2021-05-12 16:08] giorgi-ghviniashvili commented on #39
@jhofman yes, currently they line up correctly.

[2021-05-12 16:10] giorgi-ghviniashvili commented on #33
@jhofman is this already resolved by @sharlagelfand , or do you need my help here?

[2021-05-12 16:24] giorgi-ghviniashvili commented on #46
@jhofman we had weird issues on hover with gemini, but will try to make it work. Vega supports [tooltips](https://vega.github.io/vega-lite/docs/tooltip.html).

[2021-05-12 16:37] giorgi-ghviniashvili commented on #46
@jhofman I set `tooltip: true` to the spec, it works in vega, but has issues in gemini, maybe better to ask gemini guys about this error?

![image](https://user-images.githubusercontent.com/6615532/118012110-c6984680-b361-11eb-9436-27d782858f04.png)

![image](https://user-images.githubusercontent.com/6615532/118012079-bed8a200-b361-11eb-8558-9a47e1e0909c.png)

[2021-05-12 16:39] jhofman commented on #46
got it.

can you create an issue on the gemini project?

thanks!

[2021-05-12 16:41] giorgi-ghviniashvili commented on #46
https://github.com/uwdata/gemini/issues/7

[2021-05-12 16:46] sharlagelfand opened #47 "Axes and legend appearing too late"
@giorgi-ghviniashvili just wanted to track here the issue that axes are appearing too late - they should appear as soon as the infogrid -> jitter transition starts, but they appear when jitter -> summary starts:

https://user-images.githubusercontent.com/15895337/118002420-975be800-b315-11eb-9427-469130e5cd81.mov

I also just noticed that the legend doesn't appear until jitter -> summary! Ideally

[2021-05-12 16:47] sharlagelfand opened #48 "Points moving across facets"
@giorgi-ghviniashvili I haven't been able to figure out why points are moving across facets - as far as I can tell the IDs match! Could you take a look? The example in #47 shows it and also this one in the app with `dataset: penguins` and `group by: species, island, sex`:

https://user-images.githubusercontent.com/15895337/118013158-d1ca8280-b31f-11eb-8b5f-f82f1b8042b2.mov

The specs for this case

[2021-05-12 16:56] giorgi-ghviniashvili commented on #47
@sharlagelfand you have `axis: null` in encoding for jitter spec, could you please remove `axis: null`?

[2021-05-12 17:22] giorgi-ghviniashvili commented on #47
@sharlagelfand  fixed it, please check it [here](https://raw.githack.com/jhofman/datamations/gio/generalization/sandbox/app/index.html).

[2021-05-12 17:35] giorgi-ghviniashvili commented on #48
@sharlagelfand found one issue: Adelie and Torgersen has 5 NA points, while jitter one has 4:

![image](https://user-images.githubusercontent.com/6615532/118019383-fcd9c400-b369-11eb-9cb4-823ee0f33b14.png)

[2021-05-12 17:41] sharlagelfand commented on #48
@giorgi-ghviniashvili one of the Y values is actually `NA` (/null) so it shouldn't show up in the jittering - is it possible to have that point shown in the infogrid then "disappear" when move to jittering?

I have it worked out so the ID of the NA one isn't in the specs ([here](https://github.com/jhofman/datamations/blob/fixes/sandbox/specs-for-infogrid/05-jitter.json#L1178) - there is id 147 and

[2021-05-12 17:42] sharlagelfand commented on #47
thanks @giorgi-ghviniashvili, axes looks good! is it possible to fix the legend too?

[2021-05-12 18:28] giorgi-ghviniashvili commented on #45
I added `autoPlay` field to init function, also added slider and spec description which will display `meta.description` field.

[code]

https://user-images.githubusercontent.com/6615532/118025864-58f41680-b371-11eb-8df9-fe09b9568476.mov

[2021-05-12 18:30] giorgi-ghviniashvili commented on #47
Whats wrong with the legend?

[2021-05-12 18:32] sharlagelfand commented on #47
From my first comment :)

[2021-05-12 18:50] giorgi-ghviniashvili commented on #47
Ah, fixed it now. I was setting legend to null for all case, but now I am setting to null if `meta.axes`.

[2021-05-12 18:57] giorgi-ghviniashvili commented on #48
@sharlagelfand it should work like you describe, the point with id 148 should be gone in exit selection of d3, but needs a bit more exploration why it does not work like that. Will dive into it.

[2021-05-13 13:42] sharlagelfand commented on #45
Looks awesome @giorgi-ghviniashvili!! Here's an updated video with the descriptions for each frame:

https://user-images.githubusercontent.com/15895337/118133691-1cef9e80-b3cf-11eb-803f-8eaf5433e829.mov

i think the descriptions are off by one frame - e.g. the "group by species" frame shows up once the "group by species" -> "group by species, island transition" has already started happening (inste

[2021-05-13 13:47] sharlagelfand commented on #47
Thanks @giorgi-ghviniashvili! In the video below is the legend moving positions due to have it from fake axes vs from real axes? Not sure what causes this

https://user-images.githubusercontent.com/15895337/118134736-40ffaf80-b3d0-11eb-8260-fae6a7203934.mov

[2021-05-13 15:38] giorgi-ghviniashvili commented on #47
@sharlagelfand yes, that's because the width is changing..

[2021-05-13 15:45] giorgi-ghviniashvili commented on #47
Fixed it! @sharlagelfand

[2021-05-13 15:51] giorgi-ghviniashvili commented on #45
@sharlagelfand , thanks, fixed it.

[2021-05-13 16:18] giorgi-ghviniashvili commented on #48
@sharlagelfand  I found the issue. The gemini's recommendations did not correctly generate the animation spec. I manually updated gem spec for third frame and got this:

https://user-images.githubusercontent.com/6615532/118154598-4d175b80-b428-11eb-86fa-0c00e9eb3297.mov

In general, I should come up with general solution.

[2021-05-13 16:37] giorgi-ghviniashvili opened #49 "Look inside how gemini works"
I think I should start reading gemini source code and see how it works to be able to fix some internal things. For example [this](https://github.com/uwdata/gemini/issues/7#issuecomment-840182586).

Also #48 is related to gemini recommendations, which does not correctly gets recommended gemini animation spec. Would be better to a least debug and find why it does not work correctly.

For example, it

[2021-05-13 17:24] giorgi-ghviniashvili commented on #48
@sharlagelfand It is not a bug with the gemini, but the initialization object (my fault!). I modified it and now it correctly recommends. It was not correctly setting gemini_id.

[2021-05-13 17:28] giorgi-ghviniashvili commented on #49
update about #48, I was initializing recommendation options incorrectly. Fixed it now.

[2021-05-13 18:18] sharlagelfand commented on #48
thank you!!! looks good 🎉

[2021-05-13 18:18] #48 closed

[2021-05-13 18:19] sharlagelfand commented on #47
looks good now @giorgi-ghviniashvili ty!!

[2021-05-13 18:19] #47 closed

[2021-05-13 18:40] sharlagelfand commented on #30
Have a (somewhat buggy) proof of concept [here](https://sharlagelfand.shinyapps.io/datamations/) showing each step in a tab - I've limited it to one tab for each step, so just one for all "group by" rather than one for each variable grouped.

Initial data shows all of the data, all variables, and in whatever order it comes

Group by shows just the grouping variables and the summary variable, and t

[2021-05-14 15:51] sharlagelfand commented on #37
Looks like these are right:

<img width="589" alt="Screen Shot 2021-05-14 at 11 46 50 AM" src="https://user-images.githubusercontent.com/15895337/118296181-aaec8780-b4aa-11eb-9e79-6368f4a01769.png">

[code]

so going to close this now!

[2021-05-14 15:51] #37 closed

[2021-05-17 14:33] jhofman commented on #37
Looks like the [shiny app](https://sharlagelfand.shinyapps.io/datamations/) still shows two values about 90. is that [previous screenshot](https://github.com/jhofman/datamations/issues/37#issuecomment-841330406) from the app or somewhere else?

![Screen Shot 2021-05-17 at 10 31 08 AM](https://user-images.githubusercontent.com/79563/118506250-280e3b80-b6fb-11eb-9381-17b6569c10fe.png)

[2021-05-17 14:35] jhofman commented on #33
@giorgi-ghviniashvili to answer your question, i'm not sure! :)

is it simply a matter of dropping in the vega spec mockup that @sharlagelfand made, with the new (discrete) x axes labels (female, male, NA)? or does something else need to be done to make things work okay with gemini?

[2021-05-17 14:38] sharlagelfand commented on #37
Huh, you're right! And the data shown in the app is wrong too (but seems to match the values on the plot)

<img width="1270" alt="Screen Shot 2021-05-17 at 10 36 32 AM" src="https://user-images.githubusercontent.com/15895337/118507093-ea5de280-b6fb-11eb-87ba-ee7e9ad3fc5e.png">

Not sure what's going on here - I'll dig into it.

[2021-05-17 14:40] jhofman commented on #45
this looks great overall. noticed a small thing: in the final frame, the points in the upper right (Gentoo / Biscoe) don't align with the grid. they seem shifted to the left. same is happening in the middle column, but slightly less so.

@giorgi-ghviniashvili, can you investigate.

related to #33

[2021-05-17 14:42] jhofman commented on #30
great first pass on this. let's discuss at our next meeting.

[2021-05-17 14:43] sharlagelfand commented on #37
Oooh - there's two different "small salary" data sets - `small_salary` and `small_salary_data`:

[code]

Will open a new issue for this.

[2021-05-17 14:53] sharlagelfand opened #50 "Fix small salary data"
Looks like there's actually _two_ small salary data sets, which give different results:

[code]

@jhofman can you confirm that the one we want is the first, with means 90.2 and 88.2?

[2021-05-17 14:55] giorgi-ghviniashvili commented on #45
@jhofman that's because "vega for axis" has encoding.x.axis.values = [0.5, 1.5, 2.5] which does not work with vega. @sharlagelfand  please change this array to [1, 2, 3].

[2021-05-17 14:57] giorgi-ghviniashvili commented on #33
@jhofman I think it is resolved by @sharlagelfand  already. We also found an issue with vega that axis.values does not work with floating point values. She will use integers and labelExpr to achieve this.

[2021-05-17 15:00] sharlagelfand commented on #45
Thanks @giorgi-ghviniashvili, fixed!

<img width="1121" alt="Screen Shot 2021-05-17 at 10 59 56 AM" src="https://user-images.githubusercontent.com/15895337/118510523-09aa3f00-b6ff-11eb-99de-edd01dc49a65.png">

[2021-05-17 16:18] sharlagelfand commented on #40
Started looking into this, some notes:

[code]

Parse the pipeline - it splits by %&gt;%, so all of the plotting is in the last element

[code]

Evaluate each of the data states (except the last, which contains plotting) - need this for each of the stages animated

[code]

Now actually evaluate the entire pipeline (with the plotting) to get the plot object

[code]

![](https://i.imgur.com/Xt3AzsD.

[2021-05-18 12:11] giorgi-ghviniashvili commented on #44
@jhofman [error bars](https://vega.github.io/editor/#/examples/vega-lite/layer_point_errorbar_ci) are available using layer field, which is not supported by gemini.
[Box plots](https://vega.github.io/editor/#/examples/vega-lite/boxplot_minmax_2D_vertical) does not use layers, but does all the quantile calculations internally.

[2021-05-18 12:16] jhofman commented on #44
could we either a) fake them in the same way you're doing with facet axes, by creating a second layer or b) try to add to gemini internally as per #49?

[2021-05-18 12:26] jhofman commented on #40
this is awesome @sharlagelfand!

to make next steps concrete, let's try to use this to add a ggplot command to get a version of the degree+work plot used in the paper, without facets (by either position_dodging based on workplace, or by having four separate ticks?)

<img width="629" alt="Screen Shot 2021-05-18 at 8 25 56 AM" src="https://user-images.githubusercontent.com/79563/118650626-ad085c00-b

[2021-05-18 12:38] giorgi-ghviniashvili commented on #44
@jhofman which one to try first? I have not started gemini code reading yet.

[2021-05-18 12:59] jhofman commented on #44
a) seems easier if it's possible to just turn on an extra layer with the error bars

[2021-05-18 13:02] giorgi-ghviniashvili commented on #44
@sharlagelfand can you prepare specs for this for me to work with?

[2021-05-18 14:09] sharlagelfand commented on #50
Just to update, we want to use `salary_data`, not `small_salary`

n = 3000 in this case and I'm running into performance issues - seems that the plotting itself is fine, but gemini is struggling with animating this much data:

https://user-images.githubusercontent.com/15895337/118666335-17c09400-b7c1-11eb-80f7-0d4030013901.mov

[2021-05-18 15:10] sharlagelfand commented on #40
Looks like this example works pretty well right out of the box!

https://user-images.githubusercontent.com/15895337/118675960-05e2ef00-b7c9-11eb-9179-d818afdb2952.mov

One thing that's off is the X axis labels - @giorgi-ghviniashvili, from the [specs](https://github.com/jhofman/datamations/blob/fixes/sandbox/work_facet_degree_x.json) it looks like all of the X values, X breaks, and X labels are 1,

[2021-05-18 15:11] sharlagelfand commented on #44
@giorgi-ghviniashvili I'm having some trouble figuring out error bars with facets - have you done this before?

[2021-05-19 08:58] giorgi-ghviniashvili commented on #40
@sharlagelfand  *Plot Salary within each group* does not have `scale.domain`.

Please add it and you will get this:

![image](https://user-images.githubusercontent.com/6615532/118785193-ae648200-b8a1-11eb-8b64-107f5e3e72cd.png)

![image](https://user-images.githubusercontent.com/6615532/118785344-d3f18b80-b8a1-11eb-8a35-730e31f12a9a.png)

[2021-05-19 09:18] giorgi-ghviniashvili commented on #39
As per @jhofman 's comment that points don't line up correctly:

![image](https://user-images.githubusercontent.com/6615532/118787962-5e3aef00-b8a4-11eb-9027-3ece1d4b9560.png)

@sharlagelfand  could you please do this:

![image](https://user-images.githubusercontent.com/6615532/118788061-73b01900-b8a4-11eb-8d15-bd4f6930a7f4.png)

Avoid using decimals, and have 1, 2, 3 in `axis.values`. Adjust padd

[2021-05-19 12:01] sharlagelfand commented on #40
Ah thanks @giorgi-ghviniashvili!

[2021-05-19 12:43] sharlagelfand commented on #39
Thanks @giorgi-ghviniashvili!

I have a question about the Y domain in the jitter and summary frames - I've set the Y domain to be the range of the data as we discussed so that the summary points are in the same range as the jitter points. It all looks good in the animation but when you actually click on the last summary frame, you can see it has a different Y domain:

https://user-images.githubus

[2021-05-19 19:06] giorgi-ghviniashvili commented on #44
@sharlagelfand  no , I have never done error bars with facets before. I only have this example: https://vega.github.io/vega-lite/examples/layer_point_errorbar_stdev.html

[2021-05-19 19:28] sharlagelfand commented on #40
Quite happy to say I have these examples working!!

# Degree on the x, Work as facets

[code]

https://user-images.githubusercontent.com/15895337/118870106-2dfb4c80-b8b4-11eb-96fb-04c88705122f.mov

# Degree on the x, Work and Degree as facets

[code]

https://user-images.githubusercontent.com/15895337/118872511-a2cf8600-b8b6-11eb-99be-c94f22fd284f.mov

This one looks a bit odd, we may want to fine

[2021-05-19 20:31] giorgi-ghviniashvili commented on #44
Some progress:

https://user-images.githubusercontent.com/6615532/118880230-b0126200-b902-11eb-91a5-156a8b10c9bf.mov

[2021-05-20 14:00] sharlagelfand commented on #50
We want to use `small_salary` - but should think more about downsampling (either telling them to do it or doing it ourselves with a warning) - I'll open a new issue for that

[2021-05-20 14:04] sharlagelfand opened #51 "Downsample data"
As per #50, we can't quite handle 3000 points - so we should warn people to downsample (and if they don't, downsample ourselves with a warning).

I'll do some experimenting to see what the cutoff for downsampling is first.

[2021-05-20 14:43] sharlagelfand commented on #44
@giorgi-ghviniashvili [Here](https://vega.github.io/editor/#/url/vega-lite/N4IgJAzgxgFgpgWwIYgFwhgF0wBwqgegIDc4BzJAOjIEtMYBXAI0poHsDp5kTykBaADZ04JAKyUAVhDYA7EABoQAEySYUqUMSSCGcCGgDaoMohqyaAfRrK0ARiUARcgCc4cNCACySCJjguBkoAHvZKAJ5oAJwADJQATPEAbADMKQAsMTFJdgDsqRGWLkgA7mgAHHaUUenpYjF2KeUpSVFi5QC+CiZmFta2qPFOru6ePn4BQSChqA4gkaixCclpmdl5BfNFpRXxlOVtKVliSenl8Xad3SCmCOZWNmgpw2RuHujj-oGK02Hz0XFEqkMlkcvlnlt

[2021-05-20 15:15] sharlagelfand commented on #44
Ok, here are example (full) specs with an errorbar at the end for [facet](https://github.com/microsoft/datamations/blob/parse-ggplot2/sandbox/errorbar/specs_with_facet.json) and [non-facet](https://github.com/microsoft/datamations/blob/parse-ggplot2/sandbox/errorbar/specs_no_facet.json) cases.

I couldn't figure out having errorbars when there are both column and row facets - you can see [here](ht

[2021-05-24 18:28] giorgi-ghviniashvili commented on #39
@sharlagelfand good catch, fixed it. Please update shiny app with this commit.

[2021-05-25 12:51] #50 closed

[2021-05-25 12:52] sharlagelfand commented on #39
Looks good, thanks @giorgi-ghviniashvili!

[2021-05-25 12:59] sharlagelfand opened #53 "Allow more than one summarized value"
Right now we only support one summarized value, e.g.

`small_salary %>% group_by(Degree) %>% summarize(mean = mean(Salary))`

Maybe in the future could think about how multiple operations (or summarizing multiple variables) could work, e.g.

`small_salary %>% group_by(Degree) %>% summarize(mean = mean(Salary), median = median(Salary))`

[2021-05-25 12:59] sharlagelfand commented on #17
The only thing left here is "summarizing more than 1 value" which seems more like an enhancement than a bug! So I'm going to open a new issue for that and close this off.

[2021-05-25 12:59] #17 closed

[2021-05-25 13:00] sharlagelfand commented on #29
We indeed have the app working, so I'll close this!

[2021-05-25 13:01] sharlagelfand commented on #25
Going to close this! We have a general case figured out and #40 covers the idea of IDing customized multi-grouping

[2021-05-25 13:01] #25 closed

[2021-05-25 14:34] sharlagelfand opened #54 "Zoom to error bar range"
Expanding on #44, would be good to have the final frame zoom in to only show the range of the error bars, not of the full data.

I'll generate a test spec for this.

[2021-05-25 14:35] sharlagelfand opened #55 "Flow for multiple group by + summarise steps"
Want to test out if it's possible to do group_by -> summarise -> group_by -> summarise (or e.g. group_by -> summarise -> summarise) - @jhofman will provide an example

[2021-05-25 14:37] sharlagelfand opened #56 "Use slider to change tab in Shiny app"
As a next step on #30, looking into if it's possible / how difficult it is to have changing the slider in the datamation update which tab of data is shown in the app.

[2021-05-25 14:37] sharlagelfand commented on #30
Closing this, #56 covers next steps re: using slider to change tab.

[2021-05-25 14:44] sharlagelfand opened #57 "Possible to have dynamic width of slider bar / description?"
Curious if it's possible to have the width of the slider bar and description adjust to the width of the actual plot (which isn't fixed):

e.g. instead of spanning the whole container

<img width="632" alt="Screen Shot 2021-05-25 at 10 41 49 AM" src="https://user-images.githubusercontent.com/15895337/119518014-20c3df00-bd46-11eb-8590-58162194c2c5.png">
<img width="997" alt="Screen Shot 2021-05-25 a

[2021-05-25 14:50] sharlagelfand opened #58 "Angle x-axis labels so they're not cut off"
Discussed already with @giorgi-ghviniashvili, but right now long x-axis labels are cut off (Dream isn't shown at all)

<img width="518" alt="Screen Shot 2021-05-25 at 10 46 02 AM" src="https://user-images.githubusercontent.com/15895337/119518334-6c768880-bd46-11eb-839a-0f6a484d4d99.png">

We should either: pass the angle for the axis labels in the specs, or set them within JS to all have labelAngl

[2021-05-25 14:52] sharlagelfand opened #59 "Change y-axis titles between frames"
It would be nice to have different y-axis titles between different frames - e.g. the distribution frame shows "Salary", and the final summarised frame shows "mean(Salary)" or something like that.

I'll put together some specs to test this.

[2021-05-25 14:55] sharlagelfand opened #60 "Shiny app can't handle changing data/groups more than once without freezing"
Just to keep track of this so I dig into it... I'm not sure if it's an issue with the way the Shiny app is laid out or how the specs are generated/animated, but will look into it.

[2021-05-25 15:42] sharlagelfand opened #61 "Offset infogrid / jitter using X, without color"
Seems like infogrid / jitter case can only handle when the offsetting variable is color:

[code]

Specs [here](https://github.com/microsoft/datamations/blob/parse-ggplot2/sandbox/ggplot2/offset_x_with_color.json).

https://user-images.githubusercontent.com/15895337/119526361-528c7400-bd4d-11eb-85df-d26b0acad222.mov

The above R code says nothing about color, and really should only be offsetting by

[2021-05-25 16:00] sharlagelfand commented on #44
Just closing the loop on the issue with error bars not appearing with both row/column facets - they are there, just tiny! Related to #54 in terms of zooming in on the final view.

[2021-05-25 16:38] sharlagelfand commented on #54
@giorgi-ghviniashvili here is a sample [spec](https://github.com/microsoft/datamations/blob/parse-ggplot2/sandbox/errorbar/zoomed_specs.json), and how it looks now:

https://user-images.githubusercontent.com/15895337/119535233-ca5e9c80-bd55-11eb-882c-d3125ac610a4.mov

The zoom kind of works, but since the axis is shared between the last few frames it doesn't update with the new range.

[2021-05-25 16:38] sharlagelfand commented on #59
I'm guessing the solution for this is related to #54, so I'll hold off and see what we come up with on that one.

[2021-05-25 18:00] jhofman commented on #55
@sharlagelfand: There were too many observations in the bike data, so here's an artificial but hopefully still interesting one: take a few famous baseball players, compute their batting average for each year they played, noting the team they played for, and then look at their median batting average over the time with that team.

[code]
I don't love the styling of this plot, but perhaps it's enough

[2021-05-25 18:39] sharlagelfand commented on #55
Thanks @jhofman! This actually brings up another question about how to handle summary operations that are combinations of multiple variables, e.g. `ba = h / ab` - right now we don't have a way to show distributions of two variables or how the relationship between them derives a new variable... I'll create an issue for that, and see if we can come up with an example that just does multiple steps wi

[2021-05-25 18:41] sharlagelfand opened #62 "Handle derivations from multiple variables"
From @jhofman's example in #55, we don't have a way right now to handle a variable derived from multiple other variables, e.g.

[code]

The summarize step computes `ba` which is derived from both `h` and `ab`, so we'd need some way to show distributions of _both_ of those variables and how they interact to create the single derived variable.

[2021-05-25 21:34] jhofman commented on #62
This is a great point, and probably higher priority than the multiple
group-by and summarize steps. It applies for mutate on multiple columns as
well.

We’ll probably have to discuss and sketch out interactively, but one idea
is that we could show a scatter plot of hits vs at bats where each row is a
point, then summarize to the result (batting average = hits / at bats) as a
vertical jitters plot

[2021-05-26 11:25] giorgi-ghviniashvili commented on #44
Ok, so I managed to hack error bars for both: faceted and non-faceted views.

https://user-images.githubusercontent.com/6615532/119651664-4af4ca00-be36-11eb-9489-fcc648e472fb.mov

 * fixed "1px left" issue
 * last layer (from `layer` array) is animated always which eliminated "point moving up" issue that I showed in the meeting

[2021-05-26 11:35] giorgi-ghviniashvili commented on #54
@sharlagelfand Seems like this is gemini issue that it does not update axis. Let me take a look why.

[2021-05-26 12:39] giorgi-ghviniashvili commented on #54
OK, fixed it. It was not correctly drawing `vega-axis` layer.

https://user-images.githubusercontent.com/6615532/119660871-c6f40f80-be40-11eb-8160-6f56f1d6455a.mov

[2021-05-26 12:43] giorgi-ghviniashvili commented on #58
I can set this in axis-layer's spec, but you can also send labelAngle within the spec.

[2021-05-26 13:26] giorgi-ghviniashvili commented on #57
@sharlagelfand  yes it is possible, we need to set same pixels width to `div.control-bar` and `description` as chart's.

[2021-05-26 13:47] giorgi-ghviniashvili commented on #57
Implemented it:

https://user-images.githubusercontent.com/6615532/119670888-56ea8700-be4a-11eb-8766-cd826ab42742.mov

[2021-05-26 15:07] sharlagelfand commented on #54
Thanks @giorgi-ghviniashvili! This looks great. I tried it with error bars as well but it looks like they're drawn twice or something, could you take a look? Here are [the specs](https://github.com/microsoft/datamations/blob/parse-ggplot2/sandbox/errorbar/double_errorbar.json).

https://user-images.githubusercontent.com/15895337/119684292-63eb8400-be12-11eb-95e9-706f2552d2d0.mov

[2021-05-26 15:07] sharlagelfand commented on #57
Thanks, this looks great!!

[2021-05-26 15:10] sharlagelfand commented on #59
This is indeed handled by #54 - you can see in [this comment](https://github.com/microsoft/datamations/issues/54#issuecomment-848849394) that it works now, so closing this issue!

[2021-05-26 15:10] #59 closed

[2021-05-26 16:21] sharlagelfand commented on #62
I think having a scatter plot makes sense, for sure!

The steps could go:

# initial data

<img width="558" alt="Screen Shot 2021-05-26 at 12 13 35 PM" src="https://user-images.githubusercontent.com/15895337/119695494-37d50080-be1c-11eb-8364-b329a5f1f123.png">

# grouped by team

doing team first because it looks "better" on the columns than ID does... we'll have a mechanism for controlling which

[2021-05-26 17:12] giorgi-ghviniashvili commented on #54
@sharlagelfand  sorry, forgot to clear old container, here it is:

https://user-images.githubusercontent.com/6615532/119702469-8909e200-be66-11eb-984e-1a2f505bba73.mov

[2021-05-26 17:29] giorgi-ghviniashvili commented on #44
@sharlagelfand  I will make it work for row + column facets..

[2021-05-26 17:57] giorgi-ghviniashvili commented on #44
@jhofman @sharlagelfand it is not possible to hack a layer that has `mark = errorbar` with facets, so I am just drawing it with real facets and errorbars..

Only second layer which is not `errorbar`, and is `mark = point`, is animated.

![image](https://user-images.githubusercontent.com/6615532/119707714-85795980-be6c-11eb-8da6-bbe13b30b4fd.png)

But in this case, I see that error bars not correct

[2021-05-26 17:57] sharlagelfand commented on #54
Thanks, looks good!!

[2021-05-26 18:03] giorgi-ghviniashvili commented on #58
Ok @sharlagelfand , done it:
![image](https://user-images.githubusercontent.com/6615532/119709356-2c122a00-be6e-11eb-8c10-209ea7002511.png)

[2021-05-26 18:11] sharlagelfand opened #63 "Positioning of error bar div is off"
Just keeping track of this separately from the other error bar issues, @giorgi-ghviniashvili looks like the positioning of the error bar div works when the widget is by itself but not when it's in the app (version live [here](https://sharlagelfand.shinyapps.io/datamations/) with it), they don't show up (or are in the wrong place / offscreen?)

<img width="1412" alt="Screen Shot 2021-05-26 at 2 05

[2021-05-26 18:12] sharlagelfand commented on #58
Thanks @giorgi-ghviniashvili! Which commit has this for me to copy over?

[2021-05-26 18:26] sharlagelfand commented on #60
@giorgi-ghviniashvili I'm trying to track down why this is happening, in the [app](https://sharlagelfand.shinyapps.io/datamations/) if you hit "Go", then "Go" again, there is this error in the console:

`vlSpec.meta is undefined`

I'm not sure what's making it freeze but could you try it out and look into that error? Thank you!

[2021-05-26 18:26] sharlagelfand commented on #57
This is in the latest version of the [app](https://sharlagelfand.shinyapps.io/datamations/), so closing this now!

[2021-05-26 18:26] #57 closed

[2021-05-26 19:47] giorgi-ghviniashvili commented on #60
@sharlagelfand could you plz record a video?

[2021-05-26 19:52] giorgi-ghviniashvili opened #64 "Cleanup app.js , make comments and easy to read"
app.js got very complex and hard to read, let's try to make it simple, clean and easy to read.

Also @sharlagelfand , have you found out how can we enclose the code in App function, rather than have all props globally available?

[2021-05-26 19:56] giorgi-ghviniashvili commented on #63
@sharlagelfand please update code from `gio/error-bars` branch and also don't forget to copy all the styles from `gio/errorbars ` `index.html`.

[2021-05-26 21:25] sharlagelfand commented on #63
@giorgi-ghviniashvili everything is updated, still in the wrong place.

[2021-05-26 21:25] sharlagelfand commented on #60
https://user-images.githubusercontent.com/15895337/119733221-340aa380-be47-11eb-9085-63e7f0f39307.mov

[2021-05-26 21:26] sharlagelfand commented on #58
thanks, looks good!

[2021-05-26 21:26] #58 closed

[2021-05-26 21:37] sharlagelfand commented on #64
@giorgi-ghviniashvili I think we can try this now - the parent div gets the ID so all of the slider, replay, viz, etc are child divs of it, and so the code will be defined in the parent div and hopefully should be able to access the children just fine? I don't know much about the implementation so the easiest way for me to test is to make everything enclosed and then just try it out!

[2021-05-27 11:55] giorgi-ghviniashvili commented on #64
@sharlagelfand , `.hidden` class is overridden by utilities class and it is completely hidden... Will use different class, instead of hidden.
![image](https://user-images.githubusercontent.com/6615532/119821686-e607a580-bf03-11eb-9e5a-7c6056a07c3e.png)

[2021-05-27 11:59] giorgi-ghviniashvili commented on #64
![image](https://user-images.githubusercontent.com/6615532/119822035-4696e280-bf04-11eb-82fe-4c9c5f571fcd.png)

[2021-05-27 12:01] giorgi-ghviniashvili commented on #63
@sharlagelfand , .hidden class is overridden by shiny's utilities styles and it is completely hidden... Will use different class, instead of hidden. For example: vega-hidden-layer.

Please update code from error-bars branch and it will be fixed.

[2021-05-27 12:01] #63 closed

[2021-05-27 12:18] giorgi-ghviniashvili commented on #60
@sharlagelfand latest code from error-bars will fix this as well.

[2021-05-27 12:44] giorgi-ghviniashvili commented on #61
@sharlagelfand yes, that's right, it only shifts on color. Could you please include jitterField in the meta? For example, for color, meta will be: { parse: "jitter", jitterField: "sex" }, for degree split (current frame), it will be { parse: "jitter", jitterField: "x" }. If jitterField is not available or is null, it will not split points and will treat like a single group.

Here is example if jit

[2021-05-27 12:46] giorgi-ghviniashvili commented on #61
Or maybe let's call it `splitField` or `offsetField`?

[2021-05-27 12:49] sharlagelfand commented on #63
Looks good, thanks!

[2021-05-27 12:54] sharlagelfand commented on #60
thanks @giorgi-ghviniashvili! the latest app is [here](https://sharlagelfand.shinyapps.io/datamations/), the animation plays eventually but the first bit is frozen/choppy and the error persists

https://user-images.githubusercontent.com/15895337/119829117-e8004300-bec8-11eb-9fcd-b8f83676dea1.mov

[2021-05-27 12:59] giorgi-ghviniashvili commented on #61
Ok, using `splitField` for both `parse:jitter` and `parse:grid`.

[2021-05-27 13:20] giorgi-ghviniashvili commented on #60
Something is strange here, we need to debug it .

[2021-05-27 14:11] sharlagelfand commented on #44
As we talked about in our call, I'll look into manually calculating the error bars and passing via something like [rule](https://vega.github.io/vega-lite/docs/rule.html) rather than using mark "errorbar"

[2021-05-27 14:23] jhofman commented on #62
this is a neat idea, just recording some notes from our call.

if we go this route, is there any way to indicate what type of function is being executed, for instance the difference between addition or division? And what about when this happens in a summarize vs. a mutate? (Probably we implicitly show the mutate first and then the aggregation?) And what about more than two variables?

    mutate(z

[2021-05-27 14:32] sharlagelfand commented on #61
Thanks @giorgi-ghviniashvili! This works well for this first example:

https://user-images.githubusercontent.com/15895337/119843642-bcd02080-bed5-11eb-801a-e2de4a097681.mov

Though I realized that now, without the colour, in the third frame (~5 seconds in) we have nothing to distinguish masters from phd, might be something for us to keep in mind re: adding an axis in to distinguish (cc @jhofman).

[2021-05-27 14:59] sharlagelfand commented on #44
@giorgi-ghviniashvili [here](https://github.com/microsoft/datamations/blob/parse-ggplot2/sandbox/errorbar/errorbar_using_rule.json) is an example spec using `rule` instead of errorbar

[2021-05-27 15:07] jhofman commented on #55
noting two things:

1. funny enough, batting averages are a good example of where simpson's paradox pops up because of different number of at bats in a season (see [here](https://en.wikipedia.org/wiki/Simpson%27s_paradox#Batting_averages)).
2. the first group-by + summarize in the example i created was kind of silly, it could just be a mutate.

[2021-05-27 18:26] giorgi-ghviniashvili commented on #61
@sharlagelfand  about the third frame, yes we will need x-axis and then instead of this:

![image](https://user-images.githubusercontent.com/6615532/119877720-6e08a200-bf3a-11eb-9bfa-3b5455b7c875.png)

We can use this (which is already offset and matches next jitter frame):

![image](https://user-images.githubusercontent.com/6615532/119877744-74971980-bf3a-11eb-8ffa-c41c972a14fa.png)

[2021-05-28 10:29] giorgi-ghviniashvili commented on #44
@sharlagelfand  @jhofman  I fixed alignment issue in hacked faceted view:

![image](https://user-images.githubusercontent.com/6615532/119970646-0c3f4b00-bfc1-11eb-9339-b5033f853d66.png)

[2021-05-28 10:30] giorgi-ghviniashvili commented on #44
This means that if we only hack animated layer and just draw others , will work. Should I still work to fake `rule` spec?

[2021-05-28 12:12] giorgi-ghviniashvili commented on #44
@jhofman  the height was not correctly generating, from -4.7px to 305px, height should have been 309.7px, I was only using 305px for height (assuming that min would be 0..).

I think it will work generally going forward..

[2021-05-28 13:03] giorgi-ghviniashvili commented on #60
@sharlagelfand ,  I see that init function is called multiple times after click "Go", can you see why it happens? It must only call it once..

[2021-05-28 13:12] sharlagelfand commented on #44
@giorgi-ghviniashvili will this approach work with different sizes? The size of the whole widget can change and each row can be different sizes depending on the number of variables in the row facets

[2021-05-28 13:14] sharlagelfand commented on #61
@giorgi-ghviniashvili the goal is to still have both column and row facets, offset by X, not to translate into column facets and x values only. We want a user to be able to specify the final form so if they specify col + row facets, with X offset, we should render that

[2021-05-28 13:35] giorgi-ghviniashvili commented on #44
@sharlagelfand , yes I think it will work, we can test bunch of specs if you have.

[2021-05-28 13:43] giorgi-ghviniashvili commented on #61
@sharlagelfand so do you mean in this frame grid need to be offseted? Can we first add x-axis?

![image](https://user-images.githubusercontent.com/6615532/119993069-3c481780-bfdc-11eb-92b8-03b5de410f9a.png)

[2021-05-28 14:40] sharlagelfand commented on #60
@giorgi-ghviniashvili yeah i can see it is called once the first time, then twice the second time "go" is clicked.... I'll see if I can figure out why

[2021-05-28 14:44] sharlagelfand commented on #61
Yes, exactly @giorgi-ghviniashvili

The grid looks like this

<img width="553" alt="Screen Shot 2021-05-28 at 10 41 47 AM" src="https://user-images.githubusercontent.com/15895337/120001024-6203fb00-bfa1-11eb-9650-df304591d01d.png">

and the next frame looks like this

<img width="593" alt="Screen Shot 2021-05-28 at 10 42 00 AM" src="https://user-images.githubusercontent.com/15895337/120001052-66c8

[2021-05-28 14:45] sharlagelfand commented on #44
@giorgi-ghviniashvili I will remove my logic for rule instead of errorbar, update with the latest code and push the app so we can test scenarios through that

[2021-05-28 15:01] sharlagelfand commented on #44
@giorgi-ghviniashvili I noticed a couple issues with the errorbars for [this spec](https://github.com/microsoft/datamations/blob/parse-ggplot2/sandbox/errorbar/dual_legend_missing_last_frame.json). There is two legends, one for the error bars and one for the points, and the last frame (zoom) does not get animated. When you go to it, it is empty - so maybe not being rendered correctly? Thanks!

htt

[2021-05-28 15:05] sharlagelfand opened #65 "Length of initial frame, not shown on replay"
To keep track of, I think the initial frame should be shown longer - it only appears for a split second. And on "replay", the title for it does not appear at all - just goes straight into the group by:

https://user-images.githubusercontent.com/15895337/120004264-8ca38300-bfa4-11eb-9061-675dac26cb56.mov

[2021-05-28 15:09] sharlagelfand commented on #44
Latest version of the app is [here](https://sharlagelfand.shinyapps.io/datamations/), it seems like the errorbar logic fix works because it is not actually hardcoded as e.g. 305px but rather uses [a dynamic value](https://github.com/microsoft/datamations/commit/9caf8bb89a1994abbea4b39fe2d8488570e202f6#diff-49eb26faa2dccb4ecde39ad326e5b1801995e9287b0742c6ff3f665393a4bd33R155)

[2021-05-29 16:22] giorgi-ghviniashvili commented on #61
@sharlagelfand  that's already achievable.

In third frame [here](https://raw.githubusercontent.com/microsoft/datamations/parse-ggplot2/sandbox/ggplot2/offset_x_second_row.json), please remove `splitField` (because you are not actually splitting within groups). SplitField should only be used when you want to further split a single grid specified in `data.values` with `n`.

And to shift it, please

[2021-05-29 16:24] giorgi-ghviniashvili commented on #61
https://user-images.githubusercontent.com/6615532/120077510-c74c0f00-c0bb-11eb-9b5b-27e1e9d736e3.mov

[2021-05-29 16:52] giorgi-ghviniashvili commented on #44
@sharlagelfand

* Two legends fixed with css:

![image](https://user-images.githubusercontent.com/6615532/120078270-bbfae280-c0bf-11eb-989c-93f58998a491.png)

* about last frame, the domain is NA here:

![image](https://user-images.githubusercontent.com/6615532/120078183-3414d880-c0bf-11eb-9176-f455099625f3.png)

As soon as you fix "NA" in domain, it will be fixed.

----
Height was not supposed to

[2021-05-29 16:56] giorgi-ghviniashvili commented on #60
@sharlagelfand  if you can't figure it out, I will just use flag variable: `initializing: true | false` and will ignore all subsequent init calls while initializing. Just lmk.

[2021-05-31 13:41] sharlagelfand commented on #44
Thanks @giorgi-ghviniashvili, my bad on NAs in domain! Fixed now, and the legends look good:

https://user-images.githubusercontent.com/15895337/120202068-2319b380-c1f4-11eb-82cf-88bdfd30cf2c.mov

re: height hardcoded, this comment made me think it was - but glad to see it's not!

[2021-05-31 13:48] sharlagelfand commented on #61
@giorgi-ghviniashvili I'm hesitant to introduce any `shiftX` logic into the R side, since it's all being calculated on the JS side right now - we would be duplicating all the logic that already exists for calculating this into R and if there are any changes (e.g. if we want to change how many points are in a column) it would have to be done in two places. What do you think about handling adding th

[2021-05-31 13:50] sharlagelfand commented on #45
This seems all good, so going to close this issue!

[2021-05-31 13:50] #45 closed

[2021-05-31 15:01] sharlagelfand commented on #60
Thanks @giorgi-ghviniashvili - the latest app is [here](https://sharlagelfand.shinyapps.io/datamations/), as far as I can tell on my end init is not being called multiple times but it's still freezing/erroring:

https://user-images.githubusercontent.com/15895337/120211945-6decf880-c1ff-11eb-9ee8-d1da380b3da4.mov

Maybe let's try adding that flag to ignore subsequent `init` calls? Just checking, th

[2021-05-31 15:10] sharlagelfand commented on #61
Here is a [sample spec](https://github.com/microsoft/datamations/blob/parse-ggplot2/sandbox/ggplot2/offset_x_second_column.json) for the example I described above, where Work is in column facets, Degree is in row facets, and Work is on the x-axis, created with this code:

[code]

Here are what the frames look like:

<img width="796" alt="Screen Shot 2021-05-31 at 11 06 43 AM" src="https://user-ima

[2021-05-31 15:18] sharlagelfand commented on #54
Going to reopen this since it looks like there's an issue with zooming on errorbars when there are no facets, as in [this spec](https://github.com/microsoft/datamations/blob/parse-ggplot2/sandbox/errorbar/no_facets_errorbar_off_on_zoom.json):

https://user-images.githubusercontent.com/15895337/120213763-9b3aa600-c201-11eb-8d6b-89c3587e9adb.mov

[2021-05-31 16:26] giorgi-ghviniashvili commented on #60
Of course :) It will just ensure that init function will complete.

[2021-05-31 17:57] sharlagelfand commented on #61
Not sure if this is related to this (I'm losing track a bit of which bugs fit where!) but [this spec]() has its X offset for grid working great:

<img width="609" alt="Screen Shot 2021-05-31 at 1 54 36 PM" src="https://user-images.githubusercontent.com/15895337/120227739-c03a1380-c217-11eb-951a-b9d99066e3ae.png">

but the axes on the jitter is off

<img width="675" alt="Screen Shot 2021-05-31 at 1

[2021-05-31 18:01] giorgi-ghviniashvili commented on #54
Sad.. It is gemini thing, not able to correctly update y axis.. Trying to figure it out, whether it is a gemini bug or ours.

[2021-05-31 18:05] giorgi-ghviniashvili commented on #64
@sharlagelfand  you can take a look at the new code with comments.

[2021-05-31 18:08] giorgi-ghviniashvili commented on #61
@sharlagelfand  please update link of "this spec" , it does not link anything.

[2021-05-31 18:10] giorgi-ghviniashvili commented on #61
@sharlagelfand  agree that it should be done in JS side, let me think a bit how we can solve this, most likely we will need a new field in meta to find out when should js do it.

[2021-05-31 18:11] sharlagelfand commented on #61
Oops sorry @giorgi-ghviniashvili! Spec updated in that comment now

[2021-05-31 18:36] sharlagelfand opened #66 "Error if the data set already contains a column `y`"
Currently the code errors if there's already a column in the data named `y` (and will definitely be an issue if the variable being summarised or grouped is named `y`) because we're using that internally - need to dig in and rename to a more "system" type of name, same for `x`. I don't think we can use something like `.x` and `.y.` (which would be more like "systems names" in R) because they won't

[2021-05-31 18:41] giorgi-ghviniashvili commented on #61
Ok, that works because we don't have facets and grid, we only have one group of data which is **split by** spitField and jittered. Works great.

Because jitter, `domain` is adjusted while `axis` stays same, so I will need ['Academia', 'Industry'] to be added to somewhere to be able to correctly position them.

![image](https://user-images.githubusercontent.com/6615532/120230711-fb146980-c260-11eb-

[2021-05-31 18:51] giorgi-ghviniashvili commented on #61
![image](https://user-images.githubusercontent.com/6615532/120231548-affb5600-c262-11eb-855e-03ee2d010089.png)

[2021-05-31 18:57] giorgi-ghviniashvili commented on #61
We can add it as `meta.xAxisLabels`.

[2021-05-31 19:06] sharlagelfand commented on #51
Just looking into this a bit. Seems like 1000 is likely our absolutely cutoff (videos below), it performs pretty decently and does well in small multiples, at least the ones I tried! 500 - 750 perform even better, so just depends on tradeoff of choppiness vs more of the data. I think taking the video itself made this even choppier - it does do better when no one's watching :)

[code]

https://user

[2021-05-31 19:08] giorgi-ghviniashvili commented on #66
@sharlagelfand  yes, for facet faking I use "x" and "y" hardcoded. Like the idea of `datamations_x` and `datamations_y`.

[2021-05-31 19:17] giorgi-ghviniashvili commented on #61
I think having column facets and x axis is same fields is very confusing, because In Academia, you have Academia and Industry, same for Industry as facet.  In general, I think Column facet field should not match x axis field.

[2021-05-31 19:25] giorgi-ghviniashvili commented on #61
And about this one:

![image](https://user-images.githubusercontent.com/6615532/120233447-df13c680-c266-11eb-86dd-aa0574aa72dd.png)

When you add `meta.xAxisLabels`, I will try to add `shiftX` myself matching `xAxisLabels` array.

For this to know when to do please add `meta.shiftGrids: true` (naming suggestions welcome).

[2021-05-31 19:25] sharlagelfand commented on #61
This info is already contained in the labelExpr - is the reason it can't be pulled from there because of the ordering?

I agree, I think it looks pretty bad and confusing :) I don't necessarily want to encourage it, but if we want to take ggplot2 code as input to specify how the plot looks (#40) , then that's a case that should be handled

[2021-05-31 19:32] giorgi-ghviniashvili commented on #61
No, I don't want parse the expression.. What if we need another expression or expression is not correct at all? Better to put it in meta and also use it for shift to match facet with x-axis.

[2021-05-31 19:32] sharlagelfand commented on #60
Ah shoot, different error now when you hit "go" twice on the [updated app](https://sharlagelfand.shinyapps.io/datamations/):

`vegaLiteSpecs[i] is undefined`

[2021-05-31 19:40] giorgi-ghviniashvili commented on #60
@sharlagelfand good catch, please update it.

[2021-05-31 19:44] sharlagelfand commented on #61
Fair! It's probably easier to pull it out in the correct order in R and just pass it along.

To confirm... meta.xAxisLabels should be set in the jitter spec when parse: jitter, splitField: true, axes: false (if axes: true it doesn't need to be set, because these are hacked facets which already handles all of the x axis labelling)

and then also set in cases where the infogrid needs to be split, so

[2021-05-31 19:50] giorgi-ghviniashvili commented on #61
Yes, correct!

In this case, please remove splitField, because in case of info-grid, we are not actually splitting anything.

Yes, we need it for sure

[2021-05-31 19:57] sharlagelfand commented on #61
Ok awesome - I will update it hopefully later today or tomorrow!

For the splitField in info grid - do we still need it in the cases when it _is_ split? If the grid is split by a variable in `color` for example

[2021-05-31 20:08] sharlagelfand commented on #60
Thanks @giorgi-ghviniashvili!! It definitely does not freeze now 🎉  Updated [here](https://sharlagelfand.shinyapps.io/datamations/)

It seems like maybe something is "off by 1" in terms of the animation shown - maybe having to do with the initialization?

The first time I click "go" it's the default settings - group by Degree, calculate mean Salary - and this works great. The second time (~18 seco

[2021-06-01 09:37] giorgi-ghviniashvili commented on #60
@sharlagelfand  that's strange. I added console.log statements to print out passed specs. Please update it.

[2021-06-01 11:15] giorgi-ghviniashvili commented on #54
@sharlagelfand, so the reason of the issue is because we have different y-axis on last two specs.

Ok, I fixed it and now it correctly updates y-axis when animating last frame.

----

Ok, thats good. Now bad news, it does not correctly change width (to shift x-axis because of floating points) and still getting this:

![image](https://user-images.githubusercontent.com/6615532/120313213-bc2af600-c2e

[2021-06-01 13:59] #64 closed

[2021-06-01 14:40] sharlagelfand commented on #60
@giorgi-ghviniashvili updated app is [here](https://sharlagelfand.shinyapps.io/datamations/) - the log seems to show the lag in specs from what I can tell!

[2021-06-01 14:43] sharlagelfand commented on #54
It looks good to me now, thanks @giorgi-ghviniashvili!

Just curious, do you know why the sizing of axes changes and overlaps in Firefox, but not in Chrome? Everything looks pretty nice in Chrome:

https://user-images.githubusercontent.com/15895337/120342827-27160600-c2c6-11eb-915f-c3f84b9144d1.mov

But a bit rough in Firefox (my main browser):

https://user-images.githubusercontent.com/15895337/1

[2021-06-01 15:12] sharlagelfand commented on #61
Thanks @giorgi-ghviniashvili, adding `xAxisLabels` works great for this example:

https://user-images.githubusercontent.com/15895337/120347286-24b5ab00-c2ca-11eb-84f3-46af377dfa60.mov

I'm looking at adding shiftGrids in, it hasn't been added in on your end right? [Here](https://github.com/microsoft/datamations/blob/parse-ggplot2/sandbox/ggplot2/shiftgrids_example.json) is a spec that contains it

[2021-06-01 17:45] giorgi-ghviniashvili commented on #54
No Idea, will try to debug and see why.

[2021-06-01 17:54] giorgi-ghviniashvili commented on #61
@sharlagelfand  can we please start with a situation when column facet and x-axis are different? In [this](https://raw.githubusercontent.com/microsoft/datamations/parse-ggplot2/sandbox/ggplot2/shiftgrids_example.json) spec, they both are same and it is ambiguous for me

[2021-06-01 18:08] jhofman opened #67 "Create high-quality video for Datamations site"
@sharlagelfand: can you create a high-quality video of datamations that we can use as an animated gif for the soon-to-be datamations website?

instead of the web app, could you make one that's in Rstudio where you type a line of code, then "datamate" it, and then see the animation show up in the viewer pane?

[2021-06-01 18:29] sharlagelfand commented on #67
Something like this @jhofman?

https://user-images.githubusercontent.com/15895337/120372470-3789a900-c2e5-11eb-8923-8a343253e50e.mov

[2021-06-01 18:41] msftbozo commented on #67
This is good @sharlagelfand  and @jhofman .We will need to  to "contextualize" this a bit more for the website. Meaning, show the graph without any datamations and ask what a typical user would ask " hmm this plot makes not sense, how did they get to this graph?" then we show what @sharlagelfand  is showing below. Does this make sense?

[2021-06-01 18:54] jhofman commented on #67
good point.

@sharlagelfand can you try this:

1. show a comment like "# say you analyze and plot some data"
2. show a line of code that renders a plot (skip the library loading and stuff to preserve reader attention) and run it
3. show a comment like "# if you'd like to better understand the steps, just "datamate" your code"
4. then run the datamation command

[2021-06-01 19:10] sharlagelfand commented on #67
Here's another cut! I've "stepped through" each of the steps at the end too, but that could easily be trimmed out

https://user-images.githubusercontent.com/15895337/120377508-378ca780-c2eb-11eb-8806-24bd8e683c86.mov

[2021-06-01 20:03] msftbozo commented on #67
This perfect thanks @sharlagelfand . @jhofman  I'll send this to Brenda if you also like it?

[2021-06-01 21:46] jhofman commented on #67
agreed, this is awesome @sharlagelfand!

@msftbozo, sounds great on getting this posted.

cc @dggoldst in case there's any other thoughts / improvements.

[2021-06-02 13:22] jhofman opened #68 "Decide on convention for mapping grouping variables to axes and facets"
Related to #61, we got in to some edge cases about how to make strange plots (that use, for instance, the same variable in a facet and on an axis) look good when datamated.

This brought up the question of what convention we should have for handling the mapping of grouping variables to axes and facets. We should probably decide on this before trying to handle these edge cases.

Here's a proposal t

[2021-06-02 13:24] jhofman commented on #61
We realized we were in the weeds on edge cases here, so let's settle some conventions in #68 first before continuing on this.

@giorgi-ghviniashvili: side notes are that we'd like some more labeling of infogrid groups when there's a non-obvious split (by perhaps turning on x axis ticks), and maybe we should always center-justify infogrids to match the center-justification of jitter plots in follow

[2021-06-02 15:33] sharlagelfand commented on #68
Thanks for pulling us back out of the weeds on this! Good to settle conventions before edge cases :)

Here's some sketches for the "no ggplot2 command" specified. I mainly agree with your assessment of grouping variable order, but I think that if there's two grouping variables only, it should be first to column, then second to X axis - maybe *only* introduce row faceting if there's three grouping

[2021-06-02 16:25] sharlagelfand commented on #68
Some adjustments to the R code and here's how this looks now. There are a few missing components / bugs but to get an idea. I've made some notes of potentially aesthetic improvements, especially around consistent widths and matching grids to their axes:

### one group

![Datamations-42](https://user-images.githubusercontent.com/15895337/120516573-83982480-c39d-11eb-8abb-7994828dc416.jpg)

### two

[2021-06-02 22:28] jhofman commented on #56
just catching this now. it's a great start! a thought: maybe for limitation 2 below we could always go to the "beginning" of a given group-by step?

not sure how to solve limitation 1, seems like it requires some javascript magic. maybe @giorgi-ghviniashvili has some cool hacks?

[2021-06-03 09:09] giorgi-ghviniashvili commented on #68
@sharlagelfand  that's great, I agree to this:

* 1 var - x-axis
* 2 vars - column facet + x-axis (colored)
* 3 vars - column facet + row facet + x axis (colored)

Could you please create an example specs for these cases so I will fix it? I will need to center align grids and have equal widths.

[2021-06-03 10:42] giorgi-ghviniashvili commented on #60
@sharlagelfand `init` function is called twice after second click on "GO":

* first with old frames where grouping by Degree
* second call was with Degree + Work (correct frames).

And because initializing flag, second call (with correct specs) is ignored.

So this means that there is an issue on Shiny side, it calls init with old specs.. Please check this, it MUST call init only once.

See video:

[2021-06-03 11:40] giorgi-ghviniashvili commented on #68
I centered aligned grids:

![image](https://user-images.githubusercontent.com/6615532/120638944-dea34780-c481-11eb-9f1e-3915eb16687d.png)

![image](https://user-images.githubusercontent.com/6615532/120638899-cdf2d180-c481-11eb-9d46-58fa0c7b1a26.png)

![image](https://user-images.githubusercontent.com/6615532/120638924-d519df80-c481-11eb-8fd8-29cd09cd42a1.png)

<img width="590" alt="Screen Shot 202

[2021-06-03 11:57] giorgi-ghviniashvili commented on #65
@sharlagelfand  yes, that's because we show description immediately the animation starts. Maybe I should draw first frame on replay and then have a bit of delay until animation starts?

[2021-06-03 12:03] giorgi-ghviniashvili opened #69 "Explore gemini2"
yhoonkim updated gemini to gemini2 , which supports keyframe animations - exactly what we need. Let's take a look at [gemini2-editor](https://uwdata.github.io/gemini2-editor/) for some new examples.

[2021-06-03 12:06] giorgi-ghviniashvili commented on #69
@jhofman I think the motivation of this extend was to support custom aggregations. Just take a look how awesome it is.

![0a969b58-cc64-4cd5-9831-8390a8e953e5](https://user-images.githubusercontent.com/6615532/120642070-7c4c4600-c485-11eb-84b0-b9d1849d223f.gif)

[2021-06-03 12:13] giorgi-ghviniashvili commented on #69
One thing that I noticed is that, it builds a single animation from keyframes.. Not really what we need, but cool!

[2021-06-03 13:18] jhofman commented on #69
wow, that's awesome. i guess we should wait until it's a bit more mature to incorporate, but looking forward to that!

[2021-06-03 13:21] jhofman commented on #68
great, i agree too. (i actually meant to write column facets but was rushing and wrote row facets, so we're all aligned.)

@giorgi-ghviniashvili, thanks for center-aligning things. @sharlagelfand i agree with the annotations you made on updates to things (like consistent width for each group and fixing the overlaps).

[2021-06-03 13:25] giorgi-ghviniashvili commented on #68
@jhofman when using facets, group widths are same, but when not they are not. When I have spec for it to test, I will be able to test it as well.

[2021-06-03 14:26] sharlagelfand commented on #65
Yeah, I think it would be helpful to "pause" on each of the frames (especially the first) during the animation, rather than animating immediately from frame to frame

[2021-06-03 14:37] sharlagelfand commented on #68
@giorgi-ghviniashvili Here are specs for each of those cases: https://github.com/microsoft/datamations/tree/parse-ggplot2/sandbox/generalized_specs

[2021-06-03 14:38] sharlagelfand commented on #60
Ahh super annoying, it should only be calling once... but let me debug further. Thanks for looking into this!

[2021-06-03 19:13] giorgi-ghviniashvili commented on #68
hi @sharlagelfand  and @jhofman ,

I modified info grid code and tested on these three specs:

### One group:

https://user-images.githubusercontent.com/6615532/120698663-660fab80-c4c0-11eb-9b63-e13aa53af385.mov

### Two groups:

https://user-images.githubusercontent.com/6615532/120698728-7aec3f00-c4c0-11eb-8b49-1b3ffd9674f8.mov

### Three groups:

https://user-images.githubusercontent.com/6615532

[2021-06-03 19:53] sharlagelfand commented on #68
these look awesome @giorgi-ghviniashvili, thank you!!

In the first one the x-axis title is `x` in the infogrid - what's the easiest way for me to pass the "proper" title (`species`)? in the spec.x.title (or whatever the proper format is), or somewhere in meta?

The second two look great as well - is it possible to have the x-axis appear for those in the info grid as well? They should appear at th

[2021-06-03 20:08] giorgi-ghviniashvili commented on #68
Good point, I can just use `splitField` as title.

Yes, possible, will add them too.

[2021-06-04 08:39] giorgi-ghviniashvili commented on #68
@sharlagelfand

Added title to first case:

![image](https://user-images.githubusercontent.com/6615532/120772780-b70bb800-c531-11eb-8d14-509b283ae976.png)

But unfortunately I got some difficulties of adding x-axis to second and third cases because of facet hacking.

To hack facet, I use real x axis positioned top for facet labels. Only way to add additional x-axis bottom is to have `meta.axes: tr

[2021-06-04 09:14] giorgi-ghviniashvili commented on #68
I think that we don't need a center alignment in case of two and three groups. We just need to match the location of x axis:

so x axis:

| Adelie | Gentoo | Chinstrap |

The inner grids should match this sequence, rather than side by side.. So this will result that Adelie + Torgersen will be far left because jitter frame looks like this:

![image](https://user-images.githubusercontent.com/6615532

[2021-06-04 09:56] giorgi-ghviniashvili commented on #65
@sharlagelfand  added delay:

https://user-images.githubusercontent.com/6615532/120784003-ae6caf00-c53c-11eb-971c-beb724443683.mov

[2021-06-04 13:01] jhofman commented on #67
@sharlagelfand looks like we need to trim the video a bit, both for conciseness and file size (under 0.5MB).

can you regenerate it without actually typing letter-by-letter? instead just copy/paste so that the entire first comment appears, leave enough time to read, then the code appears for the plot, leave some time to digest, then the next comment, etc.?

two other requests: 1) can you use theme

[2021-06-04 13:17] sharlagelfand commented on #67
Yep @jhofman I can have another go!

Re: error bars on the plot version, that would mean the code is different between the plot and between the datamation, because we have to actually calculate the sd and plot the errorbars, whereas it's all done internally in datamations

[code]

![](https://i.imgur.com/4WDRSlu.png)

or probably using pointrange to avoid the horizontal bit of errorbars:

[code]

[2021-06-04 13:32] jhofman commented on #67
ah no worries on the error bar addition if you think it causes weirdness / confusion.

if you do want to go with it, i'd say `geom_pointrange` to match instead of `geom_errorbar`, but happy to leave it off if you think that's better.

[2021-06-04 15:26] sharlagelfand commented on #65
Thanks @giorgi-ghviniashvili! looks great to me

[2021-06-04 15:29] sharlagelfand commented on #68
Yeah, I think your assessment is spot on @giorgi-ghviniashvili  - the grids should match the sequence of the axes, with gaps etc, rather than being centered

[2021-06-04 16:14] sharlagelfand commented on #67
Here are a couple versions @jhofman! It's pretty tough to get it at the 0.5MB mark, so the first one here shows clicking through the frames, but it's 1.2mb:

![datamations-10](https://user-images.githubusercontent.com/15895337/120831982-24b5e500-c52e-11eb-97b0-43e56bcfb11f.gif)

And the second excludes that and still almost 1mb:

![datamations_short](https://user-images.githubusercontent.com/15895

[2021-06-04 16:36] sharlagelfand commented on #67
Just one more cut of the "full" video, but everything is scaled down a bit - I realized the actual height / width was probably too large!

![datamations](https://user-images.githubusercontent.com/15895337/120834674-567c7b00-c531-11eb-8eda-e30aa84d0e3a.gif)

[2021-06-04 16:57] msftbozo commented on #67
this looks good @sharlagelfand  what's the total size?

[2021-06-04 17:44] msftbozo commented on #67
this is still 1MB :(  @jhofman  what do u think?

[2021-06-04 17:49] jhofman commented on #67
this is with all of the compression and whatnot, right?

i agree that it could look a bit better.

do you think below .5mb is possible @sharlagelfand?

i can check back later today or over the weekend.

On Fri, Jun 4, 2021 at 1:44 PM msftbozo ***@***.***> wrote:

[2021-06-04 17:55] sharlagelfand commented on #67
Yeah this is with all of the compression - let me play around with settings a bit and see if I can get it smaller and without some of the bugginess!

[2021-06-04 18:01] msftbozo commented on #67
that would be awesome thank you @sharlagelfand .

[2021-06-04 18:40] giorgi-ghviniashvili commented on #68
So inner groups should have same widths? So this mean that each group will have facet width / 3.

 In this case, Gentoo will have small space and points will overlap:
![image](https://user-images.githubusercontent.com/6615532/120848396-cc123680-c585-11eb-9aba-0422b9a11c27.png)

[2021-06-04 19:15] sharlagelfand commented on #67
Coming in at 479.5kb! 🏆

![datamations](https://user-images.githubusercontent.com/15895337/120851970-98182080-c547-11eb-9779-42c3392f62cf.gif)

I clipped the original video a bit to remove some of the parts where you're just "waiting" at the console, also made the actual gif smaller in size (width 375 instead of 640, so reduced a fair bit), removed every 10th image (just to reduce the number of fr

[2021-06-04 21:30] msftbozo commented on #67
This looks good to me @sharlagelfand  thank you so much. It didn't look too bad quality wise. @jhofman  the animated gif is good  but it's a bit hard to follow if someone wanted to really "step through things" so I wonder if we should also link to the original video sharla made which would allow u user to pause, and it's slower to you can actually follow better. Thoughts? For now, we can use this

[2021-06-04 22:23] jhofman commented on #67
awesome thanks @sharlagelfand!

we’ll push back for a larger file size limit but glad we have this.

i’d be happy to use this along with an explainer image or banner that
clarifies things. that could avoid the need for an extra video, and we’ll
need that at some point anyway.

sound good @msftbozo?

On Fri, Jun 4, 2021 at 5:30 PM msftbozo ***@***.***> wrote:

[2021-06-05 09:16] giorgi-ghviniashvili commented on #68
This is what I meant:

![image](https://user-images.githubusercontent.com/6615532/120886623-f7d20280-c5ff-11eb-8b47-d5e0a369fd5d.png)

--
Video:

https://user-images.githubusercontent.com/6615532/120886692-34056300-c600-11eb-8e60-fc495b294405.mov

[2021-06-05 09:20] giorgi-ghviniashvili commented on #68
We can increase width to fix it:

![image](https://user-images.githubusercontent.com/6615532/120886785-c279e480-c600-11eb-8df3-62527ba50a6c.png)

[2021-06-05 09:53] giorgi-ghviniashvili commented on #68
Ok, @sharlagelfand  and @jhofman ,

here is the updated version with grid alignments and x-axis when column facet + splitField !!!

(we need to include `meta.axes = true` where we need axis when column facet + splitField, @sharlagelfand  please include it).

### One group:

https://user-images.githubusercontent.com/6615532/120887395-9ca20f00-c603-11eb-8838-916d2e783ed2.mov

### Two groups:

https:

[2021-06-05 09:55] giorgi-ghviniashvili commented on #65
@jhofman did not get it. plz clarify further.

[2021-06-07 13:37] msftbozo commented on #67
yes agreed @jhofman . I'll send this animated gif now and let's think of an explainer image (maybe even a schematic?).

[2021-06-07 14:35] sharlagelfand commented on #68
Thanks @giorgi-ghviniashvili, these look great! Latest version of the [app](https://sharlagelfand.shinyapps.io/datamations/) is deployed with this (cc @jhofman if you want to play around with it)

[2021-06-07 14:42] sharlagelfand commented on #56
The [latest version](https://sharlagelfand.shinyapps.io/datamations/) of the app has it so that changing the tabs changes the frame of the animation (to the "beginning" of the group by step, as you suggested @jhofman - thanks!). It's a bit buggy so I'm refining it still - and will continue poking around to see how we might get it working the first time the animation is played through.

[2021-06-07 17:16] jhofman commented on #68
awesome, this is great progress!

is it me or does the upper right panel still look a bit misaligned on the x axis during jitter?

see 7 seconds in:

<img width="610" alt="Screen Shot 2021-06-07 at 1 14 43 PM" src="https://user-images.githubusercontent.com/79563/121061976-88d8e300-c792-11eb-91c6-983feeb4f313.png">

[2021-06-07 17:20] jhofman commented on #44
small note on the error bar sequence: right now it looks like the following happens: we're zoomed out, error bars show up, then they disappear as we zoom in, then they reappear.

i realize this is due to the fact that gemini doesn't handle the error bars and we have to fake them, but am wondering if we can do something a bit different so they don't disappear and reappear.

option 1 would be to wai

[2021-06-07 17:51] jhofman commented on #67
@sharlagelfand: we got approval to double the file size :)

can you regenerate with best quality you can get at or around 1MB?

[2021-06-07 19:13] giorgi-ghviniashvili commented on #44
@jhofman yes, I know it and this is because we are faking it.

 I am just clearing `div` element where the error bars are mounted, setting opacity to 0 and then fading opacity in (transition). I also have some delay before transition. It fades in just when zooming happens (this means that transition happens concurrently).

Unfortunately I can't do anything different for this, because technically i

[2021-06-07 19:17] giorgi-ghviniashvili commented on #68
Good point! Fixed it by adjusting external forces and collision detection.

![image](https://user-images.githubusercontent.com/6615532/121075665-86a07400-c7e6-11eb-91b4-75fcc76843e8.png)

[2021-06-07 19:29] sharlagelfand commented on #67
Awesome! This one is 977kb, so just under 1MB:

![datamations](https://user-images.githubusercontent.com/15895337/121076816-d5c5b500-c7a4-11eb-9066-a554576466a3.gif)

It's quite a bit larger (600px wide), doesn't exclude frames, and has fuzzy colour matching back down at 10% - seems to have way less bleeding of axes and fuzziness around the points in general.

Code to reproduce:

[code]

[2021-06-07 19:36] giorgi-ghviniashvili commented on #65
@jhofman I think I just fixed that.

[2021-06-07 19:37] giorgi-ghviniashvili commented on #65
![image](https://user-images.githubusercontent.com/6615532/121077912-4a224780-c7e9-11eb-97ad-db5f3752ad87.png)

[2021-06-08 01:48] jhofman commented on #67
awesome, thanks. this looks a lot better. i'll forward it to folks.

is there somewhere you can make the full res version available in case, in my infinite free time, i get a chance to experiment w/  other compression approaches?

thanks!

[2021-06-08 14:40] sharlagelfand commented on #67
Yep! Full video is [here](https://drive.google.com/file/d/1HqOsvb0ll397FDd6sHLK0FeRZfnumeGd/view?usp=sharing) and full gif is [here](https://drive.google.com/file/d/1kC9sITWroRhfDUxE1TB1T-S5iAFIMbYt/view?usp=sharing) - don't want to clutter the repo with them since it's nearly 40mb between them

[2021-06-08 14:56] sharlagelfand commented on #60
Just to update, I have sorted this out 🙌🏻 🥳 Still working out some fiddly bits for #45 but I'll push an updated version of the app with both features / fixes once that's sorted.

[2021-06-08 15:49] sharlagelfand opened #71 "Move shiny app into separate repo / package"
Something for us to consider - with the Shiny app and the main package coupled, datamations depends on _all_ of the packages that the Shiny app uses (current list is [here](https://github.com/microsoft/datamations/blob/parse-ggplot2/DESCRIPTION#L14)). So if someone wanted to use datamations they'd need to also install shiny, shinyAce, shinywidgets, shinydashboard, shinyjs, etc etc... just to get t

[2021-06-08 15:51] sharlagelfand commented on #60
Updated app is [here](https://sharlagelfand.shinyapps.io/datamations/) with this fix! 🤞🏻

[2021-06-08 15:53] sharlagelfand commented on #56
I've implemented it so that the slider updates the tabs, the tabs update the slider, _and_ when the animation actually plays through for the first time / replays, the tabs are also updated. Updated app is [here](https://sharlagelfand.shinyapps.io/datamations/).

@giorgi-ghviniashvili the PR #70 adds to the JS the code to have the animation "play" / "replay" send the slider state to Shiny as well s

[2021-06-08 20:16] sharlagelfand commented on #44
Looks like there's still an issue with errorbars when there's multiple row facets - I thought we already addressed this but seems like it may have popped up again! For [this spec](https://github.com/microsoft/datamations/blob/parse-ggplot2/sandbox/errorbar/row_facet_x_errorbars_off.json):

<img width="888" alt="Screen Shot 2021-06-08 at 4 14 23 PM" src="https://user-images.githubusercontent.com/15

[2021-06-09 16:21] sharlagelfand commented on #42
I've been looking into this and it seems pretty easy when the pipeline doesn't contain ggplot2 code, but much more difficult (not possible?) when it doesn't. Some code / notes:

[code]

I also have a feeling that this `sys.calls()` approach only really works interactively, so e.g. not in RMarkdown - I tried to render a reprex with the above code (so I wouldn't have to copy the output in myself), a

[2021-06-09 19:37] sharlagelfand commented on #44
Oh thanks @giorgi-ghviniashvili, just saw this commit! github doesn't seem to notify me of those :) Looks good now.

[2021-06-09 20:31] sharlagelfand opened #72 "ggplot2 datamations can only handle aes() in ggplot()"
A bug for me to look into, something going on where `aes()` specified within `ggplot()` is fine:

[code]

But errors when specified in `geom_point()`:

[code]

[2021-06-11 09:20] giorgi-ghviniashvili commented on #61
@jhofman I think that this one should be closed, since we continue working in #68.

[2021-06-11 09:27] giorgi-ghviniashvili commented on #71
I like the idea of having one repository but have different libraries (directories) like `arrow` does.

[2021-06-11 13:46] jhofman commented on #61
sounds good!

[2021-06-11 13:46] #61 closed

[2021-06-14 09:28] giorgi-ghviniashvili opened #74 "Explore observablehq/plot"
I found a cool library called **observablehq/plot**.

It is an alternative to vega and vega-lite and is very flexible and able to easily integrate cool d3 stuff in it.

I created this [notebook](https://observablehq.com/@giorgi-ghviniashvili/exploring-observable-plot) using it and I am impressed how easy it is to do the jitter.

Find out more about it following these links:

https://github.com/obs

[2021-06-14 19:19] sharlagelfand commented on #60
This seems all good, finally, so closing now!

[2021-06-14 19:19] #60 closed

[2021-06-15 13:55] #72 closed

[2021-06-15 13:55] sharlagelfand commented on #56
Closed fully by #76.

[2021-06-15 13:55] #56 closed

[2021-06-16 12:08] #39 closed

[2021-06-23 15:20] sharlagelfand commented on #3
I'd call this closed :)

[2021-06-23 15:20] #3 closed

[2021-06-23 15:21] sharlagelfand commented on #14
Definitely solved!

[2021-06-23 15:21] #14 closed

[2021-06-23 15:22] #34 closed

[2021-06-23 15:22] #23 closed

[2021-06-23 15:22] #32 closed

[2021-06-23 15:22] #33 closed

[2021-06-23 15:22] #54 closed

[2021-06-23 15:23] sharlagelfand commented on #68
These conventions are set and described in the README:

Closing this!

[2021-06-23 15:23] #68 closed

[2021-06-23 15:23] #65 closed

[2021-06-23 15:24] sharlagelfand commented on #67
The GIF is live! https://www.microsoft.com/en-us/research/project/datamations/ Site looks awesome, I like the background and description.

Closing this!

[2021-06-23 15:24] #67 closed

[2021-06-23 15:24] #44 closed

[2021-06-23 15:36] sharlagelfand opened #79 "Authors + maintainer"
Related to #13, administratively we should update the authors (to also include @giorgi-ghviniashvili and I?) since this'll show up on the package website (as will the license, so we should sort that out!).

We may also want to update the maintainer for the package - this is who people should bother with questions, so not sure if we want to update to you @jhofman? Right now it's still set to Xiaoyi

[2021-06-24 13:02] jhofman commented on #79
Good point!

Is there a formal way to update authors via Github, or do you mean listing your names somewhere in a license file or something like that?

[2021-07-15 12:47] sharlagelfand commented on #79
Oops I meant to link it in the original issue! For R packages you list authors in the [DESCRIPTION](https://github.com/microsoft/datamations/blob/main/DESCRIPTION#L5) file, and then it populates to the [website](https://microsoft.github.io/datamations/) on the left too

[2021-07-15 13:00] jhofman commented on #4
Other than linking from @seankross's repo to this one, I think we're set here.

[2021-07-15 13:14] jhofman commented on #79
@sharlagelfand will add everyone to the R DESCRIPTION file, change @jhofman to contact author ("cre")

[2021-07-15 13:16] jhofman commented on #74
Looks neat but as per [this discussion](https://github.com/observablehq/plot/discussions/434) no super easy way to animate between plots yet.

[2021-07-15 13:16] #74 closed

[2021-07-15 13:17] jhofman commented on #4
Whoops, this is more about whether we break out JS, Shiny App, etc, related to #71

[2021-07-15 13:22] jhofman commented on #71
I agree, different subdirectories makes sense.

Let's check that something like `devtools::install_github("microsoft/datamations")` gets modified. Does it become `devtools::install_github("microsoft/datamations/R")`, if the R package is in an `R/` subdir?

Also, how do the R and JS documentation sites get built?

[2021-07-15 13:27] #69 closed

[2021-07-15 13:29] jhofman commented on #66
Agree on `datamations_x` and `datamations_y`. To facilitate merging correctly, @giorgi-ghviniashvili can make the update to the JS side first, then @sharlagelfand will pull in the changes to `htmlwidget` and reflect them on the R side.

[2021-07-15 13:38] jhofman commented on #62
@dggoldst we chatted about this a bit but need to brainstorm more. let's discuss.

Ideas include:

  * Labeling the y-axis with the transformation, as per @sharlagelfand's suggestion above
  * Annotating a point (or set of points) to show as an example explaining the transformation
  * Or a version of the above with a zoomed in subsample of the data
  * Some version of the "black box" type labelin

[2021-07-15 13:40] jhofman commented on #55
Snoozing this until we make progress on #62 for multiple variable manipulations.

[2021-07-15 13:46] jhofman commented on #49
we agreed that this is useful at some point, but it's a big investment in time. we'll hold off on this for now.

[2021-07-15 13:49] jhofman commented on #46
This will require work on #49 for a solution that works during animations. But until then let's see if there's a way to hack this just for static frames (and not the full animation) with vegalite.

The imagined use case is that someone's in the shiny app, then select a key frame, and want to see more about a particular point so they hover over it.

[2021-07-15 13:52] jhofman commented on #42
@seankross: curious if you know any tricks that might work here, since you did the original pipeline parsing.

as per @sharlagelfand's comments above, seems like doing this with `%>%` is possible, but (literally) adding in ggplot commands with the `+` operator causes all kinds of trouble.

thanks for any ideas/tips/pointers!

[2021-07-15 13:54] jhofman commented on #41
@sharlagelfand sounds good on including the licenses in the library subdirs. thanks!

[2021-07-15 13:57] jhofman commented on #40
We have a great start here. @sharlagelfand will create a new issue to make sure we explain the limitations of this functionality and/or pop up corresponding warnings or error messages.

[2021-07-15 13:59] jhofman commented on #18
Snoozing this, but when we do get to it, we'll try Gemini2 as per #69.

[2021-07-15 14:01] jhofman commented on #13
@sharlagelfand: can you update with MIT license?

[2021-07-15 14:21] sharlagelfand commented on #51
Some links on sampling in this issue: https://github.com/tidyverse/dplyr/issues/549

[2021-07-15 20:21] #13 closed

[2021-07-15 20:21] #79 closed

[2021-07-15 20:27] sharlagelfand opened #86 "Document / warn re: limitations of ggplot2 pipeline parsing"
There are some limitations re: ggplot2 parsing (and parsing in general!), some are documented in the README:

* `color` mapping is not yet supported
* `facet_wrap()` is not supported - please use `facet_grid()`
* datamations expects different variables in the column and row facets than in the x-axis. datamations generated that do not match this layout may look different than the final plot!
* Only

[2021-07-15 20:27] sharlagelfand commented on #40
#86 is the issue for explaining these limitations, so closing this now!

[2021-07-15 20:27] #40 closed

[2021-07-15 20:29] sharlagelfand opened #87 "Support `color` in ggplot2 pipeline"
One of the limitations in ggplot2 pipeline parsing is that `color` isn't supported - shouldn't be an issue to add this to the plotting steps, since we include color in non-ggplot2 pipelines, but I just didn't parse it out from the ggplot2 object before!

This is one of the limitations in #86, but should be an easy enough fix.

[2021-07-15 20:36] #41 closed

[2021-07-16 10:11] giorgi-ghviniashvili commented on #66
Hi, I created `config.js` and specified this field name there. See this [commit](https://github.com/microsoft/datamations/commit/77b89824e759b745b368286dd1ea0e114c46e969).

You can change `datamation_x` to anything else, e.g. `dub_dub_x`, `dub_dub_y`.

![image](https://user-images.githubusercontent.com/6615532/125932132-fab2e5b7-4e3f-47cc-b3f5-9f65929f875e.png)

[2021-07-16 16:59] giorgi-ghviniashvili commented on #46
@jhofman , tooltip works well , we just need to set `mark.tooltip = true`. It will just display tooltip correctly:

![image](https://user-images.githubusercontent.com/6615532/125982544-468e6945-a5ca-4568-b055-90302da078d5.png)

The problem is that after gemini animation, it starts printing this error:

![image](https://user-images.githubusercontent.com/6615532/125982673-cedb8f76-9334-4762-8467-464

[2021-07-16 18:38] sharlagelfand commented on #66
Thanks @giorgi-ghviniashvili! I integrated that code into mine and also added a config file on the R side so it's not hard coded throughout - good idea! Seems to be working well, haven't found any cases where it breaks 🤞🏻. I'll create a pull request with the changes!

[2021-07-16 18:59] sharlagelfand opened #91 "Axes labels offset from points in cases with small amount of data"
@giorgi-ghviniashvili I noticed a bug where the axes labels and points don't match up when there is a small amount of data, e.g. 10 points:

[code]

The second frame looks like this:

<img width="660" alt="Screen Shot 2021-07-16 at 2 51 20 PM" src="https://user-images.githubusercontent.com/15895337/125995489-77f5a566-afce-4f61-85e7-0624a7c7c361.png">

It seems to level off and look okay around 50

[2021-07-19 13:51] giorgi-ghviniashvili commented on #91
@sharlagelfand good point, pushed the fix for that.

[2021-07-19 14:17] sharlagelfand commented on #46
Thanks @giorgi-ghviniashvili!

Some initial thoughts on this, we probably don't want to display "datamations_x" and "datamations_y" in the tooltips, but rather the actual column names (in the jitter / summarize views), and maybe just the grouping variables in the infogrids? We can control [what's in the tooltip](https://vega.github.io/vega-lite/docs/tooltip.html#channel) and can change the title o

[2021-07-19 14:17] #66 closed

[2021-07-19 14:32] giorgi-ghviniashvili commented on #46
@sharlagelfand yes, I see that it is possible to customize tooltip and because it is customized in `encoding`, maybe you can include that info in specs and it will just display how you configure. Or do you need me to do some logic on this?

[2021-07-19 14:33] sharlagelfand commented on #46
@giorgi-ghviniashvili I think it can be handled on my end! I'm going to test it out

[2021-07-19 18:14] sharlagelfand commented on #91
Closed by #92.

[2021-07-19 18:14] #91 closed

[2021-07-20 19:51] sharlagelfand commented on #46
I have a pretty good start on this, here's how things are looking in the group by degree / compute mean salary case:

<img width="1126" alt="Screen Shot 2021-07-20 at 3 41 53 PM" src="https://user-images.githubusercontent.com/15895337/126386079-72a0a89a-56d2-49f2-9fe6-0d9a33fa87c9.png">

So the first frame doesn't have a tooltip (I can add if we think of something!) and the rest do.

I was running

[2021-07-21 10:56] giorgi-ghviniashvili commented on #46
@sharlagelfand that's because there are two `div` stacked and top div for main viz has priority in terms of pointer events and only first div's events are captured. Background `div` pointer-events is enabled but not captured because top one covers it.

If we delete top layer, then it is working:
![image](https://user-images.githubusercontent.com/6615532/126477887-d169d60e-27ad-40fe-8f33-6503b4b558

[2021-07-21 17:19] seankross commented on #42
Hey Jake and Sharla,

I would be happy to help think about this but I am underwater with work this week, but I can revisit this next week. All the work that has been done on this is so exciting!!

Sean

[2021-07-22 17:35] sharlagelfand commented on #46
Thanks for clarifying @giorgi-ghviniashvili!

[2021-07-22 18:34] sharlagelfand commented on #87
@giorgi-ghviniashvili I'm working on this now, and realizing there's a case where we will want to have multiple variables in splitField, e.g. Work is on the x-axis, and Degree is colored, so to split by both. Is this possible? Here is a spec for the frame:

[code]

[2021-07-23 18:44] sharlagelfand commented on #86
I have a start on this over in [this branch](https://github.com/microsoft/datamations/tree/ggplot2-color), progress on errors so far:
- Error on facet_wrap()
- Error when a geom other than geom_point() is used
- Error when geom_point() is missing all together

Plus working on supporting `color` as per #87 - blocked on that right now as per my comment re: splitField

[2021-07-24 18:35] giorgi-ghviniashvili commented on #87
Hi @sharlagelfand,

Currently what `splitField` does is: it simply splits a group, by some field only once.

While technically it is possible to hierarchically split a single group further, you can achieve same thing with column facet = Work + splitField = Degree:

![image](https://user-images.githubusercontent.com/6615532/126878112-fdfeedec-393c-444a-a88b-1838156589fc.png)

By `hierarchically spl

[2021-07-26 13:44] sharlagelfand commented on #87
@giorgi-ghviniashvili Thinking more about this, I don't think we need to have multiple fields in splitField, but rather just handle coloring the points properly. For example right now this spec (slightly different from above, with just `splitField = Work`)

[code]

ends up looking like this:

<img width="779" alt="Screen Shot 2021-07-26 at 9 40 58 AM" src="https://user-images.githubusercontent.com

[2021-07-26 15:02] jhofman commented on #62
@dggoldst makes the point that even a one-variable transformation (like C to F degrees) could be difficult to understand

@sharlagelfand points out that we'd need to know the order of operations "inside" of tidyverse functions to distinguish between different mutate or summarize operations (e.g., `sum(x) / sum(y)` vs. `sum(x / y)`). there must be an existing way to get this, as the parser needs to

[2021-07-26 15:20] giorgi-ghviniashvili commented on #87
@sharlagelfand will this fix work?

![image](https://user-images.githubusercontent.com/6615532/127014558-a20afdf8-1261-46b3-ade8-074310c95339.png)

If `encoding.color`, I am generating grid like this.

[2021-07-26 15:29] sharlagelfand commented on #87
yeah @giorgi-ghviniashvili that looks great! thank you

[2021-07-28 16:44] #46 closed

[2021-07-30 19:36] sharlagelfand commented on #71
I'm running into a lot of issues deploying the app when it's moved into a separate directory from the main datamations package! Not sure why, seems to be some issue with installing datamations onto shinyapps.io that I can't quite figure out. I think I'll take a pause from this (snooze it?) rather than continue labouring on trying to figure it out, and revisit in a bit!

[2021-08-02 16:33] jhofman commented on #71
sgtm

On Fri, Jul 30, 2021 at 3:37 PM Sharla Gelfand ***@***.***>
wrote:

[2021-08-04 15:38] sharlagelfand commented on #62
Have been thinking a bit about this "black box" idea, how to show the variables "flowing in" to a transformation, the transformation itself, then the output. We could start with a generic black box just with variables:

![Datamations-52](https://user-images.githubusercontent.com/15895337/128209485-ed2f136d-5086-487a-8894-f7fca6f3c229.jpg)

But I'm not entirely sure if it's clear how this is workin

[2021-08-04 15:43] sharlagelfand commented on #62
And to address the idea of "test for ourselves: if we saw addition vs. division on an x-y scatter, would we even know the difference?" - here's an x and a y:

<img width="1066" alt="Screen Shot 2021-08-04 at 11 41 30 AM" src="https://user-images.githubusercontent.com/15895337/128211175-81ade4b2-904e-4cb0-8ee9-ea002f582ddf.png">

And some transformations of them on the y axis - it's all the basics

[2021-08-04 16:06] #86 closed

[2021-08-04 16:06] #87 closed

[2021-08-09 12:00] giorgi-ghviniashvili commented on #62
I think that handling these kind of transformations with scatterplot or bar/line charts, will make it more ambiguous than just annotating them and show just input and output.

For me a proper way of animating these kind of derivations is to build custom graphs that clearly explains what's going on.

Examples:

![image](https://user-images.githubusercontent.com/6615532/128702432-8e8a85f7-fe26-4c13-

[2021-08-18 00:12] seankross commented on #42
Hi Jake and Sharla,

My instinct for this to took really slick is to redefine the pipe (`%>%` and/or `|>`) and to redefine ggplot2's `+` (implementation here: https://github.dev/tidyverse/ggplot2/blob/master/R/plot-construction.r). Here is a proof of concept:

[code]

As you can see this doesn't completely work because `+` has not been redefined, and that requires some S3 magic that I was hoping y

[2021-08-20 18:02] sharlagelfand commented on #42
Awesome, thanks @seankross!! Will take a look over this 🙌🏻

[2021-08-30 12:57] jhofman opened #97 "Create a datamation for covid efficacy"
@dggoldst caught [this tweet](https://twitter.com/CT_Bergstrom/status/1427767356600688646?s=20), which shows a possible case of Simpson's paradox among vaccinated people in Israel. the [news media](https://messaging-custom-newsletters.nytimes.com/template/oakv2?campaign_id=9&emc=edit_nn_20210830&instance_id=39166&nl=the-morning&productCode=NN&regi_id=151685017&segment_id=67602&te=1&uri=nyt%3A%2F%2

[2021-08-31 14:37] sharlagelfand commented on #97
Oooh thanks @jhofman @dggoldst! I'll take a look and see how we might be able to visualize this - definitely good to think about binary outcomes and how we can show those.

[2021-09-29 13:46] jhofman opened #98 "Create a datamation for binary outcomes"
This is a followup to #97, which is complicated because it deals with low base rates.

So to simplify things we'll start w/ visualizing Simpson's Paradox in batting averages instead, as explained by [this example on Wikipedia](https://en.wikipedia.org/wiki/Simpson's_paradox#Batting_averages). This example compares two players and shows that while one has a higher batting average than the other wit

[2021-09-29 13:47] jhofman commented on #97
We looked at this and realized that it's extra challenging because the base rates are low (a handful out of 100,000 people have severe cases), so we created #98 as a simpler case---we'll look at Simpson's Paradox in batting averages to brainstorm binary outcomes, then we'll circle back to this.

[2021-09-29 16:37] giorgi-ghviniashvili commented on #98
@jhofman , I created this `datamation`.

Its frames are:
* starts with groups by year and player
* then shows is_hit or not. (I could not find a solution to show part of circle and part of stroked circle, because they have either mark: point or circle).
* then showing batting averages within each year
* and then showing overall averages, which shows paradox.

I think we don't need two datamations,

[2021-09-30 12:41] jhofman commented on #98
Very cool on the quick turnaround for this @giorgi-ghviniashvili!

I think it's a very good start.

Small details:

* I would switch the year to be the x axis and player to be the y axis
* "Betting" should be spelled "Batting"
* It would be great to find an open circle---it must be possible, right?

As for the two vs. one damation, I see what you mean. At the same time, I think it's nice to have t

[2021-09-30 13:50] giorgi-ghviniashvili commented on #98
Hi @jhofman,

* switched year to be x axis and player to be y axis
* fixed typo "Betting"
* open vs filled circle, I made this work.

About the 2 datamations side by side: to make this work, I must wrap whole app.js into a closure function (or class), otherwise it is not possible to have two instances at the same time. When `init` is called second times, it overwrites old values because they are i

[2021-09-30 14:00] jhofman commented on #98
Great on the fixes. No worries about making it actually side by side. Would
be fine to just make two separate movies, we can view them in separate
browser tabs to compare.

On Thu, Sep 30, 2021 at 9:50 AM Giorgi Ghviniashvili <
***@***.***> wrote:

[2021-09-30 14:06] giorgi-ghviniashvili commented on #98
I just modified it to make side-by-side. @jhofman let me know what you think.

https://user-images.githubusercontent.com/6615532/135470452-0ceae3da-8bae-4c02-bee1-4c9503f1935b.mov

[2021-09-30 15:14] giorgi-ghviniashvili commented on #98
@jhofman , having it wrapped by a function, into a private scope is best practice. I hope @sharlagelfand  can fix modify htmlwidgets to support this. Otherwise I can revert that change. Not it does not create any problems, because it is in a separate branch.

[2021-10-01 03:53] joelostblom opened #99 "Save output animation to file"
Thanks for the work on this library, it looks really cool and I am looking forward to incorporating it in my data viz teaching!

I am wondering if there are any options to redirect the output to a file programatically, either `.html` or `.gif` would work great for my purposes.

[2021-10-01 03:57] joelostblom opened #100 "Assign the group_by variable to color and use two summarized variables on the xy-axes?"
I am trying to replicate a plot like this from altair/vega:

[code]

![image](https://user-images.githubusercontent.com/4560057/135562718-88858238-93e1-4b4a-844c-9f00e0f5f458.png)

I thought something like this might do it, but it keeps the grouped variable on the x-axis instead of assigning it to the color, and also drops one of the summarized variables. Is it possible to specify which variable s

[2021-10-01 16:32] jhofman commented on #98
Gotcha. Is there a way to get better spacing on the circles so they don't overlap?

[2021-10-01 19:24] giorgi-ghviniashvili commented on #98
@jhofman good point. I reduced circle radius:

![image](https://user-images.githubusercontent.com/6615532/135675638-cd74d3d5-8c0b-4139-a490-48e28743e325.png)

[2021-10-04 16:41] jhofman commented on #98
Smaller radius looks much better.

Can you update colors to be consistent as well, so that Derek Jeter's points are all orange from the first frame to the last?

Once those are set can you render the full animation to see what it looks like? (I'm seeing just the key frames at the moment.)

[2021-10-05 09:52] giorgi-ghviniashvili commented on #98
@jhofman

I can't make the colors consistent on second frame, because I am adjusting fill and stroke colors based on hit. So if hit === yes, then fill blue, otherwise #fff.

I am not able to add expression like that: `datum['player'] == 'Derek' && datum['hit'] === 'hit' ? 'orange' : '#fff'`, the only thing I can do is to map `[yes, no]` to `['blue', 'white']`.

About placing players side by side,

[2021-10-05 18:17] jhofman commented on #98
This is a nice update!

On the colors, what can we do as a workaround for this? I think it will be generally important to have this kind of functionality.

Is it a limitation due to Gemini or Vega, or something about the stack you've built on top of them?

[2021-10-05 18:41] giorgi-ghviniashvili commented on #98
I could not figure out in Vega. I still can try out some workarounds.

[2021-10-09 15:09] giorgi-ghviniashvili commented on #98
@jhofman I easily made it with shapes:

![image](https://user-images.githubusercontent.com/6615532/136663752-2a67c38f-e9b7-4881-aa4d-f56c1d42e651.png)

![image](https://user-images.githubusercontent.com/6615532/136663826-23fc3e71-c134-4773-bf8b-df13303f9752.png)

[2021-10-12 19:01] sharlagelfand commented on #100
Hi @joelostblom! In general, it is possible to specify which variables goes where by passing the spec as ggplot2 code, as in this example from the README:

[code]

![README-mean_salary_group_by_degree_work_ggplot](https://user-images.githubusercontent.com/15895337/137013669-cd358469-8175-4dc1-b58e-7ea4f5927813.gif)

As to your question about dropping one of the summarized values - right now we onl

[2021-10-20 09:06] giorgi-ghviniashvili commented on #98
I switched to `col = ceiling(sqrt(N))`:

![image](https://user-images.githubusercontent.com/6615532/138060702-9b083c29-84c9-4f9b-aacd-4cd073090491.png)

[2021-10-20 14:27] sharlagelfand commented on #99
Just thinking, it would probably be helpful to even be able to export each of the frames individually, so that they can e.g. be laid out all together on a page or gif'd together really slowly, even without considering the animations!

[2021-10-20 15:18] giorgi-ghviniashvili commented on #98
@sharlagelfand take a look at this #102

[2021-11-01 15:53] jhofman commented on #97
Adding some dangling code I had for creating dataframes to use for playing around with a COVID efficacy visualization:

[code]

[2021-11-01 15:54] jhofman commented on #97
Also, two related articles that could be interesting to datamate.

First viz:
https://messaging-custom-newsletters.nytimes.com/template/oakv2?campaign_id=9&emc=edit_nn_20211012&instance_id=42622&nl=the-morning&productCode%3DNN=&regi_id=151685017&segment_id=71397&te=1&uri=nyt%3A%2F%2Fnewsletter%2F3920aed4-2adc-5e7a-8901-0271ca47d214&user_id=3cfe556826e1420e5572984864db2469

Paragraphs starting with

[2021-11-02 08:47] giorgi-ghviniashvili commented on #98
@jhofman I was playing with the batting averages datamations and I think that if we want to compare players within the year like this:
![image](https://user-images.githubusercontent.com/6615532/139814446-b295de4a-941b-4427-a13f-4878ec7f07f3.png)

Then we need to have years as column facets in previous facets as well, otherwise animation looks ugly.

[2021-11-02 09:21] giorgi-ghviniashvili commented on #98
@jhofman hit yes/no legend achieved using shape encoding and legend symbolFillColor 😎 :

![image](https://user-images.githubusercontent.com/6615532/139819534-8e04cd3f-4ac7-42a3-b44f-cedb02c59a85.png)

[2021-11-02 13:42] giorgi-ghviniashvili commented on #98
there is a gist for solution [spec](https://gist.github.com/giorgi-ghviniashvili/ab09c7ac3f5ffc20c4481e51b049d502).

[2021-11-02 14:13] jhofman opened #104 "Port the salary example to Python"
Let's see if we can get the json for the key frames of this datamation when it's written in Python/Pandas:

[code]

In Python the analysis could should be something more like this:

```small_salary.groupby("Degree").mean("Salary")```

where `small_salary` is a Pandas dataframe.

Challenges here:

0. What's the right line of Pandas code to mimic the R code above (the `eval()` function)?
1. How do w

[2021-11-02 14:15] jhofman opened #105 "Prototype how funky groupings could look better"
Here are some test specs and their videos:

## 100 points to 50/50

https://user-images.githubusercontent.com/15895337/138937144-ba792f6b-9353-4405-b449-7317afbb4864.mov

[code]

## 100 points to 48/52 (to see the crossover when the number isn't round to 10 / sqrt(1000)

https://user-images.githubusercontent.com/15895337/138937175-30a9f210-c5d1-4fe0-8921-52dd390ef08d.mov

[code]

## 100 points to

[2021-11-02 14:16] jhofman commented on #105
The 20 groups of 5 look kind of strange at the moment. @giorgi-ghviniashvili, can you visually prototype how these might look more intuitive and then we'll figure out how to make that algorithmic in datamations code?

[2021-11-02 14:58] jhofman opened #106 "Tracking points between key frames?"
The issue of tracking data points across key frames came up today.

Right now we don't handle this, but at some point we might want to (e.g., if we filter data or something like that).

Not urgent, but just creating this so that we don't lose it as something to think about.

[2021-11-02 15:17] jhofman opened #107 "Prototype filtering"
@giorgi-ghviniashvili: related to #106, can you prototype what filtering out points would look like?

We know we want them to "disappear" or fade out, but it'll be interesting to explore how we annotate which points disappear and why.

for instance, on the salary data, imagine two different filtering operations:

1. Filtering to only people in academia: `small_salary %>% filter(Work == "Academia")

[2021-11-02 16:18] giorgi-ghviniashvili commented on #98
@sharlagelfand  yes , good catch. It seems like that vega-lite tries to give default color to shape encoding which is blue and ignores all legend parameters. As long as we will have color for sure, I think this solution will work. We just need to make sure that no shape is passed when color is missing.

[2021-11-02 16:27] sharlagelfand commented on #98
I don't think we can guarantee that color will be present @giorgi-ghviniashvili so we will need to find some solution for when it is missing

[2021-11-02 16:39] giorgi-ghviniashvili commented on #98
@sharlagelfand if you don't have color, then use [this approach](https://vega.github.io/editor/#/url/vega-lite/N4IgJAzgxgFgpgWwIYgFwhgF0wBwqgegIDc4BzJAOjIEtMYBXAI0poHsDp5kTykBaADZ04JACyUAVhDYA7EABoQAEySYUqUMSSCGcCGgDaoGHTQgAnvsUq1SZJnayIAfQAeaAIxLV6h09cLLwBfBRMzdFk2G197NQD3NAAmHzt-OUCQgF1QkGQAJwBrNFBMCxw4cxw2GllMGwgaAC9K1E8ABnalADMaQUE4ZTRMfL0lCBG2QrgAdRplemSlKDZBNnzzAGIADl2QXLhZFeVashKQD00QXrhBIf

[2021-11-03 21:01] sharlagelfand commented on #98
Thanks @giorgi-ghviniashvili!

Just want to share where things are at with the Simpson's Paradox example now since I have made pretty good progress. Just a note that I have sampled the data (~30%) since we cannot support that many points (#51), so the actual numbers might not look as you expect @jhofman

## grouping by player only

[Specs](https://github.com/microsoft/datamations/blob/binary-outco

[2021-11-03 22:07] jhofman commented on #97
Relevant icon array!

https://twitter.com/xruiztru/status/1452180847088517131

![image](https://user-images.githubusercontent.com/79563/140199906-1b5a9db7-979f-479b-b001-2e6e5ba8d6bd.png)

[2021-11-05 07:40] giorgi-ghviniashvili commented on #107
@jhofman here is how I achieved it. Legend is a bit funky, just added title to the legend:

https://user-images.githubusercontent.com/6615532/140475015-a0e3657d-b1af-4672-8f96-039706d34c3e.mov

@sharlagelfand notice that I added `meta` to each data value:

![image](https://user-images.githubusercontent.com/6615532/140475078-cd15fbd7-c0bf-4849-bf5d-e3821ee63466.png)

It was needed to add `Work` on

[2021-11-05 07:47] giorgi-ghviniashvili commented on #99
@jhofman btw, vega-lite has this details popup which is able to export visualization as png or svg. I hid it because it will not work properly when we hack facets. But it just works when there is `meta: {axes: false}`.

![image](https://user-images.githubusercontent.com/6615532/140475956-12feb99d-68fd-485d-9162-874fb7a40271.png)

[2021-11-05 08:44] giorgi-ghviniashvili commented on #99
I made a solution that will just download all frames as pngs. This will also work for hacked facets.

https://user-images.githubusercontent.com/6615532/140482851-08997a4c-71ef-4cc1-af5e-99f525faa1e3.mov

[2021-11-05 09:58] giorgi-ghviniashvili commented on #105
@jhofman @sharlagelfand I thought that maybe we can first collapse 10 groups into 5 and then animate right? Like this:

https://user-images.githubusercontent.com/6615532/140492806-07bdf9af-d1c1-4643-8a0e-f99556ded3bb.mov

But as I searched, we can utilize gemini2 to further instruct intermediate animations.. Check this out: https://uwdata.github.io/gemini2-editor/

[2021-11-05 13:10] jhofman commented on #99
Note: the gemini editor has an export as GIF button, perhaps we can learn something about how it works?

[2021-11-05 13:15] jhofman commented on #107
This looks great so far, @sharlagelfand points out that we should be careful about empty circles representing properties of the data vs. data transformations, so let's think about this a bit more.

I'd propose is that we mimic the gemini example and don't do any special visual indication of the points to be filtered, but instead just make points fade out and have the title reflect what filtering h

[2021-11-05 13:25] jhofman commented on #105
We all liked the idea of squashed vertical for these groups (whitespace on top and bottom) for these many small groups.

Maybe the heuristic here is that you don't want too much whitespace between points in a group in some "absolute" sense (relative to the size of the bounding box)?

@giorgi-ghviniashvili, can you play around with this and also with the "faceted grids" arranged as we drew on paper

[2021-11-05 13:56] jhofman commented on #104
@chisingh has a first cut working where you pass a string to be `eval`-ed and the dataframe to operate on. it would be great if we could somehow avoid having to pass the dataframe as well, but it's not a big deal if we can't get around this.

but maybe there's a way to solve both this problem and the next step (parsing the pipeline) at once: could we somehow inherit and extend the `DataFrame` clas

[2021-11-05 13:57] jhofman commented on #98
@giorgi-ghviniashvili is going to hide the faked legend, which should take care of that problem.

sounded like there was a css fix for the x axis misalignment, and something that needed to be added to the spec to fix the y-axis annotations?

[2021-11-08 09:24] giorgi-ghviniashvili commented on #107
@jhofman alright. I removed intermediate spec of `filled-vs-nonfilled` circles. And just fading out circles:

https://user-images.githubusercontent.com/6615532/140715176-bf1b3035-c047-4830-8f8a-9163e3da8b1b.mov

New issue is that, because the filtered circles faded out and `transform.filter` executes by vega after grid generation, the inner grids are not centered aligned to x axis labels.

![image

[2021-11-08 09:50] giorgi-ghviniashvili commented on #105
Adjusted y axis domain so it has good amount of padding.

https://user-images.githubusercontent.com/6615532/140720318-37d6cf43-be11-44ff-a318-83a90eba4033.mov

[2021-11-08 11:27] giorgi-ghviniashvili commented on #98
To hide a faked legend, please include css:

[code]

About the second issue of being `off`, @sharlagelfand . It only happens when there is y axis title, but no `scale.domain`. I included `scale.domain = [0, 0.4]` in y encoding and the issue solved. Error bars working great as well. I think this should be a general solution to always include scale.domain if there is a title for y axis. It is also n

[2021-11-08 17:23] sharlagelfand commented on #107
I think that we would always treat the filter as a separate step, so e.g. could be `initial data > filter > group`, in which case the filter would happen on the initial grid, then the points would be grouped (and centered) so that's fine.

Or alternatively if it's `initial data > group > filter` then the points would be grouped first, then filtered out, and would look how they do in the final fram

[2021-11-08 17:47] sharlagelfand opened #108 "Bug with `row_header` missing"
@giorgi-ghviniashvili I'm testing to make sure we aren't breaking existing visualizations as we progress, and saw that there is an issue when there are three grouping variables, e.g. these specs:

<details>

[code]
</details>

do not produce a visualization, just the error:

[code]

Could you please take a look? thank you!

[2021-11-08 18:23] sharlagelfand commented on #98
thanks @giorgi-ghviniashvili, that works great now! Just want to confirm that we will _never_ need to see the faked legend, and that we only use real ones? so using

[code]

will never hide something that we actually need to see.

Here is how the datamations look now (cc @jhofman) - I think they look pretty good!!

## group by player

[specs](https://github.com/microsoft/datamations/blob/binary-ou

[2021-11-08 21:52] jhofman commented on #104
helpful tips from @dodger487, who recommended we check out the following libraries:

https://docs.dask.org/en/stable/10-minutes-to-dask.html
https://www.sympy.org/en/index.html
https://github.com/machow/siuba

[2021-11-08 22:17] jhofman commented on #107
Agreed @sharlagelfand, sounds good to treat them as separate steps and keep them modular.

[2021-11-08 23:06] sharlagelfand opened #109 "Support `count()` operation"
I think this is inevitable as part of #97, and especially this infographic:

Right now we can show a similar infogrid by just grouping by e.g. vaccinated and outcome (`df %>% group_by(vaccination_status, outcome)`), but the fact that this would work and show the info grid is more of a side effect / hidden feature and is not how someone would actually be summarizing the data - more likely to have e

[2021-11-08 23:21] sharlagelfand commented on #98
And just wanted to share how categorical values looks, with shape!

[code]

https://user-images.githubusercontent.com/15895337/140833675-c7d1eec0-0219-4ac2-96be-f84588c0b082.mov

[2021-11-09 06:17] giorgi-ghviniashvili commented on #107
ok, then we should just include `transform.filter` in filter spec.

[2021-11-09 06:44] giorgi-ghviniashvili commented on #98
@sharlagelfand yes, I confirm that the css only hides faked legend.

About the axis issue, seems like it is gemini issue: animating from A to B, where A does not have y axis and B has, causes this issue. Seems like that when we have facets, this issue is gone.

Tested gemini recommendations and all missing y axis.

![image](https://user-images.githubusercontent.com/6615532/140875165-b30bbdfd-9709-

[2021-11-09 15:02] giorgi-ghviniashvili commented on #108
@sharlagelfand I see, it is fixed in branch `filtering`. I will send a PR of all branches together.

[2021-11-09 15:24] jhofman commented on #107
one concern is that we don't want to have to translate R filter commands to vegalite-compatible transform.filter commands. a solution here would be to just have R pass a True/False indicator for each point as to whether it gets filtered out or not (or equivalently a list of the points that should be filtered out).

we could solve this by passing some original "id" for each row (maybe called "row_n

[2021-11-09 19:42] sharlagelfand commented on #98
@giorgi-ghviniashvili  it looks like there's an issue with the grid generation - e.g. this data set:

[code]

I send this spec for showing the values of is_hit

[code]

but the real spec that the JS code produces has [no values with is_hit = 1, they are all 0](https://vega.github.io/editor/#/url/vega-lite/N4IgFgpglg5mAuIBcBmADGgNCA7lAJvGMuliACQDOAxpALYCGy488ADpUgPRcBuEMBgDoYUIgFcARkKgB7LjXoM+AhgFo

[2021-11-10 07:34] giorgi-ghviniashvili commented on #98
@sharlagelfand there has been a small but with index. Fixed it:

![image](https://user-images.githubusercontent.com/6615532/141069514-eab04747-157f-4da0-bb06-07beec7c0a8f.png)

[2021-11-10 07:46] giorgi-ghviniashvili commented on #107
#### Option 1 (let vega-lite filter using transform.filter. Passing `meta` fields to know which datapoint is Academia and which Industry):

[code]

#### Option 2 (passing array of 0s and 1s with `data.values`):

[code]

[2021-11-10 16:25] sharlagelfand commented on #98
Thanks @giorgi-ghviniashvili, that case is fixed. It does not seem to be generalizable though - here is a small variant, where the only change is "is_hit": 1 comes before "is_hit": 0.

[code]

Here are the [specs it produces](https://vega.github.io/editor/#/url/vega-lite/N4IgFgpglg5mAuIBcBmADGgNCA7lAJvGMuliACQDOAxpALYCGy488ADpUgPRcBuEMBgDoYUIgFcARkKgB7LjXoM+AhgFoANmIh8ALEIBWlWQDsQ2fA3hMkoXgw3iIlZA

[2021-11-10 17:32] giorgi-ghviniashvili commented on #98
@sharlagelfand good point, fixed.

![image](https://user-images.githubusercontent.com/6615532/141163500-5c1c9b43-64fc-4d17-bc33-6afd3953f184.png)

[2021-11-11 14:39] #108 closed

[2021-11-11 15:09] jhofman commented on #107
Let's go with Option 3, it's equivalent to 2 but more general.

[2021-11-11 15:24] jhofman commented on #62
@giorgi-ghviniashvili will work on visually prototyping the addition vs. division test case that @sharlagelfand mentioned in https://github.com/microsoft/datamations/issues/62#issuecomment-892766005

[2021-11-11 18:51] sharlagelfand commented on #97
@jhofman can you link some of the other articles we were looking at in our meeting today? especially the ones looking by age. thank you!

[2021-11-11 19:45] jhofman commented on #97
yes!

the first chart here could be interesting to visualize as an icon array / animate: https://messaging-custom-newsletters.nytimes.com/template/oakv2?campaign_id=9&emc=edit_nn_20211012&instance_id=42622&nl=the-morning&productCode%3DNN=&regi_id=151685017&segment_id=71397&te=1&uri=nyt%3A%2F%2Fnewsletter%2F3920aed4-2adc-5e7a-8901-0271ca47d214&user_id=3cfe556826e1420e5572984864db2469

here are the

[2021-11-11 20:36] jhofman commented on #97
More interesting efficacy numbers here: https://www.cdc.gov/mmwr/volumes/70/wr/mm7032e3.htm?s_cid=mm7032e3_w

[2021-11-16 17:10] jhofman commented on #7
Looping @chisingh in on this, let's coordinate on unit tests for R and python.

One idea that wasn't obvious when this was created, but makes sense now: unit tests can check the specs generated on the backend language side, perhaps not a checksum or hash but checking for certain key fields in the generated json.

[2021-11-16 17:13] jhofman commented on #107
@giorgi-ghviniashvili: @sharlagelfand  has filtering working at the end of pipelines (e.g., after the summarize), but looks like some coordination between you both needs to happen to get filtering to work earlier in the pipeline in terms of matching ids between frames.

can you follow up on this to make some progress before thursday?

[2021-11-16 17:15] jhofman commented on #104
@giorgi-ghviniashvili: @chisingh has python code working that generates an array of specs and is now looking into rendering animations within a jupyter notebook.

can you two discuss how to integrate the javascript code into jupyter? it looks like it might be as simple as calling the `App()` with the right jupyter widget/plugin, similar to R's htmlwidget?

[2021-11-16 17:16] sharlagelfand commented on #107
thanks @jhofman! @giorgi-ghviniashvili, I will post an update / question here on what we need to coordinate on in a few hours.

[2021-11-16 21:24] sharlagelfand commented on #107
From what I can tell, the IDs that I am generating match the IDs generated by the info grid generation on @giorgi-ghviniashvili's side.

Filtering does working in some initial test cases without any modification of things on the JS side 🎉  Here is the some progress of where things are at:

## filter after initial data

[code]

https://user-images.githubusercontent.com/15895337/142066503-8454be43-6

[2021-11-17 17:00] sharlagelfand opened #114 "info grid generation not using order of groups in data passed"
@giorgi-ghviniashvili I noticed that the info grid generation does not maintain the order of groups as it is in the data passed, e.g. data like this:

[code]

with these specs:

<details>

[code]

</details>

results in a vega lite plot that looks like this:

<img width="536" alt="Screen Shot 2021-11-17 at 11 59 20 AM" src="https://user-images.githubusercontent.com/15895337/142246547-485b2b2b-0f1c

[2021-11-17 17:03] sharlagelfand opened #115 "Issue with hacked facet alignment"
May be related to #114 but I noticed while trying to make some visualizations for #97 that there is some issues with the hacked facet alignment, particularly with these specs:

<details>

[code]

</details>

looking like this:

<img width="1114" alt="Screen Shot 2021-11-17 at 12 02 25 PM" src="https://user-images.githubusercontent.com/15895337/142247094-1e4b3d22-31ed-4062-8f52-158d64d8b7ad.png">

[2021-11-17 18:49] giorgi-ghviniashvili commented on #114
@sharlagelfand , grid generation works correctly. It is the vega that sorts `<` (less than sign) at the end. If you try and remove this sign and put only 18, it works correctly. Let me find out how we can force vega to not to sort like that.

[2021-11-17 19:07] giorgi-ghviniashvili commented on #114
Ok, facet declaration has `sort` field:

![image](https://user-images.githubusercontent.com/6615532/142265845-2ab984fb-70d8-4c86-ba1f-b15e51cce24b.png)

Adding `datamations_order` to grid generation function and assigning `sort` to facets:

![image](https://user-images.githubusercontent.com/6615532/142266074-4cafbfa4-5fa8-4839-ae68-1279cc22112a.png)

Which fixes the issue:

![image](https://user-i

[2021-11-17 19:13] giorgi-ghviniashvili commented on #115
@sharlagelfand  please provide a raw spec. This spec has giant `data.values`.

P.S let's define some terms:
`raw spec` - the one that needs to be processed by grid gen func.
`product spec` - the spec that grid gen func outputs.

[2021-11-17 19:30] giorgi-ghviniashvili commented on #107
@sharlagelfand `hackFacet` was completely ignoring `transform` fields. I just included and it works now:

![image](https://user-images.githubusercontent.com/6615532/142269501-4b662f2e-8f91-4191-ae9e-da13b79188a6.png)

[2021-11-17 19:44] giorgi-ghviniashvili commented on #104
There are bunch of questions on Stackoverflow about embedding js code to jupyter notebook.

https://stackoverflow.com/questions/48248987/inject-execute-js-code-to-ipython-notebook-and-forbid-its-further-execution-on-p

`from IPython.display import display, HTML, Javascript` using display

There is also cell magic commands : %%javascript or %%js:
![image](https://user-images.githubusercontent.com/6